/* last merged this code on 21st may 2024  */
.postTypeContainer{
  height: 100%;
  padding: 5px 50px;
}
.postTypeButton{
  border: 4px solid transparent;
  padding: 10px;
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  outline: none;
  font: inherit;
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
  color: #3f3f3f;
  background: #f2f2f2;
  box-shadow: 0 0 0 1.2px #e7e7e7;
  -webkit-box-shadow: 0 0 0 1.2px #e7e7e7;
  -moz-box-shadow: 0 0 0 1.2px #e7e7e7;
  cursor: pointer;
}
.postTypeButton.coProfile{
  height: 160px;
}
/*.postTypeButton:last-of-type{
  margin-bottom: 0;
}*/
.postTypeButton:hover{
  box-shadow: 0 0 0 1.2px #838383;
  -webkit-box-shadow: 0 0 0 1.2px #838383;
  -moz-box-shadow: 0 0 0 1.2px #838383;
  border: 4px solid #e3e3e3;
}
.postTypeButton:focus{
  border: 4px solid #6666dc;
  box-shadow: 0 0 0 1.2px #6666dc;
  -webkit-box-shadow: 0 0 0 1.2px #6666dc;
  -moz-box-shadow: 0 0 0 1.2px #6666dc;
}

input[type="radio"]:checked + .credential-text {
  font-weight: 600;
}

@media screen and (min-width: 758px) {
  .postTypeContainer{
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  /*  padding: 5px 110px;*/
  }
  .postTypeButton{
    width: 150px;
    height: 150px;
    margin-bottom: 0;
  }
  .postTypeButton.coProfile{
    height: 200px;
  }
  .postType-desc.coProfile{
    height: 80px!important;
  }
}
@media screen and (max-width: 499px) {
  .previewSuperContainer{
    position: absolute;
    bottom: 30px;
    width: 82vw;
  }
  .credentialPreviewContainer{
    margin-top: unset!important;
  }
  .credentialPreviewContainer .credDetail{
    display: inline-block;
    height: auto;
    vertical-align: text-top;
    width: 185px;
    white-space: normal;
    text-align: left;
  }
  .qaComingSoonContainer,
  .selectPostTypeContainer{
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .postToGroupContainer{
    width: 100%;
  }
}
.crerdentialPreviewTitle{
  color: #fff;
    background-color: rgba(78,78,214,1);
    width: auto;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    padding: 5px 10px;
}
.credentialPreviewContainer{
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  justify-content: center;
  align-items: center;
  background-color: #e1e1e1;
  margin-top: 25px;
  margin-bottom: 8px;
  padding: 16px;
  text-align: center;
  white-space: nowrap;
  display: block!important;
  overflow: hidden;
}
.editCredentialBtn{
  cursor: pointer;
}
.editCredentialBtn:hover{
  text-decoration-line: underline;
  text-underline-offset: 2px;
}
#close-credential-bkBtn{
  cursor: pointer;
}
/* CSS for a pop up box within a modal. If want to use then have to rename it
.credentialPickerContainer{
  background-color: #fff;
  position: absolute;
  z-index: 100;
  left: 160px;
  top: 15px;
  width: 100%;
  height: auto;
  max-width: 40em;
  box-shadow: 0 3px 10px 0 rgb(0 0 0 / 28%);
  -webkit-box-shadow: 0 3px 10px 0 rgb(0 0 0 / 28%);
  -moz-box-shadow: 0 3px 10px 0 rgba(0,0,0,.28);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}*/
.credentialsContainer{
  max-height: 197px;
  overflow-y: scroll;
}
.credential-item{
  height: 50px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #3f3f3f;
  border-bottom: 1px solid #e5e5e5;
}
.credential-item:hover{
  background-color: #f6f6f6!important;
}
.credential-item .radioContainer{
  margin-right: 5px;
  margin-bottom: -5px;
  line-height: 1.4rem;
}
.defaultCredential{
  padding-left: 29px;
}
.anonOption{
  cursor: pointer;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}
.anonOption .checkboxText{
  margin-left: unset;
}
.anonOption .checkbox{
  position: unset;
}
.postTypeIcon{
  margin-top: 5px;
  margin-bottom: 5px;
}
.postType-title{
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.postTypeButton:focus .postType-title,
.postTypeButton:focus .postTypeIcon,
.postTypeButton:focus .postType-desc {
  color: #6666dc;
}
.postType-desc{
  font-size: 13px;
}
.postType-desc.coProfile{
  height: 40px;
}

.ModalOpenBtn-postHighlight{
  height: 50px;
  box-shadow: 0 1px 13px 0 rgb(0 0 0 / 18%);
  -webkit-box-shadow: 0 1px 13px 0 rgb(0 0 0 / 18%);
  -moz-box-shadow: 0 1px 13px 0 rgb(0 0 0 / 18%);
  background-color: #4e4ed6;
  font-size: 16px;
}

.addHighlight-user{
  padding-left: 63px;
}

.addCustomCredentialsContainer{
  background: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid grey;
}

#selectBox-selectAuthorinsttype{
  margin-right: 20px;
}

#autocompleterTags-selectHashtag{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #d9d9d9;
  padding-left: 0px;
  padding-right: 0px;
}
#autocompleterTags-selectHashtag:focus-within,
#autocompleterTags-selectHashtag:focus{
  box-shadow: 0 0 0 1.2px #4e4ed6;
  -webkit-box-shadow: 0 0 0 1.2px #4e4ed6;
  -moz-box-shadow: 0 0 0 1.2px #4e4ed6;
  border: 3px solid rgba(122,80,199,.1);
  padding: 8px 13px;
}

#autocompleteBox-selectHashtag{
  font-size: 14px;
}

.fileBoxesContainer{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.fileBox{
  height: 70px;
  width: 70px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
  background-color: #f2f2f2;
  border: 1px solid #e5e5e5;
}

.fileBoxImg{
  width: 70px;
  height: 70px;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  background-size: cover;
  background-position: center center;
}

.fileIcon-container.addHighlight{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
}

.fileBox:hover .ModalOpenBtn-addPicBtn {
  background: rgba(0,0,0,0.5);
  color: #fff;
  opacity: 1;
}
.qaComingSoonContainer{
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 40px;
}
.qaTitle{
  font-size: 32px;
  font-family: system-ui;
}
.postToGroupContainer{
  width: 330px;
}
.form-control-std.addHighlight{
  line-height: 22px;
  color: #000;
  margin-bottom: 20px;
}
@media screen and (min-width: 499px) {
  .form-control-std.addHighlight{
    font-size: 18px;
  }
}
.form-control-std.addHighlight:focus{
  color: #3f3f3f;
}
.form-control-std.addHighlight::placeholder{
  color: #a3a1a1;
  opacity: 1; /* Firefox */
}
.form-control-std.addHighlight::-webkit-input-placeholder{
  color: #a3a1a1;
}
.form-control-std.addHighlight:-moz-input-placeholder{
  color: #a3a1a1;
}
.form-control-std.addHighlight::-moz-input-placeholder{
  color: #a3a1a1;
}
.form-control-std.addHighlight:-ms-input-placeholder{
  color: #a3a1a1;
}
.form-control-std.addHighlight::-ms-input-placeholder{
  color: #a3a1a1;
}
