/* last merged this code on 27th oct 2021  */
.postTypeContainer{
  height: 100%;
  padding: 5px 50px;
}
.postTypeButton{
  border: 4px solid transparent;
  padding: 10px;
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  outline: none;
  font: inherit;
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
  color: #3f3f3f;
  background: #f2f2f2;
  box-shadow: 0 0 0 1.2px #e7e7e7;
  -webkit-box-shadow: 0 0 0 1.2px #e7e7e7;
  -moz-box-shadow: 0 0 0 1.2px #e7e7e7;
  cursor: pointer;
}
.postTypeButton:last-of-type{
  margin-bottom: 0;
}
.postTypeButton:hover{
  box-shadow: 0 0 0 1.2px #838383;
  -webkit-box-shadow: 0 0 0 1.2px #838383;
  -moz-box-shadow: 0 0 0 1.2px #838383;
  border: 4px solid #e3e3e3;
}
.postTypeButton:focus{
  border: 4px solid #6666dc;
  box-shadow: 0 0 0 1.2px #6666dc;
  -webkit-box-shadow: 0 0 0 1.2px #6666dc;
  -moz-box-shadow: 0 0 0 1.2px #6666dc;
}

@media screen and (min-width: 758px) {
  .postTypeContainer{
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px 110px;
  }
  .postTypeButton{
    width: 170px;
    height: 150px;
    margin-bottom: 0;
  }
}
.editCredentialBtn{
  cursor: pointer;
}
.editCredentialBtn:hover{
  text-decoration-line: underline;
  text-underline-offset: 2px;
}
.credentialPickerContainer{
  background-color: #fff;
  position: absolute;
  z-index: 100;
  left: 160px;
  top: 15px;
  width: 100%;
  height: auto;
  max-width: 40em;
  box-shadow: 0 3px 10px 0 rgb(0 0 0 / 8%);
  -webkit-box-shadow: 0 3px 10px 0 rgb(0 0 0 / 8%);
  -moz-box-shadow: 0 3px 10px 0 rgba(0,0,0,.08);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}
.postTypeIcon{
  margin-top: 5px;
  margin-bottom: 5px;
}
.postType-title{
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.postTypeButton:focus .postType-title,
.postTypeButton:focus .postTypeIcon,
.postTypeButton:focus .postType-desc {
  color: #6666dc;
}
.postType-desc{
  font-size: 13px;
}

.ModalOpenBtn-postHighlight{
  height: 50px;
  box-shadow: 0 1px 13px 0 rgb(0 0 0 / 18%);
  -webkit-box-shadow: 0 1px 13px 0 rgb(0 0 0 / 18%);
  -moz-box-shadow: 0 1px 13px 0 rgb(0 0 0 / 18%);
  background-color: #4e4ed6;
  font-size: 16px;
}

.addHighlight-user{
  padding-left: 63px;
}

#autocompleterTags-selectHashtag{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #d9d9d9;
  padding-left: 0px;
  padding-right: 0px;
}
#autocompleterTags-selectHashtag:focus-within,
#autocompleterTags-selectHashtag:focus{
  box-shadow: 0 0 0 1.2px #4e4ed6;
  -webkit-box-shadow: 0 0 0 1.2px #4e4ed6;
  -moz-box-shadow: 0 0 0 1.2px #4e4ed6;
  border: 3px solid rgba(122,80,199,.1);
  padding: 8px 13px;
}

#autocompleteBox-selectHashtag{
  font-size: 14px;
}

.fileBoxesContainer{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.fileBox{
  height: 70px;
  width: 70px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
  background-color: #f2f2f2;
  border: 1px solid #e5e5e5;
}

.fileBoxImg{
  width: 70px;
  height: 70px;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  background-size: cover;
  background-position: center center;
}

.fileIcon-container.addHighlight{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
}

.fileBox:hover .ModalOpenBtn-addPicBtn {
  background: rgba(0,0,0,0.5);
  color: #fff;
  opacity: 1;
}
