/* Dex last merged this code on 18th aug 2021  */

.article-page {
  position: relative;
  padding-bottom: 50px;
}
.article-page.profile{
  margin-top: -60px;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 0;
}
.article-page.profile.safari{
  margin-top: -90px;
}
.article-page.matching{
  height: 100%;
}
@media screen and (min-width: 759px) {
  .article-page.profile{
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
}

.article-page .article-container {
  max-width: 960px;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  max-width: 660px;
  font-size: 17.1px;
  line-height: 26px;
  height: 100%;
}
.article-page .article-container.safari {
  margin-top: 0;
}
.article-page .article-container.profile{
  padding: 0;
}
.article-page .article-container .content-col.profile {
  padding-top: 4.5em;
}
.article-page .article-container .category-list {
  padding-right: 10px;
  padding-top: 10px;
  vertical-align: top;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
}
.article-page .article-container .category-list.sticky {
  position: fixed;
  top: 4.5em;
}
@media only screen and (min-width: 759px) {
  .article-page .article-container .category-list.sticky {
    margin-left: 0px;
    right: 13px;
  }
}
@media only screen and (min-width: 960px) {
  .article-page .article-container .category-list.sticky {
    margin-left: 629.36px; /* calculated by: max-width of 960px * 66.6% i.e. col-8 minus 10px margin-right */
    right: auto;
  }
}
.article-page .article-container .category-list.profile,
.article-page .article-container .article-extras.profile {
  padding-top: 5.5rem;
  z-index: 2; /* otherwise tooltip for PrVerified was overriden */
}
.article-page .article-container .article-extras.matchUser,
.article-page .article-container .content-col.matchUser {
  padding-top: 50px;
}
/* Add separate scroll for left hand side of Match User full pager */
@media screen and (min-width: 425px) {
  .article-page .article-container .article-extras.matchUser{
    overflow-y: scroll;
    height: 100%;
  }
}
@media screen and (min-width: 759px) {
  .article-page .article-container .article-extras.profile {
    padding-left: 3rem;
    padding-right: 1rem;
    height: 100vh;
  }
  .article-page .article-container .article-extras.matchUser {
    padding-left: 50px;
    padding-right: 30px;
  }
}
.article-page .article-container .category-list .section-list,
.article-page .article-container .category-list .section-list.left{
  display: none;
}

@media screen and (min-width: 759px) {
  .article-page .article-container {
    width: 100%;
    max-width: 960px;
  }
  .article-page .article-container.profile{
    max-width: none;
  }
  .article-page .article-container .category-list,
  .article-page .article-container .category-list.profile,
  .article-page .article-container .article-extras{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
    /* IE 10+ */
  _:-ms-lang(x), :root .article-page .article-container .content-col.profile {
    position: absolute;
    left: 25vw;
  }
  _:-ms-lang(x), :root .article-page .article-container .category-list.profile{
    position: fixed;
    right: 0;
  }
  _:-ms-lang(x), :root .article-page .article-container .article-extras{
    position: fixed;
  }
  /* EDGE < 15 */
  @supports (-ms-accelerator:true) {
    .article-page .article-container .content-col.profile {
      position: absolute;
      left: 25vw;
    }
    .article-page .article-container .category-list.profile{
      position: fixed;
      right: 0;
    }
    .article-page .article-container .article-extras{
      position: fixed;
    }
  }
  /* EDGE 15+ */
  _:-ms-lang(x), _:-webkit-full-screen, .article-page .article-container .content-col.profile
  {
    position: absolute;
    left: 25vw;
  }
  _:-ms-lang(x), _:-webkit-full-screen, .article-page .article-container .category-list.profile
  {
    position: fixed;
    right: 0;
  }
  _:-ms-lang(x), _:-webkit-full-screen, .article-page .article-container .article-extras
  {
    position: fixed;
  }

  .article-page .article-container .category-list.profile{
    padding-right: 3rem;
    height: 100vh;
  }
  .article-page .article-container .category-list .section-list,
  .article-page .article-container .category-list .section-list.left{
    display: block;
  }
}

.article-page .article-header{
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: rgba(53,28,117,.08);
  background-image: url(https://files-and-media.ams3.digitaloceanspaces.com/images/Chat%20Background_150.png);
}
@media screen and (min-width: 758px) {
  .article-page .article-header{
    background-image: url(https://files-and-media.ams3.digitaloceanspaces.com/images/Chat%20Background.png);
  }
}
.article-page .article-title{
  padding-left: 20px;
  padding-right: 20px;
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
  -moz-flex-basis: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}
.article-page .article-desc {
  color: #351c75;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}
.article-page .article-body {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 50px;
}
.article-page .article-body.profile {
  padding-left: 0;
  padding-right: 0;
}
@media screen and (min-width: 759px) {
  .article-page .article-body.profile {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.article-page .article-extras h1,
.article-page .article-body h1 {
  font-weight: 700;
  font-size: 22px;
  color: #2C2D30;
  line-height: 27px;
  display: block;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #E5E5E5;
}
.article-page .article-extras h1{
  border-bottom: none;
  margin-bottom: .5rem;
}
.article-page .article-body h2 {
  font-weight: 700;
  font-size: 18px;
  color: #3f3f3f;
  line-height: 25px;
  display: block;
  margin-bottom: 20px;
  margin-top: 35px;
}
.article-page .article-extras h2 {
  font-weight: 700;
  font-size: 13px;
  color: #aba9a9;
  line-height: 25px;
  display: block;
  margin-bottom: 0px;
  margin-top: 1rem;
}
/*.article-page .article-extras h2:first-child {
  margin-top: .5rem!important;
  line-height: 14px;
}*/
.article-page .content-col.profile h2:first-child {
  margin-top: 30px!important;
}

.article-page .article-body section{
  padding-bottom: 2rem;
}

.article-page .article-body p {
  margin-bottom: 12px;
  margin-top: 0;
}
.article-page .article-extras p {
  margin-bottom: 12px;
  margin-top: 0;
  /*font-size: 15px;*/
  line-height: 20px;
}
.article-page .article-body p:first-child {
  margin-top: 0px !important;
}
.section-list {
  margin: 0;
}
.section-list li {
  list-style: none;
  font-size: 16px;
  line-height: 26px;
  min-width: 165px;
}
.section-list li a {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  margin-bottom: 4px;
  display: block;
  color: #2C2D30;
  text-decoration: none;
  padding: 5px 10px 6px;
  font-size: 15px;
  line-height: 22px;
  border: 1px solid transparent;
}
.section-list li a:hover,
.section-list li a:focus {
  background-color: #f6f5f9;
  border: 1px solid #efebf9;
}
.section-list li a.active {
  background-color: #351c75;
  color: #FFFFFF;
  padding: 3px 10px 4px;
  line-height: 22px;
  border: 1px solid transparent;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(0, 0, 0,.1);
}
.section-list.left{
  padding-left: 0;
  padding-right: 40px;
}
@media screen and (min-width: 801px) {
  .section-list,
  .section-list.sticky {
    max-width: 242px;
  }
}
