/* Dex last merged this code on 17th nov 2021 */

.autocompleter{
  position: relative;
  display: block;
}
.autocompleterTags{
  position: relative;
  display: inline-block;
  cursor: text;
  width: 100%;
  text-align: left;
  background-color: #fff;
}
.tagsContainer{
  line-height: 14px;
  display: inline;
}

.tagsList{
  display: inline;
}

.autocompleterTags-search {
  display: inline-block;
  position: relative;
  max-width: 100%;
  min-width: 110px;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: inherit;
  line-height: inherit;
}

.placeholderOnClick::placeholder{
  font-size: 12px!important;
  color: #d9d9d9!important;
  min-width: 250px!important;
  opacity: 1; /* Firefox */
}

.placeholderOnClick::-webkit-input-placeholder{
  font-size: 12px!important;
  color: #d9d9d9!important;
  min-width: 250px!important;
}

.placeholderOnClick:-moz-input-placeholder{
  font-size: 12px!important;
  color: #d9d9d9!important;
  min-width: 250px!important;
}

.placeholderOnClick::-moz-input-placeholder{
  font-size: 12px!important;
  color: #d9d9d9!important;
  min-width: 250px!important;
}

.placeholderOnClick:-ms-input-placeholder{
  font-size: 12px!important;
  color: #d9d9d9!important;
  min-width: 250px!important;
}

.placeholderOnClick::-ms-input-placeholder{
  font-size: 12px!important;
  color: #d9d9d9!important;
  min-width: 250px!important;
  transform: scale(0.7) translateX(-50px); /* Edge bug: font-size doesnt work, so use transform instead */
  -ms-transform: scale(0.7) translateX(-50px);
  -webkit-transform: scale(0.7) translateX(-50px);
  -moz-transform: scale(0.7) translateX(-50px);
  -o-transform: scale(0.7) translateX(-50px);
}

#autocompleteBox.error {
  border-bottom: 2px solid red;
}
.autocompleter-items{
  position: absolute;
  border: 1px solid #d4d4d4;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  /* max-height: 250px; */
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;

  /* For Firefox */
  scrollbar-color: rgba(63,63,63,.45) #fff;
  scrollbar-width: thin;
}
.autocompleter-items.pushContentDownOnOpen{
  position: relative;
  margin-top: -25px;
  z-index: 10000; /* i.e. higher than Modal.js's z-index) */
}
.autocompleter-items.showDetail{
  max-height: calc(5 * 50px);
  -webkit-max-height: calc(5 * 50px);
  -moz-max-height: calc(5 * 50px);
}
.autocompleter-items.noDetail{
  max-height: calc(5 * 37px);
  -webkit-max-height: calc(5 * 37px);
  -moz-max-height: calc(5 * 37px);
}
.autocompleter-items::-webkit-scrollbar-track {
  background-color: #fff!important;
}
.autocompleter-item,
.autocompleter-item.noDetail,
.autocompleter-active.noDetail {
  padding: 10px;
  height: 37px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  position: relative;
}
.autocompleter-item.lastItem,
.autocompleter-active.lastItem {
  border-bottom: none;
}
.autocompleter-active.error{
  background-color: #fbf2f2!important;
  color: #c5c5c5;
}
.autocompleter-active.error::after{
  content: "Must contain letters";
  color: red;
  font-size: 12px;
  float: right;
  margin-top: 3px;
}
.autocompleter-item.noDetail.showCheckbox,
.autocompleter-active.noDetail.showCheckbox{
  padding: 8px 8px 8px 20px;;
  height: 32px;
  border-bottom: none;
}
.autocompleter-item.showCheckbox,
.autocompleter-active.showCheckbox{
  text-align: left;
  padding-left: 20px;
  font-size: 13px;
}
.autocompleter-item.selected,
.autocompleter-active.selected {
  margin: -1px -1px 0;
  background: #351c75!important;
  color: #fff;
  cursor: pointer;
}
.autocompleter-item.selectedMultiple,
.autocompleter-active.selectedMultiple {
  display: none
}
.autocompleter-item.selectedCheckbox,
.autocompleter-active.selectedCheckbox{
/*  border: 1px solid #8f8fe5;
  margin: -1px -1px 0;*/
  background: #f1f1ff;
}
.autocompleter-item.selectedCheckbox > .checkbox,
.autocompleter-active.selectedCheckbox > .checkbox{
  border-color: #4e4ed6;
  background: #8f8fe5;
}
.autocompleter-item.lastItem {
  border-bottom: none;
}

.autocompleter-item.showDetail,
.autocompleter-active.showDetail {
  height: 50px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  text-align: left;
}
.autocompleter-item-detail{
  color: #a0a0a0;
  text-align: left;
  background-color: inherit;
  font-size: 0.8em;
  padding-top: 3px;
}
.autocompleter-item:hover {
  background-color: #e9e9e9;
}

.autocompleter-active {
  background-color: #351c75!important;
  color: #ffffff;
  cursor: pointer;
  position: relative;
}
.no-suggestions{
  color: #adadad;
  margin-top: -1.2rem;
  margin-bottom: 1rem;
}

.Submit-btn.autocompleteCTA{
  min-width: 50px;
  position: absolute;
  top: 10px;
  height: 30px;
  font-size: 12px;
  padding: 5px;
}
.Submit-btn.noDetail.autocompleteCTA {
  top: 6px;
  height: 25px;
}
.Submit-btn.autocompleteCTA.one{
  right: 10px;
}
.Submit-btn.autocompleteCTA.two{
  right: 80px;
  margin-right: 5px;
}
