/* Last merged this code on 5th nov 2021 */

.userItem-FlexContainer:nth-of-type(5n+0) .msg-thumb.noPic.isntMe {
  border: 1px solid rgba(173,129,5,.3);
  color: #fff;
  background-color: rgba(238,176,0,.5);
}
.userItem-FlexContainer:nth-of-type(5n+1) .msg-thumb.noPic.isntMe {
  border: 1px solid rgba(102,102,152,.3);
  color: #fff;
  background-color: rgba(153,153,231,.5);
}
.userItem-FlexContainer:nth-of-type(5n+2) .msg-thumb.noPic.isntMe {
  border: 1px solid rgba(63,150,134,.3);
  color: #fff;
  background-color: rgba(88,210,187,.5);
}
.userItem-FlexContainer:nth-of-type(5n+3) .msg-thumb.noPic.isntMe {
  border: 1px solid rgba(189,41,62,.3);
  color: #fff;
  background-color: rgba(251,108,129,.5);
}
.userItem-FlexContainer:nth-of-type(5n+4) .msg-thumb.noPic.isntMe {
  border: 1px solid rgba(84,152,162,.3);
  color: #fff;
  background-color: rgba(101,200,216,.5);
}
.userDetail-img{
  height: 104px;
  width: 90px;
  background-size: cover;
  background-position: center;
  display: inline-block;
  left: 0;
  margin-right: 10px;
  border-top-left-radius: .25rem;
  -webkit-border-top-left-radius: .25rem;
  -moz-border-top-left-radius: .25rem;
  -ms-border-top-left-radius: .25rem;
  -o-border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
  -webkit-border-bottom-left-radius: .25rem;
  -moz-border-bottom-left-radius: .25rem;
  -ms-border-bottom-left-radius: .25rem;
  -o-border-bottom-left-radius: .25rem;
  border-top-right-radius: unset;
  -webkit-border-top-right-radius: unset;
  -moz-border-top-right-radius: unset;
  -ms-border-top-right-radius: unset;
  -o-border-top-right-radius: unset;
  border-bottom-right-radius: unset;
  -webkit-border-bottom-right-radius: unset;
  -moz-border-bottom-right-radius: unset;
  -ms-border-bottom-right-radius: unset;
  -o-border-bottom-right-radius: unset;
}
.userDetail-img.showSml{
  border-top: 30px solid;
  border-bottom: 30px solid;
  border-right: 25px solid;
  border-left: 25px solid;
  border-color: #9a8dba;
}
.userImg.showSml{
  border-top: 30px solid;
  border-bottom: 30px solid;
  border-right: 30px solid;
  border-left: 30px solid;
  border-color: #9a8dba;
}
.userDetail-img.noPic{
  text-align: center;
  color: #fff;
  background-color: #9a8dba;
  padding-top: 40px;
  font-size: 40px;
}
.userDetail-txt{
  display: inline-block;
  top: 0;
  position: absolute;
  width: 174px;
  height: 100%;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.userDetail-name{
  display: inline-block;
  font-size: 15px;
}
.userDetail-name.sentMatch{
  color: #9797f9;
  font-weight: 700;
}
.userDetail-inst{
  /*float: left;*/
  color: #b1b1b1;
  font-weight: 200;
  line-height: 18px;
  margin-top: 3px;
}
.userDetail-inst.sentMatch{
  font-size: .8rem;
/*  float: left;*/
}
.userDetail-inst.sentMatch .roleText {
  color: #fff;
  font-weight: 600;
}
.userDetail-flag{
  position: absolute;
  right: 0;
  bottom: 8px;
}
.presenceContainer.userDetail{
  display: inline-block;
}
