/* Dex last merged this code on 10th Aug 2019 */

// maximum number of slides the carousel can have
--number-of-slides: 10;

.carousel-container{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
}
.carousel{
  min-width: 1010px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 48px;
  padding-right: 48px;
  position: relative;
}
.carousel__activator {
  display: none;
}
.carousel__controls {
  display: none;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  position: absolute;
  top: 0;
  right: 16px;
  left: 16px;
  bottom: 0;
}
.carousel__controls:first-of-type {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
}
.carousel__controls:last-of-type {
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
}
.carousel__control {
  cursor: pointer;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  background-color: #fff;
  color: #3d414a;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  box-shadow: 0 2px 10px 0 rgba(33,34,36,.3);
  font-size: 24px;
  height: 48px;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  width: 48px;
  z-index: 1;
}
.carousel__control:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
.carousel__activator:nth-of-type(1):checked ~ .carousel__controls:nth-of-type(1) {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.carousel__activator:nth-of-type(1):checked ~ .carousel__screen .carousel__track {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
}
.carousel__activator:nth-of-type(2):checked ~ .carousel__controls:nth-of-type(2) {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.carousel__activator:nth-of-type(2):checked ~ .carousel__screen .carousel__track {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}
.carousel__activator:nth-of-type(3):checked ~ .carousel__controls:nth-of-type(3) {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.carousel__activator:nth-of-type(3):checked ~ .carousel__screen .carousel__track {
  transform: translateX(-200%);
  -webkit-transform: translateX(-200%);
  -moz-transform: translateX(-200%);
  -ms-transform: translateX(-200%);
  -o-transform: translateX(-200%);
}
.carousel__activator:nth-of-type(4):checked ~ .carousel__controls:nth-of-type(4) {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.carousel__activator:nth-of-type(4):checked ~ .carousel__screen .carousel__track {
  transform: translateX(-300%);
  -webkit-transform: translateX(-300%);
  -moz-transform: translateX(-300%);
  -ms-transform: translateX(0-300%);
  -o-transform: translateX(-300%);
}
.carousel__activator:nth-of-type(5):checked ~ .carousel__controls:nth-of-type(5) {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.carousel__activator:nth-of-type(5):checked ~ .carousel__screen .carousel__track {
  transform: translateX(-400%);
  -webkit-transform: translateX(-400%);
  -moz-transform: translateX(-400%);
  -ms-transform: translateX(-400%);
  -o-transform: translateX(-400%);
}
.carousel__activator:nth-of-type(6):checked ~ .carousel__controls:nth-of-type(6) {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.carousel__activator:nth-of-type(6):checked ~ .carousel__screen .carousel__track {
  transform: translateX(-500%);
  -webkit-transform: translateX(-500%);
  -moz-transform: translateX(-500%);
  -ms-transform: translateX(-500%);
  -o-transform: translateX(-500%);
}
.carousel__activator:nth-of-type(7):checked ~ .carousel__controls:nth-of-type(7) {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.carousel__activator:nth-of-type(7):checked ~ .carousel__screen .carousel__track {
  transform: translateX(-600%);
  -webkit-transform: translateX(-600%);
  -moz-transform: translateX(-600%);
  -ms-transform: translateX(-600%);
  -o-transform: translateX(-600%);
}
.carousel__activator:nth-of-type(8):checked ~ .carousel__controls:nth-of-type(8) {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.carousel__activator:nth-of-type(8):checked ~ .carousel__screen .carousel__track {
  transform: translateX(-700%);
  -webkit-transform: translateX(-700%);
  -moz-transform: translateX(-700%);
  -ms-transform: translateX(-700%);
  -o-transform: translateX(-700%);
}
.carousel__activator:nth-of-type(9):checked ~ .carousel__controls:nth-of-type(9) {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.carousel__activator:nth-of-type(9):checked ~ .carousel__screen .carousel__track {
  transform: translateX(-800%);
  -webkit-transform: translateX(-800%);
  -moz-transform: translateX(-800%);
  -ms-transform: translateX(-800%);
  -o-transform: translateX(-800%);
}
.carousel__activator:nth-of-type(10):checked ~ .carousel__controls:nth-of-type(10) {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.carousel__activator:nth-of-type(10):checked ~ .carousel__screen .carousel__track {
  transform: translateX(-900%);
  -webkit-transform: translateX(-900%);
  -moz-transform: translateX(-900%);
  -ms-transform: translateX(-900%);
  -o-transform: translateX(-900%);
}
.carousel__screen {
  overflow: hidden;
  margin-left: -16px;
  margin-right: -16px;
}
.carousel__track {
  font-size: 0;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.carousel__item {
  display: inline-flex;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  padding-left: 16px;
  padding-right: 16px;
  vertical-align: top;
  white-space: normal;
}
.carousel__item--desktop-in-1 {
  width: 10%;
}
.carousel__item--desktop-in-2 {
  width: 50%;
}
.carousel__item--desktop-in-3 {
  width: 33.33333%;
}
.carousel__item--desktop-in-4 {
  width: 25%;
}
.carousel__item--desktop-in-5 {
  width: 20%;
}

@media screen and (max-width: 650px) {
  .carousel__track {
    padding-left: 0;
    padding-right: 0;
  }
  .carousel__item--mobile-in-1 {
    width: 90%;
  }
  .carousel__item--mobile-in-2 {
    width: 45%;
  }
  .carousel__item--mobile-in-3 {
    width: 30%;
  }
}

.demo-content{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  width: 100%;
}
