/* merged on 28th Oct 2019 */
.wrapper {
  height: 600px;
  width: 760px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  padding: 30px 30px;
}

.carousel {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
  position: absolute;
  left: 0;
  transition: all 1s ease;
  transform: none;
}

.arrowBtn {
  padding: .5em;
  line-height: 1;
  background: #f6f6f7;
  border: 0;
  outline: none;
  cursor: pointer;
  color: #9a9a9a;
  font-size: 25px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 1000;
  box-shadow: 0 3px 10px 0 rgba(0,0,0,.08);
}
.arrowBtn.left {
  position: absolute;
  top: 135px;
  left: 10px!important;
}

.arrowBtn.right {
  position: absolute;
  top: 135px;
  right: 10px!important;
}

.arrowBtn:hover,
.arrowBtn:focus {
  box-shadow: 0 3px 6px 0 rgba(0,0,0,.28);
}
