/* merged on 25th june 2020 */
.wrapper {
  height: 600px;
  width: 760px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  padding: 30px 30px;
}

.carousel {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  position: absolute;
  left: 0;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
}

.arrowBtn {
  padding: .5em;
  line-height: 1;
  background: #f6f6f7;
  border: 0;
  outline: none;
  cursor: pointer;
  color: #9a9a9a;
  font-size: 25px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 1000;
  box-shadow: 0 3px 10px 0 rgba(0,0,0,.08);
  -webkit-box-shadow: 0 3px 10px 0 rgba(0,0,0,.08);
  -moz-box-shadow: 0 3px 10px 0 rgba(0,0,0,.08);
}
.arrowBtn.left {
  position: absolute;
  top: 135px;
  left: 10px!important;
}

.arrowBtn.right {
  position: absolute;
  top: 135px;
  right: 10px!important;
}

.arrowBtn:hover,
.arrowBtn:focus {
  box-shadow: 0 3px 6px 0 rgba(0,0,0,.28);
  -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,.28);
  -moz-box-shadow: 0 3px 6px 0 rgba(0,0,0,.28);
}
