/* Dex last merged this code on 26th April 2020 */

.chatMenu-header{
  color: rgba(255,255,255,.835);
  font-size: 16px;
  padding: 1rem 1.7rem 0.25rem 1.7rem;
}

.chatItemFlexContainer{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
}

.chatMenuItem {
  height: 30px;
  text-decoration: none;
  display: block;
  padding: 0.5rem 1.7rem 0.5rem 1.7rem;
}

.chatMenuItem:hover{
  background-color: #111111;
}

.chatMenuItem.menuCTA:hover,
.chatMenuItem.menuCTA:focus{
  background: none;
}
.chatMenuItem.menuCTA:hover .menuCTA,
.chatMenuItem.menuCTA:focus .menuCTA{
  color: #0cf7ca;
}

.chatMenuItem:hover .chatMenuLink {
  color: #fff;
}

.chatMenuItem:focus {
  background-color: #9f9ee7;
}

.chatMenuItem:focus .chatMenuLink {
  color: #fff;
}

.chatMenuItem.is-active {
  background-color: #9f9ee7;
}

.chatMenuItem.is-active .chatMenuLink {
  color: #fff;
}

.chatMenuLink {
  color: rgba(255,255,255,.835);
  text-decoration: none;
  font-size: 16px;
  margin-right: 15px;
}
.chatMenuLink.unread {
  color: #fff;
  font-weight: 600;
}

.presenceContainer{
  float: left;
  margin-left: 0;
  margin-right: 4px;
  width: 15px;
  height: 1.3125rem;
  text-align: left;
  color: #00ffb7;
  font-size: 13px;
  opacity: 0.95;
  left: 0;
}

.notificationNum{
  background: #e22e48;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  height: 18px;
  width: 32px;
  line-height: 18px;
  margin-left: 4px;
  margin-top: -2px;
  margin-right: -12px;
  padding: 0 9px;
  position: absolute;
  right: 66px;
  text-align: center;
}
