/* Dex last merged this code on 15th jan 2021 */

.chat-container {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-grow: 1;
  -ms-flex-positive: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  min-width: 320px;
  height: 100%;
  background: #f2f2f2;
}
.chatTopBanners{
  z-index: 1002;
  position: absolute;
  top: 60px;
  left: 10px;
  right: 14px;
}
.chatTopBanners.bottom{
  top: unset!important;
  bottom: 80px!important;
}
.chatTopBanners.small{
  top: 55px;
  left: 50%;
  transform: translateX(-52%);
  right: unset;
  z-index: 1001;
}
.priorityBanner{
  z-index: 202;
}
.banner{
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  z-index: 200;
  font-size: 10pt;
  font-weight: 900;
  min-height: 26px;
  text-align: center;
}
.loadingMsgsBanner{
  background: repeating-linear-gradient( 135deg, #e2e2e2, #e2e2e2 10px, #d0d0d0 10px, #d0d0d0 20px );
  background: -moz-repeating-linear-gradient( 135deg, #e2e2e2, #e2e2e2 10px, #d0d0d0 10px, #d0d0d0 20px );
  background: -webkit-repeating-linear-gradient( 135deg, #e2e2e2, #e2e2e2 10px, #d0d0d0 10px, #d0d0d0 20px );
  background: -o-repeating-linear-gradient( 135deg, #e2e2e2, #e2e2e2 10px, #d0d0d0 10px, #d0d0d0 20px );
  background-size: 56px 56px;
  animation: slide 15s infinite linear forwards;
  -webkit-animation: slide 15s infinite linear forwards;
  -moz-animation: slide 15s infinite linear forwards;
  -ms-animation: slide 15s infinite linear forwards;
  -o-animation: slide 15s infinite linear forwards;
  color: #3f3f3f;
}
.offlineBanner{
  background: repeating-linear-gradient( 135deg, #e2e2e2, #e2e2e2 10px, #d0d0d0 10px, #d0d0d0 20px );
  background: -moz-repeating-linear-gradient( 135deg, #e2e2e2, #e2e2e2 10px, #d0d0d0 10px, #d0d0d0 20px );
  background: -webkit-repeating-linear-gradient( 135deg, #e2e2e2, #e2e2e2 10px, #d0d0d0 10px, #d0d0d0 20px );
  background: -o-repeating-linear-gradient( 135deg, #e2e2e2, #e2e2e2 10px, #d0d0d0 10px, #d0d0d0 20px );
  background-size: 56px 56px;
  animation: slide 15s infinite linear forwards;
  -webkit-animation: slide 15s infinite linear forwards;
  -moz-animation: slide 15s infinite linear forwards;
  -ms-animation: slide 15s infinite linear forwards;
  -o-animation: slide 15s infinite linear forwards;
  color: #3f3f3f;
}
@-webkit-keyframes slide {
    0% { background-position: 0% 0; }
    100% { background-position: 100% 0; }
}
@-moz-keyframes slide {
    0% { background-position: 0% 0; }
    100% { background-position: 100% 0; }
}
@-o-keyframes slide {
    0% { background-position: 0% 0; }
    100% { background-position: 100% 0; }
}
@keyframes slide {
    0% { background-position: 0% 0; }
    100% { background-position: 100% 0; }
}
.bannerMsg{
  text-align: center;
  padding: .5rem;
}
.chat-title {
  color:#3f3f3f;
  font-weight:600;
  margin:0;
  font-size:1rem;
  display: inline-block;
  margin-right: 4px;
}

.channel-title {
  margin-left: 10px;
  color: #525252;
  font-size: 1rem;
  display: inline-block;
  margin-right: 4px;
}
.channel-title.mobile{
  margin-left: 16px;
  font-size: inherit;
  display: inline-block;
  margin-right: 4px;
  color: inherit;
}
.chat-title-icon{
  color: #a19c99;
  font-size: 11px;
  display: inline-block!important;
  margin-left: 2px;
  margin-right: 6px;
  margin-top: 4px;
  position: absolute;
  opacity: 0.95;
}
.chat-title-icon.mobile{
  font-size: 10px;
  margin-top: 1px;
  margin-right: 0px;
  margin-left: 0px;
}
.chat-detail{
  color: #a5a09d;
  font-size: .75rem;
  margin-top: 2px;
}

.more-info-container{
  position: absolute;
  right: 16px;
  margin-left: 10px;
}
.chatInfoContainer{
  height: 20px;
  width: 20px;
  font-size: 20px;
  color: #adacac;
  cursor: pointer;
}
.chatInfoContainer:hover{
  color: #3f3f3f;
}

.flex-container-overlay{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  list-style: none;
  background: #fff;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  width: 24rem;
  border-left: 1px solid rgba(0, 0, 0, .1);
}
.flex-container-overlay.group{
  background-color: #f2f2f2;
}

.flex-container-overlay.isDevice{
  width: 100%;
  overflow-y: unset;
}

.chat-content-container{
  overflow:hidden;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex:1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  margin-left: 0;
  position:relative;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  min-width: 1px;
  background: #fff;
  min-width: 320px;
}

.messages-panel{
  /*padding-top: 20px;*/
  overflow-y:auto;
  position:relative;
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  outline:0;
  height: -webkit-calc(100% - 53px - 74px);
  height: -moz-calc(100% - 53px - 74px);
  height: calc(100% - 53px - 74px);
  /*background-image: url(https://files-and-media.ams3.digitaloceanspaces.com/images/Chat%20Background_150.png);*/
  background-image: url(https://files-and-media.ams3.digitaloceanspaces.com/images/Chat-background_dark_sml.png);
  background-size: 130px;
  padding-bottom: 10px;
}

.flex-container-content{
  padding: 12px 12px 0 12px;
}

.dragover-pane-overlay{
  display: none;
}

.dragover-pane-overlay-dragover{
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: hsla(0,0%,100%,.95);
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  pointer-events: none;
}

.dragover-pane-overlay-info{
  text-align: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
  max-width: 100%;
  padding: 0 16px;
}

.dragover-pane-overlay-pic{
  width: 200px;
  height: 150px;
  position: relative;
}
.dragover-pane-overlay-picFile{
  position: absolute;
  width: 100%;
  height: 100%;
  animation-duration: 0.12s;
  -webkit-animation-duration: 0.12s;
  -moz-animation-duration: 0.12s;
  -ms-animation-duration: 0.12s;
  -o-animation-duration: 0.12s;
  animation-timing-function: ease-in-out;
  -webkit-animation-function: ease-in-out;
  -moz-animation-function: ease-in-out;
  -ms-animation-function: ease-in-out;
  -o-animation-function: ease-in-out;
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  -ms-animation-direction: normal;
  -o-animation-direction: normal;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-play-state: running;
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  animation-name: fileUpload;
  -webkit-animation-name: fileUpload;
  -moz-animation-name: fileUpload;
  -ms-animation-name: fileUpload;
  -o-animation-name: fileUpload;
  background-image: url(https://files-and-media.ams3.digitaloceanspaces.com/images/File%20Upload_150.png);
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (min-width: 758px) {
  .dragover-pane-overlay-picFile{
    background-image: url(https://files-and-media.ams3.digitaloceanspaces.com/images/File%20Upload_350.png);
  }
  .messages-panel{
  /*  background-image: url(https://files-and-media.ams3.digitaloceanspaces.com/images/Chat%20Background.png);*/
    background-image: url(https://files-and-media.ams3.digitaloceanspaces.com/images/Chat-background_dark.png);
  }
}
@media screen and (min-width: 1200px) {
  .dragover-pane-overlay-picFile{
    background-image: url(https://files-and-media.ams3.digitaloceanspaces.com/images/File%20Upload.png);
  }
}

@-webkit-keyframes FileUpload
{
  0% {
    opacity: 0;
    transform: scale(.5);
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    -ms-transform: scale(.5);
    -o-transform: scale(.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}
@-moz-keyframes FileUpload
{
  0% {
    opacity: 0;
    transform: scale(.5);
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    -ms-transform: scale(.5);
    -o-transform: scale(.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}
@-o-keyframes FileUpload
{
  0% {
    opacity: 0;
    transform: scale(.5);
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    -ms-transform: scale(.5);
    -o-transform: scale(.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}
@keyframes FileUpload
{
  0% {
    opacity: 0;
    transform: scale(.5);
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    -ms-transform: scale(.5);
    -o-transform: scale(.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}
.dragover-pane-overlay-title{
  font-size: 28px;
  line-height: 1.2143;
  font-weight: 900;
  margin-top: 16px;
  margin-bottom: 8px;
}
.dragover-pane-overlay-subtitle{
  font-size: 15px;
  line-height: 1.46668;
  font-weight: 400;
  color: #616061;
  max-width: 100%;
  word-break: break-word;
}

/*.more-info-btn{
  padding: 0 10px;
  margin: 2px 8px 2px 0;
  vertical-align: middle;
  font-size: 13px;
  height: 28px;
  width: 180px;
  text-align: center;
  transition: all 80ms linear;
  -webkit-transition: all 80ms linear;
  -moz-transition: all 80ms linear;
  -ms-transition: all 80ms linear;
  -o-transition: all 80ms linear;
  background: #9f9ee7;
  border: 1px solid rgba(29,28,29,.3);
  background-clip: padding-box;
  color: #fff;
  font-weight: 700;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.more-info-btn:hover,
.more-info-btn:focus{
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
  -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);;
  background: #8d8cce;
}*/

/* DRAGOVER ANIMATION */
@-webkit-keyframes move-top
{
  0% {
   background-position: 0 0;
 }
 100% {
   background-position: 10px 0px;
 }
}
@-moz-keyframes move-top
{
  0% {
   background-position: 0 0;
 }
 100% {
   background-position: 10px 0px;
 }
}
@-o-keyframes move-top
{
  0% {
   background-position: 0 0;
 }
 100% {
   background-position: 10px 0px;
 }
}
@keyframes move-top
{
  0% {
   background-position: 0 0;
 }
 100% {
   background-position: 10px 0px;
 }
}

@-webkit-keyframes move-bottom
{
  0% {
   background-position: 0 0;
 }
 100% {
   background-position: -10px 0px;
 }
}
@-moz-keyframes move-bottom
{
  0% {
   background-position: 0 0;
 }
 100% {
   background-position: -10px 0px;
 }
}
@-o-keyframes move-bottom
{
  0% {
   background-position: 0 0;
 }
 100% {
   background-position: -10px 0px;
 }
}
@keyframes move-bottom
{
  0% {
   background-position: 0 0;
 }
 100% {
   background-position: -10px 0px;
 }
}

@-webkit-keyframes move-left
{
  0% {
   background-position: 0 0;
 }
 100% {
   background-position: 0px -10px;
 }
}
@-moz-keyframes move-left
{
  0% {
   background-position: 0 0;
 }
 100% {
   background-position: 0px -10px;
 }
}
@-o-keyframes move-left
{
  0% {
   background-position: 0 0;
 }
 100% {
   background-position: 0px -10px;
 }
}
@keyframes move-left
{
  0% {
   background-position: 0 0;
 }
 100% {
   background-position: 0px -10px;
 }
}

@-webkit-keyframes move-right
{
  0% {
   background-position: 0 0;
 }
 100% {
   background-position: 0px 10px;
 }
}
@-moz-keyframes move-right
{
  0% {
   background-position: 0 0;
 }
 100% {
   background-position: 0px 10px;
 }
}
@-o-keyframes move-right
{
  0% {
   background-position: 0 0;
 }
 100% {
   background-position: 0px 10px;
 }
}
@keyframes move-right
{
  0% {
   background-position: 0 0;
 }
 100% {
   background-position: 0px 10px;
 }
}
.animate .leftright:after {
  animation: move-left 1s linear infinite;
  -webkit-animation: move-left 1s linear infinite;
  -moz-animation: move-left 1s linear infinite;
  -ms-animation: move-left 1s linear infinite;
  -o-animation: move-left 1s linear infinite;
  background-image: linear-gradient(to top, #c7c7c7 70%, rgba(255, 255, 255, 0) 0%);
  background-image: -moz-linear-gradient(to top, #c7c7c7 70%, rgba(255, 255, 255, 0) 0%);
  background-image: -webkit-linear-gradient(to top, #c7c7c7 70%, rgba(255, 255, 255, 0) 0%);
  background-image: -o-linear-gradient(to top, #c7c7c7 70%, rgba(255, 255, 255, 0) 0%);
}
.animate .leftright:before {
  animation: move-right 1s linear infinite;
  -webkit-animation: move-right 1s linear infinite;
  -moz-animation: move-right 1s linear infinite;
  -ms-animation: move-right 1s linear infinite;
  -o-animation: move-right 1s linear infinite;
  background-image: linear-gradient(to top, #c7c7c7 70%, rgba(255, 255, 255, 0) 0%);
  background-image: -moz-linear-gradient(to top, #c7c7c7 70%, rgba(255, 255, 255, 0) 0%);
  background-image: -webkit-linear-gradient(to top, #c7c7c7 70%, rgba(255, 255, 255, 0) 0%);
  background-image: -o-linear-gradient(to top, #c7c7c7 70%, rgba(255, 255, 255, 0) 0%);
}

.animate .topbottom:after {
  animation: move-top 1s linear infinite;
  -webkit-animation: move-top 1s linear infinite;
  -moz-animation: move-top 1s linear infinite;
  -ms-animation: move-top 1s linear infinite;
  -o-animation: move-top 1s linear infinite;
  background-image: linear-gradient(to right, #c7c7c7 70%, rgba(255, 255, 255, 0) 0%);
  background-image: -moz-linear-gradient(to right, #c7c7c7 70%, rgba(255, 255, 255, 0) 0%);
  background-image: -webkit-linear-gradient(to right, #c7c7c7 70%, rgba(255, 255, 255, 0) 0%);
  background-image: -o-linear-gradient(to right, #c7c7c7 70%, rgba(255, 255, 255, 0) 0%);
}
.animate .topbottom:before {
  animation: move-bottom 1s linear infinite;
  -webkit-animation: move-bottom 1s linear infinite;
  -moz-animation: move-bottom 1s linear infinite;
  -ms-animation: move-bottom 1s linear infinite;
  -o-animation: move-bottom 1s linear infinite;
  background-image: linear-gradient(to right, #c7c7c7 70%, rgba(255, 255, 255, 0) 0%);
  background-image: -moz-linear-gradient(to right, #c7c7c7 70%, rgba(255, 255, 255, 0) 0%);
  background-image: -webkit-linear-gradient(to right, #c7c7c7 70%, rgba(255, 255, 255, 0) 0%);
  background-image: -o-linear-gradient(to right, #c7c7c7 70%, rgba(255, 255, 255, 0) 0%);
}
.topbottom,
.leftright
{
  width:100%;
  height:100%;
}
.leftright:after
{
  content:'';
  position:absolute;
  bottom:20px;
  left:20px;
  top:20px;
  right:2px;
  height:auto;
  width:5px;
  background-image: linear-gradient(to top, #7f7f7f 70%, rgba(255, 255, 255, 0) 0%);
  background-image: -moz-linear-gradient(to top, #7f7f7f 70%, rgba(255, 255, 255, 0) 0%);
  background-image: -webkit-linear-gradient(to top, #7f7f7f 70%, rgba(255, 255, 255, 0) 0%);
  background-image: -o-linear-gradient(to top, #7f7f7f 70%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 5px 11px;
  background-repeat: repeat-y;
}
.leftright:before
{
  content:'';
  position:absolute;
  bottom:20px;
  top:20px;
  right:20px;
  height:auto;
  width:5px;
  background-image: linear-gradient(to top, #7f7f7f 70%, rgba(255, 255, 255, 0) 0%);
  background-image: -moz-linear-gradient(to top, #7f7f7f 70%, rgba(255, 255, 255, 0) 0%);
  background-image: -webkit-linear-gradient(to top, #7f7f7f 70%, rgba(255, 255, 255, 0) 0%);
  background-image: -o-linear-gradient(to top, #7f7f7f 70%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 5px 11px;
  background-repeat: repeat-y;
}
.topbottom:before
{
  content:'';
  position:absolute;
  bottom:20px;
  left:20px;
  right:20px;
  height:5px;
  width:auto;
  background-image: linear-gradient(to right, #7f7f7f 71%, rgba(255, 255, 255, 0) 0%);
  background-image: -moz-linear-gradient(to right, #7f7f7f 71%, rgba(255, 255, 255, 0) 0%);
  background-image: -webkit-linear-gradient(to right, #7f7f7f 71%, rgba(255, 255, 255, 0) 0%);
  background-image: -o-linear-gradient(to right, #7f7f7f 71%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 11px 5px;
  background-repeat: repeat-x;
}
.topbottom:after
{
  content:'';
  position:absolute;
  top:20px;
  left:20px;
  right:20px;
  height:5px;
  width:auto;
  background-image: linear-gradient(to right, #7f7f7f 71%, rgba(255, 255, 255, 0) 0%);
  background-image: -moz-linear-gradient(to right, #7f7f7f 71%, rgba(255, 255, 255, 0) 0%);
  background-image: -webkit-linear-gradient(to right, #7f7f7f 71%, rgba(255, 255, 255, 0) 0%);
  background-image: -o-linear-gradient(to right, #7f7f7f 71%, rgba(255, 255, 255, 0) 0%);
  background-position: top;
  background-size: 11px 5px;
  background-repeat: repeat-x;
}
