
.activityIcon{
  width: 25px;
  height: 25px;
}
.activityIcon:after{
  content: '';
  position: absolute;
  top: 50px;
  left: 100%;
  border-top: 1px solid #000;
  width: 100px;
}
.dataCard {
  background-color: #ffffff;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  display: inline-block;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-shadow: 0 1px 10px 0 rgba(0,0,0,.08);
  -webkit-box-shadow: 0 1px 10px 0 rgba(0,0,0,.08);
  -moz-box-shadow: 0 1px 10px 0 rgba(0,0,0,.08);
  height: 150px;
  min-width: 200px;
  vertical-align: top;
  text-align: left;
  margin-right: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}
/*.dataCard.isOverflowing{
  -webkit-mask-image: linear-gradient(180deg, #000 30%, transparent);
}*/
.dataCard:last-of-type {
  margin-left: 0px;
}
.dataCard.green { /* green */
  background: #00d5a069!important;
  border: 1px dotted #00d5a0!important;
}
.dataCard.red { /* red */
  background: #ff6e8866!important;
  border: 1px dotted #ff6e88!important;
}
.dataCard.purple { /* purple */
  background: #6227de3d!important;
  border: 1px dotted #6227de!important;
}
.dataCard:nth-of-type(3n+1) { /* green */
  /*background: #00d5a021;*/
  border: 1px dotted #00d5a0;
}
.dataCard:nth-of-type(3n+2) { /* red */
/*  background: #ff6e8830;*/
  border: 1px dotted #ff6e88;
}
.dataCard:nth-of-type(3n+0) { /* purple */
  /*background: #6227de1f;*/
  border: 1px dotted #6227de;
}
.dataCard::-webkit-scrollbar-thumb{
  visibility: hidden;
}
.dataCard:hover::-webkit-scrollbar-thumb{
  visibility: visible;
}
.dataCard.locked{
  background-color: #aeaeae38!important;
  border: 1px dotted #dbdada!important;
  overflow: hidden;
}
.more-info-icon{
  position: absolute;
  top: 10px;
  left: 174px;
}
.more-info-icon.tooltip .tooltiptext.below{
  top: 25px;
  line-height: 15px;
  padding: 5px 10px;
  width: 150px;
  right: 0;
  left: unset;
}
.more-info-icon.tooltip .tooltiptext.below:after{
  left: 92%;
}
.dataItemUnlockSection{
  line-height: 1.25rem;
  position: absolute;
  bottom: -17px;
  width: 190px;
}
.dataItemUnlockSection:before{
  color: transparent;
  content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.";
  display: block;
  position: relative;
  text-shadow: 0 0 8px rgb(0 0 0 / 30%);
}
.dataItemUnlockSection-btnContainer{
  left: 6%;
  position: relative;
  top: 20%;
  -webkit-transform: translate(0%,-180%);
  transform: translate(0%,-180%);
}
.dataItemUnlockSection-btnContainer #itemUnlockBtn {
  background: #e5e5e5;
  border: 1px solid #a1a1a1;
  box-shadow: rgb(0 0 0 / 20%) 0 0 8px;
  -webkit-box-shadow: rgb(0 0 0 / 20%) 0 0 8px;
  -moz-box-shadow: rgb(0 0 0 / 20%) 0 0 8px;
}
.dataItemUnlockSection-btnContainer #itemUnlockBtn:hover {
  background: #e1e1e1;
}
button[name="leaderboard"]:hover {
  color: #c78c00;
}
button[name="leaderboard"].tabActive:hover {
  border-bottom: 2px solid #c78c00;
}
