/* Dex last merged this code on 10th Aug 2019 */

.display-file-container{
  margin-bottom: 8px;
  position: relative;
  margin-left: -20px;
  padding-left: 20px;
}

.file-name{
  margin-bottom: 8px;
}

.file-title-container{
  color: rgba(29,28,29,.7);
  margin-top: -4px;
  margin-bottom: 4px;
  display: flex;
}

.file-title{
  font-size: 12px;
}

.msg-img-container{
  max-width: 100%;
}

.msg-img-content{
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
}

.msg-img{
  cursor: zoom-in;
  display: block;
  height: auto;
  width: auto;
  max-height: 400px;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}
