/* Dex last merged this code on 27th Aug 2019 */

.emoji-icon{
  float: left;
  width: 30px;
  height: 30px;
  margin-right: .5rem;
  text-align: center;
  display: inline-block;
  background-image: url("https://unpkg.com/emoji-datasource-emojione@4.0.4/img/emojione/sheets-256/64.png");
  background-size: 5200% 5200%;
}

.emoji-icon.successBox{
  margin: auto;
  float: unset;
  margin-top: .5rem;
  margin-bottom: .5rem;
  display: block;
}

.CdaFlag-emoji{
  background-position: 1.96078% 33.3333%;
  width: 24px;
  height: 24px;
}
.book-emoji{
  background-position: 50.9804% 25.4902%;
}
.chat-emoji{
  background-position: 49.0196% 45.098%;
}
.crossed-fingers-emoji{
  background-position: 74.5098% 21.5686%;
}
.footprints-emoji{
  background-position: 29.4118% 76.4706%;
}
.globe-emoji{
  background-position: 11.7647% 9.80392%;
  width: 24px;
  height: 24px;
}
.heart-emoji{
  background-position: 49.0196% 3.92157%;
}
.link-emoji{
  background-position: 52.9412% 49.0196%;
}
.ok-emoji{
  background-position: 27.451% 84.3137%;
}
.peace-emoji{
  background-position: 96.0784% 58.8235%;
}
.purpleHeart-emoji{
  background-position: 49.0196% 3.92157%;
}
.rockOn-emoji{
  background-position: 74.5098% 33.3333%;
}
.sad-emoji{
  background-position: 58.8235% 86.2745%;
}
.schoolHat-emoji{
  background-position: 15.6863% 74.5098%;
  margin-top: -4px;
}
.sparkle-emoji{
  background-position: 96.0784% 94.1176%;
}
.sparkle-emoji.titleLeft{
  float: none;
  height: 24px;
  width: 24px;
}
.sparkle-emoji.titleRight{
  float: none;
  height: 24px;
  width: 24px;
  margin-left: .5rem;
}
.suitcase-emoji{
  background-position: 49.0196% 76.4706%;
}
.sunglasses-emoji{
  background-position: 58.8235% 74.5098%;
}
.tada-emoji{
  background-position: 15.6863% 54.902%;
}
.timer-emoji{
  background-position: 92.1569% 0%;
}
.timesup-emoji{
  background-position: 90.1961% 82.3529%;
}
.typing-emoji{
  background-position: 49.0196% 45.098%;
}
.UKFlag-emoji{
  background-position: 3.92157% 15.6863%;
  width: 24px;
  height: 24px;
}
.USFlag-emoji{
  background-position: 9.80392% 21.5686%;
  width: 24px;
  height: 24px;
}
.wave-emoji{
  background-position: 27.451% 72.549%;
}
