.formContainer{
  margin: 0 25% 0 25%;
}

.form-header{
  position: fixed;
  top: 40px!important;
  left: 25%;
  background-color: white;
}
.form-QA {
  height: calc(100vh - 4.5em);
  padding-top: 20%;
}

.prLogoContainer.form{
  position: fixed!important;
  top: 26px!important;
}
.formCTAContainer.submit{
  position: fixed;
  bottom: 30px;
  min-width: 90px;
  left: 50%;
  transform: translate(-50%, 0);
}
.formCTAContainer.other{
  position: fixed;
  bottom: 30px;
  min-width: 90px;
  right: 2rem;
}
.qScrollBtn{
  color: #fff;
  font: inherit;
  font-weight: 600;
  background: #9f9ee7;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  outline: none;
  border: 1px solid #8b8bdc;
  height: 40px;
  min-width: 40px;
  height: 40px;
  text-align: center;
  padding: 0;
  padding-left: 12%;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
  -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
  margin-right: 5px;
}
.qScrollBtn:disabled{
  color: #ccc8c8;
  background: #e8e8e8;
  border: 1px solid #c7c7c7;
}
.qScrollBtn:hover{
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.18);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.18);
  -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.18);
}
.qNum{
  color: rgb(159, 158, 231);
  font-size: 16px;
  line-height: 24px;
  margin-left: -1.3rem;
  margin-right: .5rem;
}
.qTitle{
  font-size: 20px;
  line-height: 28px;
  margin-top: 2rem;
  color: rgba(63, 63, 63);
}
.qDetail{
  font-size: 16px;
  line-height: 24px;
  color: rgba(63, 63, 63, 0.7);
  margin-bottom: 1rem;
  -webkit-font-smoothing: antialiased;
}
