/* Last merged this code on 8th may 23 */

.formContainer{
  max-width: 50%;
  margin-left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
}

.form-header{
  position: fixed;
  top: 40px!important;
  left: 25%;
  background-color: #fff;
  z-index: 100;
  font-size: 1.2rem
}

.form-QA {
  height: calc(100vh - 4em); /* fallback - is set with javascript as mobile doenst like vh */
  height: -webkit-calc(100vh - 4em); /* fallback - is set with javascript as mobile doenst like vh */
  height: -moz-calc(100vh - 4em); /* fallback - is set with javascript as mobile doenst like vh */
  padding-top: 20%;
}

.form-QA.hiddenQ {
  display: none;
}

.prLogoContainer.form{
  position: fixed!important;
  top: 26px!important;
}

.formCTAContainer.submit{
  position: fixed;
  bottom: 30px;
  min-width: 90px;
  max-width: 90px;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
}

/*.formCTAContainer.submit.safari{
  position: -webkit-sticky;
  position: sticky;
}
.formCTAContainer.other.safari{
  position: -webkit-sticky;
  position: sticky;
  max-width: 90px;
  left: 85%;
}*/

.formCTAContainer.other{
  position: fixed;
  bottom: 30px;
  min-width: 90px;
  right: 2rem;
}

.qScrollBtn{
  color: #fff;
  font: inherit;
  font-weight: 600;
  background: #9f9ee7;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  outline: none;
  border: 1px solid #8b8bdc;
  height: 40px;
  min-width: 40px;
  height: 40px;
  text-align: center;
  padding: 0;
  padding-left: 12%;
  margin: 0;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
  -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
}
.qScrollBtn.left{
  margin-right: 5px;
}
.qScrollBtn.left:disabled::after,
.qScrollBtn.right:disabled::after{
  content: "";
}
.qScrollBtn::after{
  position: absolute;
  color: #cecece;
  font-weight: 400;
  font-size: 12px;
  top: 100%;
  margin-left: -18px;
}
.qScrollBtn.left::after{
  content: "Prev";
}
.qScrollBtn.right::after{
  content: "Next";
}
.qScrollBtn:disabled{
  color: #ccc8c8;
  background: #e8e8e8;
  border: 1px solid #c7c7c7;
  cursor: default;
}
.qScrollBtn:hover{
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.18);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.18);
  -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.18);
}
/*@media only screen and (max-device-width : 454px) {
  .qScrollBtn{
    display: none;
  }
}*/
.qNum{
  color: rgb(159, 158, 231);
  font-size: 16px;
  line-height: 24px;
  margin-left: -1.3rem;
  margin-right: .5rem;
}
.qTitle{
  font-size: 20px;
  line-height: 28px;
  margin-top: 2rem;
  color: rgba(63, 63, 63);
}
.qDetail,
.qDetail.small{
  font-size: 16px;
  line-height: 24px;
  color: rgba(63, 63, 63, 0.7);
  margin-bottom: 1rem;
  -webkit-font-smoothing: antialiased;
}
button.qDetail:hover{
  color: black;
}
.qDetail.small{
  font-size: 10px;
  line-height: 14px;
}

.formA-yesnoBtn{
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  min-height: 40px;
  width: 200px;
  color: rgb(159, 158, 231);
  background-color: rgba(159, 158, 231, 0.1);
  box-shadow: rgba(159, 158, 231, 0.6) 0px 0px 0px 1px inset;
  transition-duration: 0.1s;
  transition-property: background-color, color, border-color, opacity, box-shadow;
  transition-timing-function: ease-out;
  cursor: pointer;
  opacity: 1;
  border-radius: 4px;
  padding: 4px;
  padding-left: 15px;
  outline: 0px;
  margin-bottom: 8px;
  font-size: 1rem;
  border: none;
}

.formA-yesnoBtn:hover{
  background-color: rgba(159, 158, 231, 0.3);
}

.formA-yesnoBtn.selected{
  background-color: rgba(159, 158, 231, 0.3);
  border: 1px solid rgb(159, 158, 231);
}

.yesNoTick{
  right: 0.3rem;
  top: 0.25rem;
  font-size: 16px;
  display: none;
  position: absolute;
  padding: 8px;
  cursor: pointer;
}
.yesNoTick.selected{
  display: block;
}
#Submit-btn-form{
  margin-bottom: .5rem;
  min-width: 90px;
}
#formProgressPct{
  color: rgb(128, 128, 128);
  font-family: sans-serif;
  margin-top: -2px;
  margin-bottom: 2px;
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#formProgress {
  width: 100%;
  background-color: #dedede;
  height: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  margin-bottom: .5rem;
}
#formProgressBar {
  width: 1%;
  height: 30px;
  background-color: #a0a0a0;
  height: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  margin-bottom: .5rem;
  transition: all 0.4s ease 0s;
}

@media only screen and (max-width: 425px) {
  .form-header{
    position: unset;
    top: unset;
    margin-top: -73px;
    margin-left: 26%;
    /*font-size: 1rem; */
  }
  .form-header.safari{
    padding-top: 20px;
  }
}
@media only screen and (max-width: 600px) {

  .prLogoContainer.form{
    display: none;
  }

  .emoji-icon.form{
    display: none;
  }

  .formContainer{
    max-width: 75%;
    transform: unset;
    -webkit-transform: unset;
    -moz-transform: unset;
    -ms-transform: unset;
    -o-transform: unset;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .formCTAContainer.submit{
    display: block;
    right: 2rem;
    left: unset;
    transform: unset;
    -webkit-transform: unset;
    -moz-transform: unset;
    -ms-transform: unset;
    -o-transform: unset;
  }

  /*#Submit-btn-form{
    min-width: 90px;
  }

  #Submit-btn-form:disabled{
    display: none;
  }*/

  .qDetail{
    font-size: 14px;
    line-height: 20px;
  }

  .formCTAContainer.other{
    position: fixed;
    top: 30px;
    bottom: unset;
    min-width: 90px;
    right: unset;
    right: 3rem;
  }
  .formCTAContainer.other.hidden{
    display: none;
  }
/*  .formCTAContainer.submit.safari{
    left: 70%;
    right: unset;
    bottom: 10px;
  }
  .formCTAContainer.other.safari{
    max-width: 90px;
    left: 70%;
    top: unset;
    bottom: 103%;
  }*/
}
@media only screen and (min-width: 395px) and (max-width: 425px) {
  .formContainer{
    max-width: 70%;
  }
}
@media only screen and (min-width: 425px) and (max-width: 600px) {
  .formContainer{
    max-width: 60%;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .formContainer{
    max-width: 40%;
  }
}
@media only screen and (min-width: 1600px) {
  .formContainer{
    max-width: 30%;
  }
}
/*@media only screen and (min-width: 500px) and (max-width: 759px) {
  .xxx{
    xx
  }
}
@media only screen and (min-width: 759px) and (max-width: 850px) {
  .xxx{
    xx
  }
}
@media only screen and (min-width: 850px) {
}*/
