/* Dex last merged this code on 24th mar 2021 */

/* General CSS styles to add to any individual element anywhere in the app */

/* SCREEN SIZING ADJUSTMENTS */
/* For Extra small devices (phones, 600px and down): */
[class*="col-"] {
  width: 100%;
}
[class*="col-"] {
  float: left;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
/* Medium devices (landscape tablets, 759px and up) */
@media only screen and (min-width: 759px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
/* Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) {...}
Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...} */

@media screen and (min-width: 760px) {
  .clientWindowContainer {
    width: calc(100% - 220px);
    width: -webkit-calc(100% - 220px);
    width: -moz-calc(100% - 220px);
  }
  .close-menu{
    display: none;
  }
  .viewMenu{
    display: none;
  }
  #clientMenu{
    left: 0px!important;
  }
}
@media screen and (max-width: 758px) {
  .loadingContainer,
  .clientWindowContainer {
    left: 0!important;
  }
  .loadingMsg {
    margin-left: 0px!important;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .loadingSUMsg {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  #loading-welcome {
    background-position: 21px 16px, right 15px top 16px!important;
  }
  #clientMenu{
    z-index: 0;
    left: -220px;
  }
  .login-pic {
    display: none;
  }
  .viewMenu{
    display: block;
  }
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
  #mainMenu-burger {
    fill: #f2f2f2!important;
  }
  .page-title{
    color: #dedede!important;
  }
  .page-detail{
    color: #bfbfbf!important;
  }
  .messages-panel{
    background-color: #3f3f3f!important;
  /*  background-image: url(https://files-and-media.ams3.digitaloceanspaces.com/images/Chat-background_dark_sml.png)!important;*/
  }
  .message-content{
    color: #b9b9b9!important;
  }
  .page-header {
    border-bottom: 1px solid #6d6d6d!important;
    background: #272727!important;
  }
  .chat-title {
    color: #d9d9d9!important;
  }
  .channel-title {
    color: #d9d9d9!important;
  }
  .msg-thumb.noPic.isntMe {
    background-color: rgb(156, 134, 212)!important;
    background-color: rgb(156 134 212 / 50%)!important;
  }
  .msg-thumb.noPic.isMe {
    background-color: #9e90c3!important;
  }
  .file-title-container{
    color: #b9b9b9!important;
  }
  .msg-img-overlay {
    background: #3f3f3f!important;
  }
  .down-arrow-img-icon{
    color: #b9b9b9!important;
  }
  .block-container:hover {
    background-color: rgb(121 121 121 / 50%)!important;
  }
  .block-container.keepHover {
    background-color: rgb(121 121 121 / 50%)!important;
  }
  .sender-name{
    color: #b9b9b9!important;
  }
  .sender-name.isProspela{
    color: #7676ff!important;
  }
  .prAutoMsgTitle {
    color: #8c8cea!important;
  }
  .prauto-msg-container {
    background-color: rgb(101 101 101 / 41%)!important;
  }
  .separator__text {
    background: #4f4f4f!important;
    color: #b9b9b9!important;
  }
  .separator__text.go2NewMsgs {
    background-color: #e22e48!important;
    color: #fff!important;
  }
  .addReaction {
    background: #696969!important;
    border: .0625rem solid #929292!important;
  }
  .emojiReaction {
    background: #696969!important;
    border: .0625rem solid #929292!important;
  }
  .chatWindow-footer {
    background-color: #3f3f3f!important;
  }
  .input-box-container {
    border: 1px solid #6d6d6d!important;
  }
  .input-box-container:focus-within {
    box-shadow: 0 0 0 1.2px #8e8efd!important;
    -webkit-box-shadow: 0 0 0 1.2px #8e8efd!important;
    -moz-box-shadow: 0 0 0 1.2px #4e4ed6!important;
    border: 3px solid rgb(122,80,199,.72)!important;
  }
  .emojiContainer{
    color: #797979!important;
  }
  .attachmentContainer {
    color: #797979!important;
  }
  .picContainer {
    color: #797979!important;
  }
  .msgInsights-bar-left {
    color: #797979!important;
  }
  .msgInsights-bar-right {
    color: #797979!important;
  }
  .input-box{
    color: #b9b9b9!important;
  }
  .tooltip .tooltiptext {
    background-color: #b9b9b9!important;
    color: #3f3f3f!important;
  }
  .tooltip .tooltiptext::after {
    border-color: #b9b9b9 transparent transparent transparent!important;
  }
  .emojiReaction.userClicked {
    background-color: #9292d6!important;
    border-color: #4e4ed6!important;
  }
  .msgActions-container {
    background: #949191!important;
    border: .0625rem solid #616161!important;
  }
  .msgActions-btn {
    color: #929292!important;
  }
  .plusSign {
    stroke: #d6d6d6!important;
  }
  .plusSign.addEmoji-msgActions {
    border: #696969 solid 1px!important;
    background: #696969!important;
  }
  .whiteFadedText {
    color: rgb(72 72 72 / 63%)!important;
  }
  .userDetail-inst{
    color: #717171!important;
  }
  a.Submit-btn {
    color: #fff!important;
    background: #76c1b3!important;
  }
  .Submit-btn {
    color: #fff!important;
    background: #76c1b3!important;
  }
  .flex-container-overlay.group {
    background-color: #272727!important;
  }
  .group-detail-item.bright {
    color: #797979!important;
  }
  .presenceIndicator {
    background: #272727!important;
  }
 /*@media screen and (min-width: 758px) {
   #drop-zone{
     background-image: url(https://files-and-media.ams3.digitaloceanspaces.com/images/Chat-background_dark.png)!important;
   }
 }*/
}

/* FONT */
html{
  scroll-behavior: smooth;
}
h1{
  color: #351c75;
  font-size: 2.2em;
  font-weight: 800;
  font-family: Lato, Arial, Helvetica, sans-serif;
  margin: 0 0 0.7rem;
  letter-spacing: -0.5px;
  text-align: left;
}

h2{
  color: #351c75;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: Lato, Arial, Helvetica, sans-serif;
  margin: 0 0 0.7rem;
  letter-spacing: -0.5px;
  text-align: left;
}

hr{
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #3f3f3f;
}

textarea {
  margin: 0; /* Firefox adds single pixel of margin to top and bottom of textarea */
  border-radius: 0; /* iOS adds border-radius to textarea */
}

/* Remove blue background when press button on mobile */
input,
textarea,
button,
select,
a,
div {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

table th.hasSort{
  cursor: pointer;
}
table th .description{
  margin-top: 10px;
  font-size: 13px;
  font-weight: 400;
}
.title-blankPage{
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
  font-weight: 600;
  color: #585858;
}
.div-li-container{
  margin-top: .5rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: .5rem;
}
@media only screen and (max-width: 425px) {
  .div-li-container{
    margin-left: 0;
    margin-right: 0;
  }
}
.div-li{
  padding: .5rem .5rem .5rem .5rem;
  display: inline-block;
  border-spacing: 11px;
  width: 100%;
  text-align: left;
}
.divLi.img{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  height: 37.25px;
  width: 55.75px;
  display: table-cell;
}
.divLi.text{
  display: table-cell;
  vertical-align: middle;
}
.smallFont{
  font-size: 14px;
}
.bold{
  font-weight: 600;
}
.noBold{
  font-weight: 400!important;
}
.whiteFadedText{
  color: rgb(255,255,255,0.63)!important;
}
.greenText{
  color: #14bd14;
  font-size: 13px;
}
.greenTextBorderBkgnd{
  background: #edf9ed!important;
  border: 1px solid #9ce39c!important;
  color: #14bd14!important;
}
.neutralText{
  color: #c7c7c7!important;
  font-size: 13px!important;
}
.neutralText-large{
  color: #b1b1b1!important;
  font-size: 18px!important;
  font-weight: 600!important;
}
.neutralText-small{
  color: #c7c7c7!important;
  font-size: 12px!important;
}
.greyText{
  color: #bdbdbd;
}
.lightGreyText{
  color: lightgrey;
}
.lightPurpleText{
  color: #c6c6fd;
}
.redText{
  color: #da0b0b;
  font-size: 13px;
}
.redTextBorderBkgnd{
  background: #fff0f0!important;
  border: 1px solid #e0a7a7!important;
  color: #da0b0b!important;
}
.orangeText{
  color: orange;
}
.purpleText{
  color: #4e4ed6;
}
.inheritFontSize{
  font-size: inherit;
}
.textCursor{
  cursor: text!important;
}

/* POSITIONING */
.dispBlock{
  display: block;
}
.dispInlineBlock{
  display: inline-block;
}
.alignCenter{
  text-align: center!important;
}
.alignCenter svg{
  display: inline-block;
}
.alignL{
  text-align: left!important;
}
.alignLeft{
  float:left!important;
}
.alignRight{
  float: right!important;
}
.textLeft{
  text-align: left!important;
}
.textRight{
  text-align: right!important;
}
.left{
  left: 0!important;
}
.right{
  right: 0!important;
}
.leftRightPad{
  padding: 0 2rem 0 2rem;
}
.absolute{
  position: absolute;
}
.button-unstyled {
  background: none;
  border: 0;
  outline: none;
  color: inherit;
  font: inherit;
  margin: 0;
  line-height: inherit;
  overflow: inherit;
  padding: 0;
  text-align: initial;
  vertical-align: initial;
  cursor: pointer;
  opacity: .6;
}
.descriptor{
  color: #595959;
  font-size: 0.85rem;
  text-align: left;
  font-family: Lato;
  margin-bottom: 0.2rem;
  line-height: normal;
}
.descriptor.intro{
  text-align: center;
  margin-bottom: 0;
}
@media only screen and (max-width: 425px) {
  .descriptor {
    font-size: 0.8rem;
  }
  .descriptor-br.prAddMessage{
    display: none!important;
  }
}
.descriptor-br{
  text-align: right;
  font-size: 13px;
  color: #c7c7c7;
  margin: 0.25rem 0 1.5rem;
}
.descriptor-br.prAddMessage{
  width: 80px;
  display: none;
}
.descriptor-br.form{
  margin-top: -1rem;
}
.fullWidth{
  width: 100%;
}
.noMarginBlockEnd{
  margin-block-end: 0;
}
.noMarginBlockStart{
  margin-block-start: 0;
}
.marginTop{
  margin-top: 2rem;
}
.marginBottom {
  margin-bottom: 2rem;
}
.marginLeft{
  margin-left: 1rem;
}
.marginRight {
  margin-right: 1rem;
}
.noMarginL{
  margin-left: 0!important;
}
.noMarginR{
  margin-right: 0!important;
}
.noMarginT{
  margin-top: 0!important;
}
.noMarginB{
  margin-bottom: 0!important;
}
.paddingBtm{
  padding-bottom: 10px;
}
.noPaddingL{
  padding-left: 0!important;
}
.noPaddingR{
  padding-right: 0!important;
}
.noPaddingT{
  padding-top: 0!important;
}
.noPaddingB{
  padding-bottom: 0!important;
}
.alignVrtl-middle{
  vertical-align: middle;
}
.displayFlex{
  display: flex!important;
}
.overflow-ellipsis{
  white-space: nowrap;
  display: block!important;
  text-overflow: ellipsis;
  overflow: hidden;
}
.normalLineheight{
  line-height: normal!important;
}
.tooltip{
  position: relative;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: #3f3f3f;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  padding: 5px 0;
  font-size: .8rem;
  line-height: 20px;

  /* Position the tooltip */
  position: absolute;
  z-index: 4;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.tooltip .tooltiptext.below{
  bottom: unset;
  top: 30px;
}
.tooltip .tooltiptext.below:after{
  top: -7%;
  left: 33.5%;
  transform: scaleY(-1);
}
.tooltip .tooltiptext.user {
  bottom: 140%;
  left: -20px;
  margin-left: unset;
}
.tooltip .tooltiptext.user:after {
  left: 10%;
  margin-left: unset;
  border-width: 8px;
  border-color: #4e4ed6 transparent transparent transparent;
}
.tooltip .tooltiptext.last {
  left: -25px;
}
.tooltiptext.chats,
.tooltiptext.groups,
.tooltiptext.compact {
  width: auto;
  left: 0;
  margin-left: unset;
  padding-left: 10px;
  padding-right: 10px;
}
.tooltiptext.groups,
.tooltiptext.compact {
  white-space: nowrap;
  font-weight: 600;
}
.tooltiptext.emojiReactions,
.tooltiptext.messageActions {
  left: 50%;
  min-width: 120px;
  width: auto;
  line-height: 18px;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 2;
}
.tooltiptext.user{
/*  border: 2px solid #4e4ed6;
  box-shadow: 0 3px 10px 0 rgba(0,0,0,.13);
  -webkit-box-shadow: 0 3px 10px 0 rgba(0,0,0,.13);
  -moz-box-shadow: 0 3px 10px 0 rgba(0,0,0,.13);*/
  box-shadow: 0 1px 7px 1.2px rgba(78,78,214,.22);
  -webkit-box-shadow: 0 1px 7px 1.2px rgba(78,78,214,.22);
  -moz-box-shadow: 0 1px 7px 1.2px rgba(78,78,214,.22);
  border: 3px solid #4e4ed6!important;
  width: 280px;
  height: 110px;
  text-align: unset;
  padding: 0;
  background-color: #2b2b2b;
}
.tooltiptext.messageActions{
  right: 0;
}
.tooltip .tooltiptext.profile {
  left: -46%;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.tooltip .tooltiptext.last::after,
.tooltip .tooltiptext.groups.last::after,
.tooltip .tooltiptext.compact.last::after {
  left: unset;
  right: 13px;
}
.tooltip .tooltiptext.messageActions.last::after {
  right: 0;
  margin-right: 9px;
  left: unset;
}
.tooltip .tooltiptext.chats::after,
.tooltip .tooltiptext.groups::after,
.tooltip .tooltiptext.compact::after {
  left: 0;
  margin-left: 9px;
}
.tooltip:hover .tooltiptext{
  visibility: visible;
  opacity: 1;
}

/* BUTTONS */
/* ModalTrigger Buttons */

/* Modal Content Buttons */
.textInputBox{
  display: block;
  width: 100%;
  padding: .75em .75rem;
  margin: 1rem 0 0rem;
  margin-bottom: .25rem;
  border: 1px solid #C5C5C5;
  border-radius: .25rem;
  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  -ms-border-radius: .25rem;
  -o-border-radius: .25rem;
  min-height: 97px;
  max-height: -webkit-calc(40vh - 200px);
  max-height: -moz-calc(40vh - 200px);
  max-height: calc(40vh - 200px);
  line-height: 20px;
  vertical-align: top;
  resize: none;
  -moz-resize: none;
  outline: none;
  font-family: inherit;
  overflow-y: scroll;
}
.textInputBox.small{
  padding: 0 .75em 0 .75em;
  min-height: 10px;
  margin-bottom: 1.5rem;
  margin-top: .25rem;
}
.textInputBox.passTxtBox{
  margin: 0 0 1rem 0;
}
.textInputBox.passTxtBox:invalid{
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.textInputBox.inputTitle{
  min-height: 20px;
  height: 40px;
}
.textInputBox.passTxtBox:focus,
.textInputBox:focus{
  border: 2px solid #3f3f3f;
}
a.Submit-btn,
.Submit-btn{
  color: #fff;
  font: inherit;
  font-weight: 600;
  background: #58d2bb;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  cursor: pointer;
  outline: none;
  border: none;
  height: 40px;
  min-width: 180px;
  text-align: center;
  padding: 0;
  -webkit-transition: background .15s ease-out;
  -moz-transition: background .15s ease-out;
  -ms-transition: background .15s ease-out;
  -o-transition: background .15s ease-out;
  transition: background .15s ease-out;
}
a.Submit-btn{
  padding: 0.8rem 0.8rem 0.8rem 0.8rem;
}
.Submit-btn.formInterim{
  min-width: 80px;
  background: #9f9ee7!important;
  border: 1px solid #8b8bdc;
}
.Submit-btn.formInterim:hover{
  background: #8b8bdc;
}
.Submit-btn.landingCTA.hollow{
  border: 1px solid #351c75;
  background: #fff;
  color: #351c75;
  padding-left: 1rem;
  padding-right: 1rem;
}
.Submit-btn.landingCTA.hollow:hover,
.Submit-btn.landingCTA.hollow:focus{
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
  -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
  background: #fff;
}
.Submit-btn.chatCTA{
  height: 30px;
  font-size: 14px;
}
.Submit-btn.HollowBtn{
  color: #58d2bb;
  border: 2px solid #58d2bb;
  background: #fff;
  margin: 0;
  min-width: 120px;
  font-weight: 400;
}
.Submit-btn.HollowBtn.Edit{
  min-width: 80px;
  margin-right: 20px;
  max-height: 30px;
  display: inline-block;
  border: none;
  color: #7373df;
}
.Submit-btn.HollowBtn.Edit:hover,
.Submit-btn.HollowBtn.Edit:focus{
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  background: none;
  color: #351c75;
  border: none;
}
.Submit-btn.HollowBtn.Edit:active{
  background: none;
}
.smallCTA{
  height: 20px!important;
}
.Submit-btn.BlankBtn{
  color: #58d2bb;
  background: #fff;
  margin: 0;
  min-width: 120px;
  font-weight: 400;
}
.Submit-btn.BlankBtn.Grey{
  color: #bfbebe;
}
.Submit-btn.BlankBtn.Inline{
  width: auto;
  height: auto;
  text-decoration: underline;
  font-weight: 600;
  padding: 0;
  min-width: 0;
  padding-left: .2rem;
  color: rgba(78,78,214,.79);
}
.Submit-btn.enableNotif{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.Submit-btn.notFollowing{
  width: 100px;
  min-width: max-content;
  height: 35px;
  margin-bottom: 1rem;
  font-size: 14px;
}
.Submit-btn.Following{
  width: 100px;
  min-width: max-content;
  height: 35px;
  margin-bottom: 1rem;
  font-size: 14px;
  background: #fff;
  color: #7f7f7f;
  border: 1px solid #a0a0a0;
}
.Submit-btn.Following:hover,
.Submit-btn.Following:focus{
  background: #fff;
  border: 1px solid #a0a0a0;
  color: #7f7f7f;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
  -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
}

.uploadPicBtn{
  margin-top: 25px!important;
}
a.Submit-btn:hover,
a.Submit-btn:focus,
.Submit-btn:hover,
.Submit-btn:focus {
  background: #06bf9c;
  color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
  -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
}
a.Submit-btn:focus{
  background: #58d2bb;
}
.Submit-btn.BlankBtn:hover,
.Submit-btn.BlankBtn:focus{
  color: #43a08f;
  background: #fff;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.Submit-btn.BlankBtn.Grey:hover,
.Submit-btn.BlankBtn.Grey:focus{
  color: #8e8e8e;
  background-color: none;
}
.Submit-btn.BlankBtn.Inline:hover,
.Submit-btn.BlankBtn.Inline:focus{
  color: #4e4ed6;
  background-color: none;
}
.Submit-btn.HollowBtn:hover,
.Submit-btn.HollowBtn:focus{
  color: #43a08f;
  background: #fff;
  border: 2px solid #58d2bb;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.Submit-btn.HollowBtn:disabled,
a.Submit-btn:disabled,
.Submit-btn:disabled{
  color: #9f9fa0;
  background: #e0e1e2;
  cursor: default;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
a.Submit-btn:disabled:active,
.Submit-btn:disabled:active {
  background: none;
}
.Submit-btn.BlankBtn:disabled{
  background: none!important;
}
.Submit-btn:active{
  background: #58d2bb;
}
.multilineOverflowBtn{
  border: 0;
  outline: none;
  color: #58d2bb;
  background-color: #fff;
  font-size: 13px;
  padding: 0 0 10px 0;
  display: block;
  margin: auto;
  margin-top: -24px;
  cursor: pointer;
  width: 200px;
  text-align: left;
}
.btn-left{
  width: 100px;
  color: #3baf99;
  font-weight: 600;
  background: #d9f9f3;
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
  cursor: pointer;
  outline: none;
  border: 1.5px solid #58d2bb;
  height: 40px;
  text-align: center;
  padding: 0;
  margin: 0.4rem 0 0.8rem 0;
  margin-right: -3px;
  -webkit-transition: background .15s ease-out;
  -moz-transition: background .15s ease-out;
  -ms-transition: background .15s ease-out;
  -o-transition: background .15s ease-out;
  transition: background .15s ease-out;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,.02);
  -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,.02);
  -moz-box-shadow: 0 3px 3px 0 rgba(0,0,0,.02);
  text-decoration: none;
  font:inherit;
}
.btn-right{
  width: 100px;
  color: #3baf99;
  font-weight: 600;
  background: #fff;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
  cursor: pointer;
  outline: none;
  border: 1.5px solid #58d2bb;
  height: 40px;
  text-align: center;
  padding: 0;
  margin: 0.4rem 0 0.8rem 0;
  margin-left: -3px;
  -webkit-transition: background .15s ease-out;
  -moz-transition: background .15s ease-out;
  -ms-transition: background .15s ease-out;
  -o-transition: background .15s ease-out;
  transition: background .15s ease-out;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,.02);
  -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,.02);
  -moz-box-shadow: 0 3px 3px 0 rgba(0,0,0,.02);
  text-decoration: none;
  font:inherit;
}
.btn-left:hover,
.btn-left:focus,
.btn-right:hover,
.btn-right:focus{
  background-color: #e9f9f6;
  color: #39a28e;
  border-style: solid;
}
.btn-left.active,
.btn-right.active{
  background-color: rgb(111, 195, 179);
  color: #fff;
}
.fileUploadPlaceholder{
  height: 200px;
  width: 100%;
  margin-bottom: 1rem;
  background: rgba(159,158,231,.17);
  padding: .4rem;
}
.fileUploadPlaceholder-title{
  font-size: 20px;
  line-height: 1.2143;
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 8px;
}
.fileUploadPlaceholder-subtitle{
  font-size: 15px!important;
  line-height: 1.46668;
  font-weight: 400;
  color: #848484!important;
  max-width: 100%;
  word-break: break-word;
}
.fileUploadDottedLine{
  border: 2px dotted #c0bfef;
  height: 100%;
  padding: 2rem;
}
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* In-chat Buttons */


/* CHECKBOXES */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 4rem;
  padding-top: .25rem;
  margin-bottom: 1.25rem;
  margin-right: 1rem;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.textParser-container {
  margin: 0;
  word-break: break-word;
}

.highlight-titleText{
  background-color: #e9e9ff;
  color: #4e4ed6;
}

.checkbox-container-login{
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 1.25rem;
  margin-top: .75rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #a3a3a3;
  font-size: 0.75rem;
  line-height: .9rem;
  text-align: left;
  font-family: Lato;
}
.checkbox-container-login.error{
  color: rgba(249,177,177,.90)!important;
}
.checkbox-container-login input,
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 1rem;
  height: 25px;
  width: 25px;
  background-color: rgba(78,78,214,.11);
}
.checkmark.disabled{
  background-color: #f2f2f2;
  pointer-events: none;
}
@media only screen and (min-width: 321px) and (max-width: 425px) {
  .checkbox-container{
    padding-left: 2.7rem;
  }
  .checkmark {
    left: 0.5rem;
  }
}
@media only screen and (max-width: 320px) {
  .checkbox-container{
    padding-left: 2.7rem;
  }
  .checkmark {
    left: 0.5rem;
  }
}

.initiativeCheckmark {
  background-color: rgba(247,247,247,.64)!important;
}
.checkbox-container-login:hover input ~ .checkmark:not(.disabled),
.checkbox-container:hover input ~ .checkmark:not(.disabled),
.checkbox-container-login input:focus ~ .checkmark,
.checkbox-container input:focus ~ .checkmark {
  background-color: rgba(78,78,214,.29);
}
.checkbox-container-login.error:hover input ~ .checkmark,
.checkbox-container.error:hover input ~ .checkmark,
.checkbox-container-login.error input:focus ~ .checkmark,
.checkbox-container.error input:focus ~ .checkmark {
  background-color: rgba(255, 153, 153, 0.7)!important;;
}
.checkbox-container-login:hover,
.checkbox-container-login:focus,
.checkbox-container-login input:focus .checkbox-container-login{
  color: #898888;
}
.checkbox-container-login.error:hover,
.checkbox-container-login.error:focus,
.checkbox-container-login.error input:focus .checkbox-container-login{
  color: rgba(245,89,89,.74)!important;
}
.checkbox-container-login:hover input ~ .initiativeCheckmark,
.checkbox-container-login input:focus ~ .initiativeCheckmark {
  background-color: rgba(247,247,247,.85)!important;
}
.checkbox-container-login:hover .initiative-tncText,
.checkbox-container-login:focus .initiative-tncText, {
  color: rgba(220,220,220,.98)!important;
}
.checkbox-container-login input:checked ~ .checkmark,
.checkbox-container input:checked ~ .checkmark {
  background-color: rgba(78,78,214,.79);
}
.checkbox-container-login input:checked ~ .initiativeCheckmark {
  background-color: rgba(181,181,255,.74)!important;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox-container-login input:checked ~ .checkmark:after,
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
.checkbox-container-login .checkmark:after,
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

/* RADIO BUTTONS */
.radioContainer {
  display: block;
  position: relative;
  padding-left: 29px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.setPrimary{
  right: 0;
  position: relative;
  display: inline-block;
  font-size: 13px;
}
.radioContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.radioCheckmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: rgba(78,78,214,.11);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.radioContainer:hover input ~ .radioCheckmark,
.radioContainer:focus input ~ .radioCheckmark {
  background-color: rgba(78,78,214,.29);
}
.radioContainer input:checked ~ .radioCheckmark {
  background-color: #351c75;
}
.radioCheckmark:after {
  content: "";
  position: absolute;
  display: none;
}
.radioContainer input:checked ~ .radioCheckmark:after {
  display: block;
}
.radioContainer .radioCheckmark:after {
 	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
	background: white;
}

/* TOGGLES / SLIDERS */
.notifToggleContainer{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
}
.notifToggleContainer.contact{
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}
.notifToggleTxt{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 75%;
  line-height: 2;
}
.contactToggleTxt{
  color: #8a8a8a;
  font-size: 14px;
  width: 55%;
  display: inline-block;
}
.emailBtns{
  display: inline-block;
  float: right;
  right: 0;
  margin-top: -4px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e2e2e2;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
}

input:checked + .slider {
  background-color: #351c75;
}

input:disabled + .slider {
  background-color: rgba(53, 28, 117,.4);
}
input:disabled:checked + .slider {
  background-color: rgba(53, 28, 117,.4)!important;
}

input:focus + .slider {
  box-shadow: 0 0 1px #fff;
}

input:checked + .slider:before {
  transform: translateX(26px);
  -webkit-transform: translateX(26px);
  -moz-transform: translateX(26px);
  -ms-transform: translateX(26px);
  -o-transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  -webkit-border-radius: 34px;
  -moz-border-radius: 34px;
  -ms-border-radius: 34px;
  -o-border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* LINKS */
a {
  color: #8f8fe5;
}
a:link {
  color: #8f8fe5;
}
a:visited {
  color: #8f8fe5;
}
a:hover {
  color: #7e7ec9;
}
a:active {
  color: #8f8fe5;
}
a.disabled{
  pointer-events: none;
}
.legal-href{
  color: #cacaca!important;
}
.error-href{
  color: red!important;
}
a.button{
  text-decoration: none;
}
.link{
  text-decoration: none;
  cursor: pointer;
}
.Submit-btn.link{
  color: #fff;
}
.link.map{
  color: #e2dfdf;
  cursor: pointer;
}
.inline-link{
  text-decoration: none;
  color: #1264a3;
  font-weight: 700;
  cursor: pointer;
}
.inline-link:hover,
.inline-link:focus {
  text-decoration: underline;
  color: #0b4c8c;
  outline: 0;
  cursor: pointer;
}
/* Slightly smaller so is not a main CTA */
.skipCTA{
  display: block;
  font-size: 0.7rem;
}
.Submit-btn.skipCTA{
  margin: auto;
  margin-top: 1rem;
}
/* IMAGES */
.img-circle {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.img-square {
  border-radius: .25rem;
  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  -ms-border-radius: .25rem;
  -o-border-radius: .25rem;
}

/*.userMenu-thumb img,*/
.img-circle img,
.img-square img{
  width: 100%;
  height: 100%;
  vertical-align: top;
  border-radius: inherit;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  -ms-border-radius: inherit;
  -o-border-radius: inherit;
}
/*.userMenu-thumb img{
  position: absolute;
  margin-left: -46px;
}
.msg-thumb img{
  position: relative;
  top: -2.5rem;
}
.msg-thumb.noModal img {
  top: 0;
}*/
.allowAddPic:hover > *,
.allowAddPic:focus > *{
  opacity: 0.4;
}

.img-circle.allowAddPic.isntMe:hover > *,
.img-square.allowAddPic.isntMe:hover > *,
.img-circle.allowAddPic.isntMe:focus > *,
.img-square.allowAddPic.isntMe:focus > *{
  opacity: 1;
}

.allowAddPic:hover .ModalOpenBtn-addPicBtn,
.allowAddPic:focus .ModalOpenBtn-addPicBtn,
.ModalOpenBtn-addPicBtn:focus{
  opacity: 1;
}

/* BOXES */
.contentBox{
  border-radius: .25rem;
  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  -ms-border-radius: .25rem;
  -o-border-radius: .25rem;
  background-color: #fff;
  border: 1px solid #efefef;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
  -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
  padding: .5rem 1rem .5rem 1rem;
  margin-bottom: 1rem;
}
.bubbleContainer div:nth-child(5n+0){
  border: 1px solid #ad8105;
  color: #fff;
  background-color: #eeb000;
}
.bubbleContainer div:nth-child(5n+1){
  border: 1px solid #666698;
  color: #fff;
  background-color: #9999e7;
}
.bubbleContainer div:nth-child(5n+2){
  border: 1px solid #3f9686;
  color: #fff;
  background-color: #58d2bb;
}
.bubbleContainer div:nth-child(5n+3){
  border: 1px solid #bd293e;
  color: #fff;
  background-color: #fb6c81;
}
.bubbleContainer div:nth-child(5n+4){
  border: 1px solid #5498a2;
  color: #fff;
  background-color: #65c8d8;
}

.bubble{
  font-size: 13px;
  max-width: 250px;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  text-align: center;
  font-weight: 600;
  display: inline-block;
  padding: .1rem .25rem .1rem .25rem;
  margin-right: 5px;
  margin-bottom: 5px;
}


/* ICONS */
.emoji-mart-emoji{
  cursor: pointer;
  outline: none;
}
.emoji-mart-category .emoji-mart-emoji span {
  cursor: pointer;
}
.logoContainer{
  height: 40px;
  margin-bottom: 1.5rem;
}
.logoImg{
  max-height: 100%;
  margin: auto;
  display: block;
}
.groupsAvatarContainer,
.menuItemIconContainer{
  height: 20px;
  width: 20px;
  float: left;
  margin-left: 0;
  margin-right: 6px;
  border-radius: 4px;
  margin-top: -2px;
  text-align: center;
  color: #fff;
}
.groupsAvatarContainer.flexContainer{
  height: 40px;
  width: 40px;
}
.menuItemIconContainer{
  margin-top: 2px;
  float: unset;
  margin-left: 6px;
  margin-right: 0;
  position: absolute;
  margin-top: 2px;
  color: #bfbeff;
}
.menuItemIconContainer.chat{
  margin-top: 0;
}
.groupsAvatarContainer.noImg{
  padding-top: 3px;
  background-color: #4e4ed6;
}
.groupsAvatarContainer img{
  border-radius: 4px;
}

.plusSign{
  stroke: #ababab;
  stroke-width: 1;
  vector-effect: non-scaling-stroke;
}
.reqAsterisk:after{
  content: " *";
  margin-left: .1em;
  font-size: 1.3em;
  position: relative;
  top: 2px;
  color: #ffb6b6;
}

.buttonIcon{
  padding-right: .5rem;
}

.spinner-container{
  font-size: 50px;
  color: #8f8fe5;
  -webkit-justify-content: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 40px;
  background-color: rgba(195,190,241,.18);
}

.down-arrow-img-icon{
  font-size: 15px;
  color: rgba(29,28,29,.7);
  opacity: 1;
  order: 2;
  -webkit-order: 2;
  -moz-order: 2;
  margin-left: 6px;
  margin-top: -2px;
}
/*.presenceContainer{
  float: left;
  margin-left: -5px;
  margin-right: 4px;
  width: 20px;
  height: 1.3125rem;
  text-align: center;
  color: #00ffb7;
  font-size: 13px;
  opacity: 0.95;
}*/
.trophyContainer{
  float: left;
  margin-left: -5px;
  margin-right: 8px;
  width: 20px;
  height: 1.75rem;
  text-align: center;
  color: #ffd211;
  font-size: 20px;
  opacity: 0.89;
}
.verifiedBadgeContainer{
  display: inline-block!important;
  /* vertical-align: middle;*/
}
#icon-verified-badge{
  overflow: visible;
}

/* MODALS */
/* Hides the text within the close button (we don't need to see it, */
/* but this way screen readers will still be able to pick up on it) */
.u-hide-visually {
  border: 0!important;
  clip: rect(0 0 0 0)!important;
  clip-path: inset(0 0 0 0)!important;
  height: 1px!important;
  margin: -1px!important;
  overflow: hidden!important;
  padding: 0!important;
  position: absolute!important;
  width: 1px!important;
  white-space: nowrap!important;
}

/* Lock the scroll position by adding this class to the `<html>` element.*/
.u-lock-scroll {
  overflow: hidden!important;
}
