/* Dex last merged this code on 9th nov 2020  */

.group-about-container{
  /*border-radius: 4px;*/
  padding: 15px;
  /*background: #504f4f;*/
}

.group-users-container{
  padding: 0 15px 15px 15px;
  margin-top: -2rem;
}

.groupName-flexContainer{
  display: block;
  height: 40px;
  margin-bottom: 10px;
}

.group-detail-item{
  margin-bottom: 10px;
  color: #a5a2a2;
  font-size: 13px;
  position: relative;
}
.group-detail-item.bright{
  color: #3f3f3f;
}

.group-detail-item.link{
  display: block;
}

.chat-title.flexContainer{
  padding-top: 22px;
}

.groupFlexContent-title{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  color: #8e9297;
  height: 40px;
  padding-top: 16px;
}

.userItem-FlexContainer{
  margin-bottom: 10px;
  position: relative;
}
.userItem-FlexContainer:last-of-type{
  margin-bottom: 2rem;
}

.presenceIndicator{
  width: 15px;
  height: 15px;
  color: #03eba9;
  font-size: 13px;
  opacity: 0.95;
  display: inline-block;
  position: absolute;
  margin-left: 24px;
  bottom: -2px;
  z-index: 1;
}

.sender-name.showOnline{
  display: inline-block;
}

.showMore{
  margin-bottom: 2rem;
  width: 100%;
  cursor: pointer;
  margin-top: .25rem;
  height: 30px;
  font-weight: bold;
  color: #3f3f3f;
}

.ModalOpenBtn-openFlexContainer{
  width: 20px;
  height: 20px;
  padding: 0;
  background: none;
  border: 0;
  outline: none!important;
  box-shadow: none!important;
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  position: absolute;
  right: 16px;
  margin-left: 10px;
}
.ModalOpenBtn-openFlexContainer:hover{
  background: none;
}
.fullpage-modal-container.isDevice{
  padding-top: 2rem;
}
.fullpage-modal-container.openFlexContainer{
  background-color: #f2f2f2;
}
