/* merged on 16th mar 2022 */

.groupdash-menuBar{
  margin-top: -10px;
  margin-bottom: 20px;
}
.groupdash-menuBar.commPage{
  overflow: hidden;
/*  overflow-x: scroll;*/
  white-space: nowrap;
}
.groupdash-menuBtn,
.button-unstyled.groupdash-menuBtn{
  padding-left: 0;
  margin-right: 30px;
  padding-bottom: 8px;
  border-bottom: 2px solid transparent;
  color: grey;
  font-size: 15px;
}
/*.groupdash-menuBtn:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: -5px;
  left: -30px;
  cursor: pointer;
}*/
.groupdash-menuBtn.tabActive{
  border-bottom: 2px solid #4e4ed6;
  color: #2a2ad6;
  font-weight: 600;
}
.groupdash-menuBtn.homePage.tabActive{
  border-bottom: 3px solid #4e4ed6;
}
.dash-welcomeContainer{
  background-color: #ffdcdc;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  padding: 25px;
  height: 120px;
  font-size: 14px;
}

.dash-welcomeHeader{
  font-size: 16px;
  color: #ff6c81;
  padding: 10px 0 10px 0;
}
.dash-welcomeImg-container{
  height: 100px;
  width: 170px;
  position: absolute;
  top: 80px;
  right: 25px;
}
.dash-welcomeImg-container.commPage{
  top: -100px;
  right: 0;
  float: right;
  position: relative;
}
@media only screen and (max-width: 329px) {
  .dash-welcomeContainer{
    height: 150px;
  }
  .dash-welcomeImg-container.commPage{
    top: -147px;
    height: 51px;
    width: 96px;
    right: -20px;
  }
}
@media only screen and (min-width: 330px) and (max-width: 392px) {
  .dash-welcomeContainer{
    height: 140px;
  }
  .dash-welcomeImg-container.commPage{
    top: -133px;
    height: 63px;
    width: 107px;
  }
}
@media only screen and (min-width: 392px) and (max-width: 530px) {
  .dash-welcomeImg-container.commPage{
    height: 70px;
    width: 119px;
    top: -137px;
  }
}
@media only screen and (min-width: 530px) and (max-width: 758px) {
  .dash-welcomeImg-container.commPage{
    top: -150px;
  }
}
@media only screen and (min-width: 859px) {
  .dash-welcomeImg-container{
    height: 160px;
    width: 270px;
    position: absolute;
    top: 40px;
    right: 45px;
  }
  .dash-welcomeImg-container.commPage{
    height: 120px;
    width: 200px;
    position: relative;
    top: -107px;
    right: 0;
    float: right;
  }
}
.groupDashImg{
  height: 100%;
}
.dash-row{
  height: 240px;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
}
.dash-row.tall{
  min-height: 300px;
}
.dash-row.fullHeight{
  height: 100%;
}
.stackedBar-outerContainer{
  margin-top: 25px;
  margin-bottom: 15px;
}
.stackedBar-container{
  height: 170px;
}
.stackedBar-container.small{
  height: 75px; /* 100px */
  margin-top: -30px;
}
.flexBox-Chart{
  display: flex;
  flex-direction: column;
}
.dash-row .mainBox{
  flex: 50%;
  margin-right: 15px;
  min-width: 0; /* required for allowing chart.js charts to be properly responsive */
  position: relative;
}
.mainBox .SpinnerWrapper,
.flexBox-Chart .SpinnerWrapper{
  margin-top: 30px;
  margin-bottom: 30px;
}
.whiteBox{
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  box-shadow: 0 3px 10px 0 rgba(0,0,0,.08);
  -webkit-box-shadow: 0 3px 10px 0 rgba(0,0,0,.08);
  -moz-box-shadow: 0 3px 10px 0 rgba(0,0,0,.08);
  background-color: #fff;
}
.dash-row .mainBox:nth-child(n+1):last-child {
  margin-right: 0px;
}
.dash-row .miniBox-container{
  display: flex;
  flex-direction: row;
}
.dash-row .miniBox{
  width: 125px;
  margin-right: 15px;
  color: #fff;
  padding: 20px;
  padding-top: 10%;
}
.dash-row .miniBox:last-of-type{
  margin-right: 0;
}
.dash-row .miniBox.first{
  background-color: #4E4ED6; /* purple */
}
.dash-row .miniBox.second{
  background-color: #15CD94; /* green */
}
.dash-row .miniBox.third{
  background-color: #F97BAB; /* pink */
}
.dash-boxTitle{
  padding: 20px 20px 10px 20px;
  font-size: 13px;
}
.mainBox-headerText{
  position: absolute;
  padding: 25px 10px 15px 35px;
  z-index: 1;
}
.mainBox-headerText .blueText,
.mainBox-headerText .purpleText{
  font-size: 10px;
  line-height: 12px;
}
.mainBox-headerText .blueText{
  margin-top: 10px;
}
.miniBox-emoji{
  font-size: 20px;
  margin-left: -3px;
}
.miniBox-title{
  margin-top: 5px;
}
.mainBox-numLarge,
.miniBox-numLarge{
  margin-top: 5px;
  font-size: 24px;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 5px;
}
.miniBox-text{
  font-size: 14px;
  line-height: 14px;
  margin-top: 7px;
}
@media (max-width: 859px) {
  .dash-row {
    flex-direction: column;
    height: 100%;
  }
  .dash-row .mainBox{
    margin-right: 0;
    margin-bottom: 15px;
  }
  .dash-row .miniBox{
    width: 33%;
    margin-right: 10px;
  }
  .dash-row .col-6{
    width: 100%;
  }
}
.percentageChg{
  padding: 2px;
  padding-bottom: 0;
  display: inline-block;
  margin-top: 5px;
  font-size: 12px;
}
.percentageChg.positive {
  color: #7DD56D;
  background-color: #DBF3D7;
}
.percentageChg.negative {
  color: #FF3300;
  background-color: #FFE1E1;
}
.dash-row .bottomCTA{
  margin: auto;
  margin-bottom: 45px;
  margin-top: 20px;
}
.dash-boxTitle.mapCountry{
  z-index: 1;
/*  right: 0;*/
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  color: #3f3f3f;
}
.dash-boxTitle.mapCountry.GBR{
  padding-top: 40px;
}
.noUsersToDisplay{
  text-align: center;
  margin-top: 20px;
  color: darkgrey;
  font-size: 14px;
}
