/* Dex last merged this code on 9th nov 2020 */

.contentContainer{
  overflow-y: auto;
  height: 100%;
  overflow-x: hidden;
  width: 100vw;
}

@media screen and (min-width: 760px) {
  .contentContainer{
    width: -webkit-calc(100vw - 220px);
    width: -moz-calc(100vw - 220px);
    width: calc(100vw - 220px);
  }
}

.page-header {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  height: 53px;
  padding-left:1.5rem;
  padding-right:1.5rem;
  padding-top:.5rem;
  padding-bottom:.5rem;
  align-items:center;
  -webkit-align-items: center;
  border-bottom: 1px solid #dae1e7;
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  background: #fff;
}
.page-header .chat {
  background: #f2f2f2;
}

.viewMenu{
  margin-right: 1rem!important;
}

.page-detail-container{
  margin-right: 10px;
}

.page-title {
  color:#3f3f3f;
  font-weight:600;
  margin:0;
  display:block;
  font-size:1rem;
}

.page-detail {
  color:#3f3f3f;
  font-weight:400;
  margin:0;
  display:block;
  font-size:.75rem;
}

.page-panel{
  position:relative;
  flex:1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction:column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  outline:0;
}

.isNotif-navMenu {
  background-color: #e22e48;
  width: .5rem;
  height: .5rem;
  position: relative;
  bottom: 15px;
  left: 12px;
}
