/* Dex last merged this code on 29th mar 2023 */

.contentContainer{
  overflow-y: auto;
  height: 100%;
  overflow-x: hidden;
  width: 100vw;
}

@media screen and (min-width: 760px) {
  .contentContainer{
    width: -webkit-calc(100vw - 220px);
    width: -moz-calc(100vw - 220px);
    width: calc(100vw - 220px);
  }
}

.feedTopBanner{
  top: 55px;
  left: 50%;
  right: unset;
  z-index: 1001;
  position: fixed;
}
@media screen and (max-width: 758px) {
  .feedTopBanner{
    transform: translateX(-52%);
  }
}

.page-header {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  height: 53px;
  padding-left:1.5rem;
  padding-right:1.5rem;
  padding-top:.5rem;
  padding-bottom:.5rem;
  align-items:center;
  -webkit-align-items: center;
  border-bottom: 1px solid #dae1e7;
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  background: #fff;
}
.page-header .chat {
  background: #f2f2f2;
}

.feed-header{
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  height: 80px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  align-items: center;
  -webkit-align-items: center;
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
}
.feed-header.isIphone{
  flex: 1 0 auto; /* to fix iphone bug */
}
.signUpPrompt-header{
  min-width: 200px;
  text-align: right;
}
.signUpPrompt-header a {
  margin-left: 20px;
}
.signUpPrompt-header.isOnQAPage{
  margin-top: 10px;
}
.signUpPrompt-headerBanner{
  display: none;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-left: -30px;
  margin-right: -30px;
  background-color: white;
  margin-left: -30px;
  margin-right: -30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5em;
  padding-right: 5em;
  border-top: 2px solid #dadada;
  border-bottom: 2px solid #dadada;
  box-shadow: 0 1px 13px 0 rgb(0 0 0 / 18%);
  -webkit-box-shadow: 0 1px 13px 0 rgb(0 0 0 / 18%);
  -moz-box-shadow: 0 1px 13px 0 rgb(0 0 0 / 18%);
  align-items: center;
  -webkit-align-items: center;
}
.prBannerSmallLogoContainer.isOnQAPage{
  margin: auto;
}
.signUpPromptBanner.onFeedSideBar{
  width: auto;
  margin-right: unset;
  height: 300px;
  background-position: -345px center;
}
.signUpPromptBanner.onFeedSideBar .bannerTextContainer{
  margin-left: 20px;
  margin-top: 10px;
  width: 40%;
}
@media screen and (max-width: 400px) {
  .Submit-btn.signUpPrompt{
    min-width: 120px;
  }
}
/*@media screen and (max-width: 400px) {
  .QABackBtn.notLoggedIn span{
    display: none;
  }
  .QABackBtn.notLoggedIn:after{
    content: ' More advice';
    font-size: 13px;
  }
}*/
@media screen and (max-width: 600px) {
  .signUpPrompt-header.isOnQAPage{
    text-align: left;
    display: flex;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 15px;
    -webkit-align-items: center;
    align-items: center;
  }
  .signUpPrompt-header.isOnQAPage a:first-of-type{
    order: 2;
  }
  .signUpPrompt-header.isOnQAPage a:nth-of-type(2){
    order: 1;
    min-width: 120px;
  }
  .signUpPrompt-header.isOnQAPage a {
    margin-left: unset;
    margin-right: 20px;
  }
  .prBannerSmallLogoContainer.isOnQAPage{
    margin-left: auto;
    margin-right: 20px;
  }
}
@media screen and (max-width: 670px) {
  .signUpPrompt-header:not(.isOnQAPage){
    display: none;
  }
  .signUpPrompt-headerBanner{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 759px) and (max-width: 875px) {
  .signUpPrompt-header:not(.isOnQAPage){
    display: none;
  }
  .signUpPrompt-headerBanner{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (max-width: 760px) {
  .feed-header .searchBox-header{
    width: 100%;
  }
}

@media screen and (min-width: 760px) {
  .feed-header .searchBox-header{
    max-width: 600px;
  }
}
@media screen and (min-width: 1280px) {
  .signUpPrompt-header{
    position: absolute;
    right: 30px;
  }
}

.filterFeed-container .filter-btn:first-of-type{
  border-top-left-radius: .375em;
  border-bottom-left-radius: .375em;
}

.filterFeed-container .filter-btn:last-of-type{
  border-right: 1px solid;
  border-top-right-radius: .375em;
  border-bottom-right-radius: .375em;
}
.filter-btn{
  border: 1px solid #4e4ed6;
  border-right: none;
  padding: 8px 12px;
  color: #3f3f3f;
  background: white;
}
.filter-btn.isActive{
  background: #e2e2ff;
  color: #4e4ed6;
}
.filter-btn.isActive:hover{
  cursor: pointer;
  background: #e2e2ff;
  color: #4e4ed6;
}
.filter-btn:hover{
  cursor: pointer;
  background-color: #f6f6ff;
  color: #4e4ed6;
}

.thickPurpleContentBox,
.thinPurpleContentBox,
.thinGreyContentBox{
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  background-color: white;
  margin-bottom: 30px;
}
.thickPurpleContentBox{
  border: 6px solid #4e4ed6;
}
.thickPurpleContentBox.withBorderTop{
  border-top: 20px solid #4e4ed6;
}
.thinPurpleContentBox{
  border: 2px solid #4e4ed6;
}
.thinPurpleContentBox.withBorderTop{
  border-top: 20px solid #4e4ed6;
}
.thinGreyContentBox{
  border: 2px solid #d9d9d9;
}
.thinGreyContentBox.withBorderTop{
  border-top: 20px solid #d9d9d9;
}
.thinGreyContentBox .title{
  background: #f5f5f5;
  height: 35px;
  border-top-left-radius: 15px;
  -webkit-top-left-border-radius: 15px;
  -moz-border-top-left-radius: 15px;
  -ms-border-top-left-radius: 15px;
  -o-border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -webkit-top-right-border-radius: 15px;
  -moz-border-top-right-radius: 15px;
  -ms-border-top-right-radius: 15px;
  -o-border-top-right-radius: 15px;
  padding: 10px 20px 10px 20px;
  color: #565656;
}
@media screen and (min-width: 1080px) {
  .thickPurpleContentBox,
  .thinPurpleContentBox,
  .thinGreyContentBox{
    margin-left: 20px;
  }
}
.userStepsTitle{
  position: relative;
  line-height: normal;
  padding-top: 10px;
  width: 100%;
  cursor: pointer;
}
/*.sideBar-header{
  background-color: #4e4ed6;
  height: 20px;
}*/

#pctCircleContainer-userSteps{
  height: 90px;
  width: 90px;
  margin: auto;
  margin-top: 10px;
}
.groupsContainer.dispInline .ModalOpenBtn-joinProgSmlHome{
  margin-top: -3px;
  smargin-left: 3px;
}
.checkbox-container.homePage{
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0;
  margin-right: 0;
}
.checkbox-container.homePage:hover{
  background: #f2f2f2;
}
.checkbox-container.homePage .checkmark{
  top: 0.8rem;
}

.viewMenu{
  margin-right: 1rem!important;
}

.page-detail-container{
  margin-right: 10px;
}

.page-title {
  color:#3f3f3f;
  font-weight:600;
  margin:0;
  display:block;
  font-size:1rem;
}

.page-detail {
  color:#3f3f3f;
  font-weight:400;
  margin:0;
  display:block;
  font-size:.75rem;
}

.page-panel{
  position:relative;
  flex:1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction:column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  outline:0;
}

.isNotif-navMenu {
  background-color: #e22e48;
  width: .5rem;
  height: .5rem;
  position: relative;
  bottom: 15px;
  left: 12px;
}

.feedItemTextContainer.maxViewsReached{
  display: none;
}
.feedItemUnlockSection{
  line-height: 1.25rem;
}
.feedItemUnlockSection:before{
  color: transparent;
  content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.";
  display: block;
  position: relative;
  text-shadow: 0 0 8px rgb(0 0 0 / 60%);
}
.feedItemUnlockSection-btnContainer{
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
