/* Dex last merged this code on 26th jan 2024 */

.membershipsContainer{
  padding-top: 1rem;
  padding-left: .5rem;
  padding-right: .5rem;
}
.memberships-title{
  color: #534ed6;
  font-weight: 400;
  margin-bottom: .25rem;
}
.groupsContainer{
  height: 30px;
  position: relative;
}
.groupsContainer a.noAvatar button .initial{
  top: 6px;
  position: absolute;
  left: 9px;
}
.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .2s ease;
  background-color: rgb(78,78,214,.13);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.groupsContainer a button:hover .overlay,
.groupsContainer a button:focus .overlay{
  opacity: 1;
}
.groupsContainer a.noAvatar:nth-of-type(5n+0) button{
  border: 1px solid rgba(173,129,5,.3);
  color: #fff;
  background-color: rgba(238,176,0,.5);
}
.groupsContainer a.noAvatar:nth-of-type(5n+1) button{
  border: 1px solid rgba(102,102,152,.3);
  color: #fff;
  background-color: rgba(153,153,231,.5);
}
.groupsContainer a.noAvatar:nth-of-type(5n+2) button {
  border: 1px solid rgba(63,150,134,.3);
  color: #fff;
  background-color: rgba(88,210,187,.5);
}
.groupsContainer a.noAvatar:nth-of-type(5n+3) button {
  border: 1px solid rgba(189,41,62,.3);
  color: #fff;
  background-color: rgba(251,108,129,.5);
}
.groupsContainer a.noAvatar:nth-of-type(5n+4) button {
  border: 1px solid rgba(84,152,162,.3);
  color: #fff;
  background-color: rgba(101,200,216,.5);
}
.groupsContainer a.noAvatar:nth-of-type(5n+0) button:hover,
.groupsContainer a.noAvatar:nth-of-type(5n+0) button:focus{
  background-color: rgba(238,176,0,.9);
}
.groupsContainer a.noAvatar:nth-of-type(5n+1) button:hover,
.groupsContainer a.noAvatar:nth-of-type(5n+1) button:focus{
  background-color: rgba(153,153,231,.9);
}
.groupsContainer a.noAvatar:nth-of-type(5n+2) button:hover,
.groupsContainer a.noAvatar:nth-of-type(5n+2) button:focus {
  background-color: rgba(88,210,187,.9);
}
.groupsContainer a.noAvatar:nth-of-type(5n+3) button:hover,
.groupsContainer a.noAvatar:nth-of-type(5n+3) button:focus {
  background-color: rgba(251,108,129,.9);
}
.groupsContainer a.noAvatar:nth-of-type(5n+4) button:hover,
.groupsContainer a.noAvatar:nth-of-type(5n+4) button:focus {
  background-color: rgba(101,200,216,.9);
}

/*.groupsContainer a:nth-last-of-type(1) button{
  color: #919191;
  background: rgba(0,0,0,.07);
  border: 1px solid #dcdcdc;
}

.groupsContainer a:nth-last-of-type(1) button:hover,
.groupsContainer a:nth-last-of-type(1) button:focus {
  background-color: rgba(212,212,212,.2095);
}*/

.landingCTABtnContainer{
  text-align: right;
  margin-bottom: -1rem;
}
.contentBox.landingCTA{
  padding-top: 3rem;
  padding-bottom: 4rem;
  text-align: center;
  margin-top: 1.5rem;
}
#typeform-popup{
  min-width: 210px;
}

.placeholderPic{
  width: auto;
  min-height: 100px;
  max-height: 150px;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.placeholderPic.small{
  height: 75px;
  min-height: 75px;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}
.placeholderPic.yayHands{
  width: 50px;
  height: 50px;
  min-height: 50px;
  display: inline-block;
  background-image: url(https://unpkg.com/emoji-datasource-emojione@4.0.4/img/emojione/sheets-256/64.png);
  background-size: 5200% 5200%;
  background-position: 64.7059% 23.5294%;
  background-repeat: no-repeat;
}
.placeholderPic.mentorMatches{
  background-repeat: no-repeat;
  background-image: url(https://files-and-media.ams3.digitaloceanspaces.com/images/MentorMatches_125.png);
  background-size: contain;
  background-position: center;
}
.placeholderPic.openEnvelope{
  background-repeat: no-repeat;
  background-image: url(https://files-and-media.ams3.digitaloceanspaces.com/images/Invite%20Icon_60.png);
  background-size: contain;
  background-position: center;
}
.placeholderPic.askAQ{
  background-repeat: no-repeat;
  background-image: url(https://files-and-media.ams3.digitaloceanspaces.com/images/AskAQ_Icon.png);
  background-size: contain;
  background-position: center;
  height: 40px;
  min-height: unset;
  max-height: unset;
  margin-top: unset;
  margin-bottom: unset;
}
.placeholderPic.cross{
  background-repeat: no-repeat;
  background-image: url(https://files-and-media.ams3.digitaloceanspaces.com/images/Cross%20Icon_50.png);
  background-size: contain;
  background-position: center;
  min-height: 50px;
}
.placeholderPic.tick{
  background-repeat: no-repeat;
  background-image: url(https://files-and-media.ams3.digitaloceanspaces.com/images/Tick%20Icon_50.png);
  background-size: contain;
  background-position: center;
  min-height: 50px;
}

.placeholderPic.completeFullSU{
  background-repeat: no-repeat;
  background-image: url(https://files-and-media.ams3.digitaloceanspaces.com/images/CompleteFullSignUp.png);
  background-size: contain;
  background-position: center;
  min-height: 80px;
}

.placeholderPic.completeFullSUMentor{
  background-repeat: no-repeat;
  background-image: url(https://files-and-media.ams3.digitaloceanspaces.com/images/CompleteFullSignUpMentor.png);
  background-size: contain;
  background-position: center;
  min-height: 80px;
}

.placeholderPic.completeTrain{
  background-repeat: no-repeat;
  background-image: url(https://files-and-media.ams3.digitaloceanspaces.com/images/CompleteTraining_Icon.png);
  background-size: contain;
  background-position: center;
  min-height: 80px;
}

.placeholderPic.completeMenteeTrain{
  background-repeat: no-repeat;
  background-image: url(https://files-and-media.ams3.digitaloceanspaces.com/images/CompleteMenteeTraining.png);
  background-size: contain;
  background-position: center;
  min-height: 80px;
}

.placeholderPic.completeMentorTrain{
  background-repeat: no-repeat;
  background-image: url(https://files-and-media.ams3.digitaloceanspaces.com/images/CompleteMentorTraining.png);
  background-size: contain;
  background-position: center;
  min-height: 80px;
}

.placeholderPic.uploadSelfieID{
  background-repeat: no-repeat;
  background-image: url(https://files-and-media.ams3.digitaloceanspaces.com/images/PhotoID_110.png);
  background-size: contain;
  background-position: center;
  min-height: 80px;
}

.placeholderPic.newMatch{
  background-repeat: no-repeat;
  background-image: url(https://files-and-media.ams3.digitaloceanspaces.com/images/NewMatch_Icon.png);
  background-size: contain;
  background-position: center;
  min-height: 80px;
}
.placeholderPic.feedbackReq{
  background-repeat: no-repeat;
  background-image: url(https://files-and-media.ams3.digitaloceanspaces.com/images/CompleteFeedback_Icon.png);
  background-size: contain;
  background-position: center;
  min-height: 80px;
}
@media screen and (min-width: 758px) {
  .placeholderPic.uploadSelfieID{
    background-image: url(https://files-and-media.ams3.digitaloceanspaces.com/images/PhotoID.png);
  }
  .placeholderPic.mentorMatches{
    background-image: url(https://files-and-media.ams3.digitaloceanspaces.com/images/MentorMatches_224.png);
  }
  .showProgsPic{
    background-image: url(https://files-and-media.ams3.digitaloceanspaces.com/images/Memberships.png)!important;
  }
  .showCommunitiesPic{
    background-image: url(https://files-and-media.ams3.digitaloceanspaces.com/images/Communities.png)!important;
  }
  .showSkillsCommunitiesPic{
    background-image: url(https://files-and-media.ams3.digitaloceanspaces.com/images/Communities_Skills.png)!important;
  }
  .placeholderPic.openEnvelope{
    background-image: url(https://files-and-media.ams3.digitaloceanspaces.com/images/Invite%20Icon_100.png);
  }
  .placeholderPic.uploadCV{
    background-image: url(https://files-and-media.ams3.digitaloceanspaces.com/images/CVIcon.png);
  }
  .placeholderPic.cross{
    background-image: url(https://files-and-media.ams3.digitaloceanspaces.com/images/Cross%20Icon.png);
  }
  .placeholderPic.tick{
    background-image: url(https://files-and-media.ams3.digitaloceanspaces.com/images/Tick%20Icon.png);
  }
}
@media screen and (min-width: 1200px) {
  .placeholderPic.mentorMatches{
    background-image: url(https://files-and-media.ams3.digitaloceanspaces.com/images/MentorMatches.png);
  }
  .placeholderPic.openEnvelope{
    background-image: url(https://files-and-media.ams3.digitaloceanspaces.com/images/Invite%20Icon.png);
  }
}

.placeholderPic.uploadCV{
  background-repeat: no-repeat;
  background-image: url(https://files-and-media.ams3.digitaloceanspaces.com/images/CVIcon_60.png);
  background-size: contain;
  background-position: center;
  min-height: 80px;
}

.landingCTATitle{
  color: #4e4ed6;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 17px;
  max-width: 28rem;
  line-height: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.landingCTADesc{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  text-align: center;
  max-width: 25rem;
  color: #9f9ee7;
  font-weight: 400;
  font-size: 0.9rem;
}

.showProgsPic,
.showCommunitiesPic,
.showSkillsCommunitiesPic{
  width: 200px;
  margin: auto;
  margin-top: .5rem;
  border: 2px solid #5555d1;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  background-size: cover;
}
.showSkillsCommunitiesPic{
  height: 230px;
  background-image: url(https://files-and-media.ams3.digitaloceanspaces.com/images/Communities_Skills_125.png);
}
.showCommunitiesPic{
  height: 230px;
  background-image: url(https://files-and-media.ams3.digitaloceanspaces.com/images/Communities_125.png);
}
.showProgsPic{
  height: 130px;
  background-image: url(https://files-and-media.ams3.digitaloceanspaces.com/images/Memberships_125.png);
}
