/* Dex last merged this code on 19th May 2019 */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  background: #fff;
  font-size: 100%;
  font-family: Roboto, Signika, Raleway, Lato, Arial, Helvetica, sans-serif;
  display: block;
  margin: 0px;
}

body {
  margin: 0;
  font-family: Roboto, Signika, Raleway, Lato, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1rem;
  min-height: 100vh;
  max-width: 100%;
  background: #red;
  padding: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

main {
  height: 100%;
}

.pwdByMain{
  background:linear-gradient(0deg,rgba(94,19,167),rgba(94,19,167,0.3)),url(http://www.accessvfx.org/static/media/uimages/paddington01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 91%;
  overflow:hidden;
  position: relative;
}
@media only screen and (max-height: 650px) {
  .pwdByMain{
    min-height: 650px;
    max-height: 1100px;
  }
}
@media only screen and (max-width: 600px) {
  .pwdByMain{
    min-height: 800px;
    max-height: 1100px;
  }
}

.pwdByNav{
  width: 100%;
  padding: 0;
  height: 100px;
  background-color: transparent;
  z-index: 1000;
  overflow: hidden;
  top: 0;
  position: absolute;
  border-bottom: none;
}

.pwdByNav.is-fixed {
  position: fixed;
  border-bottom: none;
  box-shadow: 0 1px 1px rgba(0,0,0,.15);
  background-color: #5e13a7!important;
  height: 71px;
  transition: background-color 200ms linear;
  animation: slide-in--down 420ms cubic-bezier(.165,.84,.44,1);
}

.pwdByNav.is-fixed .pwdByPrLogoContainer{
  top: 20px;
  left: 30px;
}

.pwdByPrLogoContainer{
  height: 50px;
  width: 120px!important;
  flex-shrink: 0;
  position: relative;
  top: 3rem;
  left: 3rem;
}

.sectionMain{
  position: absolute;
  display: inline-block;
  margin-bottom: 15px;
  top: 22%;
}

.sectionMainContainer{
  padding: 0 5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.initiativeHeader{
  font-weight: 700;
  line-height: 1.1875;
  letter-spacing: -.8px;
  margin-top: 0;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #fff;
}

.initiativeSubHeader{
  font-weight: 400;
  line-height: 1.44444444;
  letter-spacing: normal;
  color: #fff;
}

.initiativeTextDetail{
  color: #fffdfd9c;
  font-size: .75rem;
}
.sponsoredByText{
  color: #000;
  font-size: .75rem;
  margin-bottom: 0.15rem;
}
.initiativeLogoContainer{
  height: 60px;
  width: 120px!important;
  flex-shrink: 0;
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 1rem;
}
.initiativeLogoImg{
  display: block;
  height: 100%!important;
  width: 100%!important;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}
.sponsoredByLogoContainer{
  height: 30px;
  width: 100px!important;
  flex-shrink: 0;
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 1rem;
}
.sponsoredByLogoImg{
  display: block;
  height: 100%!important;
  width: 100%!important;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}
.initiative-inline-link{
  text-decoration: underline;
  color: #dcdcdcba;
  cursor: pointer;
}
.initiative-inline-link:hover {
  text-decoration: underline;
  color: #7e7ec9; /* #8f8fe5*/
  outline: 0;
  cursor: pointer;
}
.initiativeCheckboxContainer{
  padding-bottom: 1rem;
}
.initiative-tncText{
  color: #dcdcdcba!important;
  padding-top: .25rem;
}

.initiativeVFXbtn-student{
  color: #5e13a7;
  background: #aafd60;
  border-radius: .5rem;
  cursor: pointer;
  outline: none;
  border: none;
  height: 50px;
  min-width: 210px;
  text-align: center;
  padding: 0;
  transition: background .15s ease-out;
  font: inherit;
  font-weight: 600;
  margin-bottom: .5rem;
}
.initiativeVFXbtn-student:hover{
  background: #aafd60d6;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
}
.initiativeVFXbtn-student:active{
  background: #aafd60;
}
.initiativeVFXbtn-mentor{
  color: #f82992;
  background: transparent;
  border-radius: .5rem;
  cursor: pointer;
  outline: none;
  border: 1.5px solid #f82992;
  height: 50px;
  min-width: 210px;
  text-align: center;
  padding: 0;
  transition: background .15s ease-out;
  font: inherit;
  font-weight: 600;
  margin-bottom: .5rem;
}
.initiativeVFXbtn-mentor:hover{
  background: #f8299236;
  color: #e2e2e2fa;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
}
.initiativeVFXbtn-msentor:active{
  background: transparent;
}
.learnMoreText{
  font-size: 1.5rem;
  padding-top: 2rem;
  color: #fffdfd9c;
}
.learnMoreText:hover{
  color: #fff;
  cursor: pointer;
}
.initiativeKeyPoints{
  width: 100%;
  height: 80px;
  color: #fff;
  padding: 1rem 5rem;
  font-size: .85rem;
  flex-basis: 50px;
  background-color: rgba(94,19,167);
}
@media only screen and (max-width: 600px) {
  .initiativeKeyPoints{
    height: 250px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 725px) {
  .initiativeKeyPoints{
    height: 120px;
    font-size: .75rem;
  }
}
@media only screen and (min-width: 1400px) {
  .initiativeKeyPoints{
    font-size: 1.05rem;
  }
}
.keyPointsContainer{
  padding-left: .5rem;
  padding-right: .5rem;
  height: 50px;
  display: flex;
}
.keyPointsImg{
  padding-right: 10px;
  height: 50px;
  font-size: 18px;
}

.section-header{
  height:200px;
  font-size: 2rem;
  text-align: center;
  padding-top: 50px;
}

#why-join{
  position: relative;
  box-shadow: 0 0 10px 0 #ccc;
}
#why-join ul.why-join-nav {
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: -100px;
}
#why-join ul.why-join-nav li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex: 1;
  flex: 1;
  background-color: #f2f2f2;
  transition: background-color .2s;
}
#why-join ul.why-join-nav li:hover {
  background-color: #e2e3e2;
}
#why-join ul.why-join-nav li h4 {
  font-weight: 600;
  margin: 20px 0 20px 20px;
}
#why-join ul.why-join-nav li.active {
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 0 10px 0 #ccc;
  position: relative;
}
#why-join ul.why-join-nav li.active a[id="mentee-click"]:before {
  background-color: #aafd60;
}
#why-join ul.why-join-nav li.active a[id="mentor-click"]:before {
  background-color: #f82992;
}
#why-join ul.why-join-nav li.active a:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
}
#why-join ul.why-join-nav li.active a:after {
  position: absolute;
  content: "";
  bottom: -12px;
  left: -5%;
  width: 110%;
  height: 12px;
  background-color: #fff;
}
#why-join ul.why-join-nav li a {
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #3d3d3d;
  width: 100%;
  height: 100px;
  padding: 1rem;
}
#why-join .img img {
  max-height: 300px;
  margin-bottom: -50px;
  float: right;
}
.img-response{
  display: block;
  max-width: 100%;
  height: auto;
}
#why-join .tab-content{
  padding: 100px 0;
  margin-bottom: 30px;
}

.tab-content>.tab-pane{
  display: none;
}
.tab-content>.active{
  display: block;
}

.whyJoinContainer{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@keyframes slide-in--down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
