/* Dex last merged this code on 19th May 2019 */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  background: #fff;
  font-size: 100%;
  font-family: Roboto, Signika, Raleway, Lato, Arial, Helvetica, sans-serif;
  display: block;
  margin: 0px;
}

body {
  margin: 0;
  font-family: Roboto, Signika, Raleway, Lato, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1rem;
  min-height: 100vh;
  max-width: 100%;
  background: #red;
  padding: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.pwdByMain{
  background:linear-gradient(0deg,rgba(94,19,167),rgba(94,19,167,0.3)),url(http://www.accessvfx.org/static/media/uimages/paddington01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 91%;
  overflow:hidden;
  position: relative;
}
@media only screen and (max-height: 650px) {
  .pwdByMain{
    min-height: 650px;
    max-height: 1100px;
  }
}
@media only screen and (max-width: 600px) {
  .pwdByMain{
    min-height: 800px;
    max-height: 1100px;
  }
}

.pwdByNav{
  width: 100%;
  padding: 0;
  height: 100px;
  background-color: transparent;
  z-index: 1000;
  overflow: hidden;
  top: 0;
  position: absolute;
  border-bottom: none;
}

.pwdByNav.is-fixed {
  position: fixed;
  border-bottom: none;
  box-shadow: 0 1px 1px rgba(0,0,0,.15);
  background-color: #5e13a7!important;
  height: 71px;
  transition: background-color 200ms linear;
  animation: slide-in--down 420ms cubic-bezier(.165,.84,.44,1);
}

.pwdByNav.is-fixed .pwdByPrLogoContainer{
  top: 20px;
  left: 30px;
}

.pwdByPrLogoContainer{
  height: 50px;
  width: 120px!important;
  flex-shrink: 0;
  position: relative;
  top: 3rem;
  left: 3rem;
}
.pwdByPrLogoFooter{
  height: 50px;
  width: 120px!important;
  flex-shrink: 0;
  position: relative;
  opacity: 0.7;
  margin-left: -14px;
}
@media only screen and (max-width: 650px) {
  .pwdByPrLogoFooter{
    margin-left: 0;
    left: 38%;
  }
}

.sectionMain{
  position: absolute;
  display: inline-block;
  margin-bottom: 15px;
  top: 22%;
}

.sectionMainContainer{
  padding: 0 5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.initiativeHeader{
  font-weight: 700;
  line-height: 1.1875;
  letter-spacing: -.8px;
  margin-top: 1rem;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #fff;
}

.initiativeSubHeader{
  font-weight: 400;
  line-height: 1.44444444;
  letter-spacing: normal;
  color: #fff;
}

.initiativeTextDetail{
  color: #fffdfd9c;
  font-size: .75rem;
}
.sponsoredByText{
  color: #000;
  font-size: .75rem;
  margin-bottom: 0.15rem;
}
.initiativeLogoContainer{
  height: 60px;
  width: 120px!important;
  flex-shrink: 0;
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 1rem;
}
.initiativeLogoImg{
  display: block;
  height: 100%!important;
  width: 100%!important;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}
.sponsoredByLogoContainer{
  height: 30px;
  width: 100px!important;
  flex-shrink: 0;
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 1rem;
}
.sponsoredByLogoImg{
  display: block;
  height: 100%!important;
  width: 100%!important;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}
.initiative-inline-link{
  text-decoration: underline;
  color: #dcdcdcba;
  cursor: pointer;
}
.initiative-inline-link:hover {
  text-decoration: underline;
  color: #7e7ec9; /* #8f8fe5*/
  outline: 0;
  cursor: pointer;
}
.initiativeCheckboxContainer{
  padding-bottom: 1rem;
}
.initiative-tncText{
  color: #dcdcdcba!important;
  padding-top: .25rem;
}

.initiativeVFXbtn-student{
  color: #5e13a7;
  background: #aafd60;
  border-radius: .5rem;
  cursor: pointer;
  outline: none;
  border: none;
  height: 50px;
  min-width: 210px;
  text-align: center;
  padding: 0;
  transition: background .15s ease-out;
  font: inherit;
  font-weight: 600;
  margin-bottom: .5rem;
}
.initiativeVFXbtn-student:hover{
  background: #aafd60d6;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
}
.initiativeVFXbtn-student:active{
  background: #aafd60;
}
.initiativeVFXbtn-mentor{
  color: #f82992;
  background: transparent;
  border-radius: .5rem;
  cursor: pointer;
  outline: none;
  border: 1.5px solid #f82992;
  height: 50px;
  min-width: 210px;
  text-align: center;
  padding: 0;
  transition: background .15s ease-out;
  font: inherit;
  font-weight: 600;
  margin-bottom: .5rem;
}
.initiativeVFXbtn-mentor:hover{
  background: #f8299236;
  color: #e2e2e2fa;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
}
.initiativeVFXbtn-msentor:active{
  background: transparent;
}
.learnMoreText{
  font-size: 1.5rem;
  padding-top: 2rem;
  color: #fffdfd9c;
}
.learnMoreText:hover{
  color: #fff;
  cursor: pointer;
}
.initiativeKeyPoints{
  width: 100%;
  height: 80px;
  color: #fff;
  padding: 1rem 5rem;
  font-size: .85rem;
  flex-basis: 50px;
  background-color: rgba(94,19,167);
}
@media only screen and (max-width: 600px) {
  .initiativeKeyPoints{
    height: 250px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 725px) {
  .initiativeKeyPoints{
    height: 120px;
    font-size: .75rem;
  }
}
@media only screen and (min-width: 1400px) {
  .initiativeKeyPoints{
    font-size: 1.05rem;
  }
}
.keyPointsContainer{
  padding-left: .5rem;
  padding-right: .5rem;
  height: 50px;
  display: flex;
}
.keyPointsImg{
  padding-right: 10px;
  height: 50px;
  font-size: 18px;
}

.section-header{
  height:100px;
  font-size: 2rem;
  text-align: left;
  padding-top: 3rem;
  padding-left: 5rem;
}
.tabHeader{
  height:200px
}
@media only screen and (max-width: 600px) {
  .section-header{
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
}

#why-join{
  position: relative;
  box-shadow: 0 0 10px 0 #ccc;
}
#why-join ul.why-join-nav {
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: -100px;
}
#why-join ul.why-join-nav li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex: 1;
  flex: 1;
  background-color: #f2f2f2;
  transition: background-color .2s;
}
#why-join ul.why-join-nav li:hover {
  background-color: #e2e3e2;
}
#why-join ul.why-join-nav li h4 {
  font-weight: 600;
  margin: 20px 0 20px 20px;
}
#why-join ul.why-join-nav li.active {
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 0 10px 0 #ccc;
  position: relative;
}
#why-join ul.why-join-nav li.active a[id="mentee-click"]:before {
  background-color: #aafd60;
}
#why-join ul.why-join-nav li.active a[id="mentor-click"]:before {
  background-color: #f82992;
}
#why-join ul.why-join-nav li.active a:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
}
#why-join ul.why-join-nav li.active a:after {
  position: absolute;
  content: "";
  bottom: -12px;
  left: -5%;
  width: 110%;
  height: 12px;
  background-color: #fff;
}
#why-join ul.why-join-nav li a {
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #3d3d3d;
  width: 100%;
  height: 100px;
  padding: 1rem;
}
#why-join .img img {
  max-height: 300px;
  margin-bottom: -50px;
  float: right;
}
.menteeIcon{
  height: 35px;
}
.mentorIcon{
  height: 60px;
}
.mainHeaders{
  font-size: 2.53rem;
  line-height: 1.1;
  font-weight: 900;
}
.mainSubTxt{
  font-size: 1.3rem;
  line-height: 1.5;
}
.img-responsive{
  display: block;
  max-width: 100%;
  height: auto;
}
#why-join .tab-content{
  padding: 50px 0;
  margin-bottom: 30px;
}

.tab-content>.tab-pane{
  display: none;
}
.tab-content>.active{
  display: block;
}
.mainContent{
  padding: 5rem 2rem;
  display: block!important;
}
.whyJoinContainer{
  margin-right: auto;
  margin-left: auto;
  padding: 0 5rem;
}
.whyJoinImg{
  max-height: 300px;
}
.bottomSignUpDisplay{
  margin-right: auto;
  margin-left: auto;
  padding: 0 5rem;
  display: block!important;
}

.joinSteps{
  background-color: #e4e8f7;
}
.stepsLists{
  margin-bottom: 20px;
}
.stepsLists>.stepsList{
  display: none;
}
.stepsLists>.active{
  display: block;
}
.stepsList{
  padding-left: 30px;
}
#joinSteps ul.stepsList li {
  border-left: 2px dotted #3b66f1;
  list-style-type: none;
  padding-left: 4rem;
  min-height: 8.5rem;
  position: relative;
  font-size: 16px;
  line-height: 26px;
  padding-bottom: 50px;
}
#joinSteps ul.stepsList li:hover{
  border-left: 2px solid #3b66f1;
}
.stepCrcl{
  position: absolute;
  top: 0;
  left: -30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #3b66f1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  background-color: #3b66f1;
}
.stepTitle{
  font-size: 20px;
  margin: 5px 0 10px;
  font-weight: 700;
}
.stepDetail{
  font-size: 15px;
}

.quotesSection{
  background-color: #f2f2f2;
}

#quotes ul.quote-list {
  list-style: none;
  padding: 0;
  margin: 0 0 45px;
}

@media only screen and (max-width: 759px) {
  #quotes ul.quote-list {
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
  }
}

#quotes li.quote-box {
  background-color: #fff;
  -ms-flex: 1;
  flex: 1;
  margin: 20px;
  padding: 80px 30px 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  border-top: 12px solid;
}
#quotes li.quote-box:before {
  position: absolute;
  content: "“";
  font-size: 90px;
  font-family: Walsheim,sans-serif;
  top: 56px;
  left: 30px;
}
#quotes li.quote-box:nth-child(1) {
  border-color: #f82992;
}
#quotes li.quote-box:nth-child(1):before {
  color: #f82992;
}
#quotes li.quote-box:nth-child(2) {
  border-color: #5e13a7;
}
#quotes li.quote-box:nth-child(2):before {
  color: #5e13a7;
}
#quotes li.quote-box:nth-child(3) {
  border-color: #79feed;
}
#quotes li.quote-box:nth-child(3):before {
  color: #79feed;
}
#quotes li.quote-box span {
  display: block;
}
#quotes li.quote-box span.name {
  font-weight: 700;
  color: #9c9b9b;
  font-size: .8rem;
}
#quotes li.quote-box span.role {
  color: #9c9b9b;
  font-size: .8rem;
}
#quotes li.quote-box .quoteLogo {
  margin-top: 20px;
  width: 80px;
}
#quotes li.quote-box .quoteLogo.pearson {
  margin-left: -15px;
}
.quote-list{
  display: none;
}
.quote-list.active{
  display: flex;
  display: -ms-flexbox;
}

.bottomSignUpContainer{
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}
.bottomSignUpImgContainer{
  margin: 2rem 0;
  margin-top: 15%;
}
@media only screen and (max-width: 600px) {
  .bottomSignUpImgContainer{
    margin-top: 0;
  }
}
@media only screen and (min-width: 600px) and (max-width: 759px) {
  .bottomSignUpImgContainer{
    margin-top: 15%;
  }
}
.bottomSignUpImg{
  max-height: 200px;
}
.bottomSignUp{
  background-color: #5e13a7;
}

#footer{
  position: relative;
  padding: 48px 0 0;
  background-color: #333;
  color: #999;
  min-height: 300px;
}
@media only screen and (max-width: 650px) {
  #footer{
    min-height: 400px;
  }
}
.copyright{
  margin: 0 auto;
  text-align: center;
  float: none!important;
  padding: 40px 0;
  line-height: 1.9em;
  font-size: 13px;
  font-family: Lato, Arial, Helvetica, sans-serif;
}
.footerLeft{
  text-align: left;
  float: left;
}
.footerRight{
  text-align: right;
  float: right;
}
@media only screen and (max-width: 650px) {
  .footerLeft{
    float: none;
    text-align: center;
  }
  .footerRight{
    float: none;
    text-align: center;
  }
}

.legalLinks{
  color: #808080!important;
  text-decoration: none!important;
  cursor: pointer;
}
.legalLinks:hover{
  color: #7e7ec9!important;
}

.footer-links{
  margin: 0 auto;
  text-align: center;
  float: none;
}

@keyframes slide-in--down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
