* {
  box-sizing: border-box;
}

html {
  height: 100%;
  background: #fff;
  font-size: 100%;
  font-family: Roboto, Signika, Raleway, Lato, Arial, Helvetica, sans-serif;
  display: block;
  margin: 0px;
}

body {
  margin: 0;
  font-family: Roboto, Signika, Raleway, Lato, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1rem;
  height: 100%;
  background: #fff;
  padding: 0;
  overflow-x: hidden;
  user-select: none;
}

h1{
  color: #351c75;
  font size: 2.2em;
  font-weight: 800;
  font-family: Lato, Arial, Helvetica, sans-serif;
  margin: 0 0 0.7rem;
  letter-spacing: -0.5px;
  text-align: left;
}

a {
  color: #8f8fe5;
}

/* unvisited link */
a:link {
  color: #8f8fe5;
}

/* visited link */
a:visited {
  color: #8f8fe5;
}

/* mouse over link */
a:hover {
  color: #7e7ec9;
}

/* selected link */
a:active {
  color: #8f8fe5;
}

.mainContainer{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.alignLeft{
  float:left;
}

.alignRight{
  float: right;
}

.bold{
  font-weight: 600;
}

.button-unstyled {
  background: none;
  border: 0;
  outline: none;
  color: inherit;
  font: inherit;
  margin: 0;
  line-height: inherit;
  overflow: inherit;
  padding: 0;
  text-align: initial;
  vertical-align: initial;
  cursor: pointer;
}

[class*="col-"] {
  float: left;
}

/* For Extra small devices (phones, 600px and down): */
[class*="col-"] {
  width: 100%;
}

input[type=text]:disabled{
  background: #dddddd;
}

.tooltip{
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: #3f3f3f;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: .8rem;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext{
  visibility: visible;
  opacity: 1;
}

.form-control-std.error,
.form-control-pwd.error {
  border-bottom: 2px solid red;
}

.form-control-std.error:valid {
  border: 1px solid #d9d9d9;
}

.form-control-std:hover:valid:not(:focus){
  border-color: #c6c6c6;
}

.form-control-std.error:focus:valid {
  box-shadow: 0 0 0 1.2px #4e4ed6;
  border: 3px solid rgba(122,80,199,.1);
  padding: 8px 13px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

/* Medium devices (landscape tablets, 759px and up) */
@media only screen and (min-width: 759px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

/* Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) {...}

Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...} */

.row{
  height: 100%;
  display: flex;
}

.row::after {
  content: "";
  clear: both;
  display: table;
  height: 100%;
}

@media screen and (max-width: 759px) {
  .login-pic {
    display: none;
  }
}

.prLogoArea{
  color: #fff;
  position: relative;
  min-height: 61px;
}

.prLogoContainer{
  height: 30px;
  width: 69px;
  flex-shrink: 0;
  position: relative;
  top: 20px;
  left: 30px;
}

.prLogoImg{
  display: block;
  height: 100%!important;
  width: 100%!important;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}

.centerContainer{
  text-align: center;
  height: 100%;
}

.loginContainer{
  padding: 60px 85px;
  max-width: 518px;
  display: inline-block;
}

.header-descriptor{
  color: #595959;
  font-size: 0.85rem;
  margin-bottom: 1.5rem;
  text-align: left;
  font-family: Lato;
}

.descriptor{
  color: #595959;
  font-size: 0.85rem;
  text-align: left;
  font-family: Lato;
  margin-bottom: 0.2rem;
}

.descriptor.no-href,
.descriptor.text-disabled{
  color: #cfcccc;
}

.descriptor.prompt{
  color: #4e4ed6;
  height: 1.5rem;
  font-weight: 600;
  font-size: 0.8rem;
}

.descriptor.no-href:hover{
  color: #a3a3a3;
}

.container{
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: .25rem;
  margin-top: .75rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #a3a3a3;
  font-size: 0.75rem;
  text-align: left;
  font-family: Lato;
}

.container:hover input ~ .checkmark {
  background-color: #4e4ed64a;
}

.container input:checked ~ .checkmark {
  background-color: #4e4ed6c9;
  border:none;
}

.checkmark.error{
  background-color: #fff;
  border: 1px solid red;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container input:checked  {
  color: #a3a3a3!important;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container.error{
  color: red;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #4e4ed61c;
}

.inlineForm{
  display: flex;
}

.form-control-std,
.form-control-pwd{
  width: 100%;
  font-size: 1.15rem;
  font-family: inherit;
  line-height: normal;
  padding: 10px 15px;
  border: 1px solid #d9d9d9;
  border-radius: .25rem;
  -webkit-appearance: none;
  outline: 0;
  color: #351c75;
  width: 100%;
  max-width: 100%;
  margin: 0 0 1.5rem;
  transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
  box-shadow: none;
  height: auto;
}

.form-control-std.prompt,
.form-control-pwd.prompt{
  margin-bottom: 0;
}

.form-group.inlineLeft{
  margin-right: 7px;
}

.form-group.inlineRight{
  margin-left: 7px;
}

.form-control-std:hover,
.form-control-pwd:hover{
  border-color: #c6c6c6;
}

.form-control-std:focus,
.form-control-pwd:focus{
  box-shadow: 0 0 0 1.2px #4e4ed6;
  border: 3px solid rgba(122,80,199,.1);
  padding: 8px 13px;
}

.eqWrap{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.reqs{
  width: 50%;
  margin-bottom: 2%;
  text-align: left;
  font-size: 0.65rem;
  font-family: Lato;
}

.crl{
  margin-right: 2%;
  font-size: .75rem;
}

.btn-general{
  width: 100%;
  color: #fff;
  font-weight: 600;
  background: #6fc3b3;
  border-radius: .5rem;
  cursor: pointer;
  outline: none;
  border: none;
  height: 45px;
  min-width: 180px;
  text-align: center;
  padding: 0;
  margin: 0.8rem 0;
  transition: background .15s ease-out;
  text-decoration: none;
}

.btn-general:hover{
  box-shadow: 0 1px 4px rgba(29,28,29,.3);
}

.btn-general:active{
  background: #60a89a;
  box-shadow: none;
}

.btn-general:disabled{
  background: #d9d9d9;
  box-shadow: none;
  color: #3f3f3f;
  cursor: initial;
}

.btn-general.error{
  background: #d9d9d9;
  box-shadow: none;
  color: #3f3f3f;
  cursor: initial;
}

.buttonContainer{
  display: flex;
}

.btn-left{
  width: 100px;
  color: #3baf99;
  font-weight: 600;
  background: #fff;
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
  cursor: pointer;
  outline: none;
  border: 2px solid #6fc3b3;
  height: 40px;
  text-align: center;
  padding: 0;
  margin: 0.8rem 0;
  margin-right: -3px;
  transition: background .15s ease-out;
  text-decoration: none;
}

.btn-right{
  width: 100px;
  color: #3baf99;
  font-weight: 600;
  background: #fff;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
  cursor: pointer;
  outline: none;
  border: 2px solid #6fc3b3;
  height: 40px;
  text-align: center;
  padding: 0;
  margin: 0.8rem 0;
  margin-left: -3px;
  transition: background .15s ease-out;
  text-decoration: none;
}

.btn-left:hover,
.btn-right:hover{
  background-color: #e9f9f6;
  color: #39a28e;
  border-style: solid;
}

.hiddenRadio{
  display: none;
}

.legalSection{
  margin-top: 1rem;
  color: #cacaca!important;
  font-size: 0.7rem;
}

.legal-href{
  color: #cacaca!important;
}

.error-href{
  color: red!important;
}

.login-pic{
  height: 100%;
}

.login-picContainer{
  max-height: 200px;
  max-width: 360px;
  flex-shrink: 0;
  float: right;
  margin-right: -10px;
  position: relative;
  transform: translatey(25%);
}

.prPlatformImg{
  display: block;
  height: 100%!important;
  width: 100%!important;
  max-width: 100%;
  border: 0;
}

.login-error-msg{
  margin-top: .8rem;
  color: red;
  font-size: 0.85rem;
  text-align: left;
}
