/* Dex last merged this code on 12th Dec 2019 */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  background: #fff;
  font-size: 100%;
  font-family: Roboto, Signika, Raleway, Lato, Arial, Helvetica, sans-serif;
  display: block;
  margin: 0px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Roboto, Signika, Raleway, Lato, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1rem;
  height: 100%;
  background: #fff;
  padding: 0;
  overflow-x: hidden;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  right: 12px;
  top:0;
  bottom:0;
}

::-webkit-scrollbar-thumb {
  background: rgba(63,63,63,.45);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(63,63,635,.45);
}

.mainContainer{
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  overflow-x: hidden;
}

.button-unstyled {
  background: none;
  border: 0;
  outline: none;
  color: inherit;
  font: inherit;
  margin: 0;
  line-height: inherit;
  overflow: inherit;
  padding: 0;
  text-align: initial;
  vertical-align: initial;
  cursor: pointer;
}

input[type=text]:disabled{
  background: #dddddd;
}

.contactInput{
  width: 55%!important;
}

.form-control-std.error,
.form-control-dob.error,
.form-control-pwd.error {
  border-bottom: 2px solid red!important;
}

.form-control-std.error:valid {
  border: 1px solid #d9d9d9;
}

.form-control-std:hover:valid:not(:focus){
  border-color: #c6c6c6;
}

.form-control-std.error:focus:valid {
  box-shadow: 0 0 0 1.2px #4e4ed6;
  border: 3px solid rgba(122,80,199,.1);
  padding: 8px 13px;
}

.form-control-std.dob{
  -webkit-appearance: none;
  -moz-appearance: none;
}

/*
#noCodeTooltip{
  margin-top: -1.5rem;
  cursor: pointer;
  color: #8f8fe5;
  font-size: 13px;
}
*/
#codeTooltip{
  cursor: pointer;
  color: #8f8fe5;
  font-size: 13px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #d9d9d9;
  opacity: 1; /* Firefox */
}
.dob::placeholder{
  font-size: .85em;
}

:-moz-input-placeholder { /* Internet Explorer 10-11 */
  color: #d9d9d9;
}
.dob:-moz-input-placeholder{
  font-size: .85em;
}

::-moz-input-placeholder { /* Microsoft Edge */
  color: #d9d9d9;
}
.dob::-moz-input-placeholder{
  font-size: .85em;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #d9d9d9;
}
.dob:-ms-input-placeholder{
  font-size: .85em;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #d9d9d9;
}
.dob::-ms-input-placeholder{
  font-size: .85em;
}

::-webkit-input-placeholder {
  color: #d9d9d9;
}
.dob::-webkit-input-placeholder{
  font-size: .85em;
}

.dob::-webkit-inner-spin-button,
.dob::-webkit-outer-spin-button,
.dob::-moz-inner-spin-button,
.dob::-moz-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
  -moz-appearance:textfield !important;
}

.row{
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.row::after {
  content: "";
  clear: both;
  display: table;
  height: 100%;
}

.prLogoArea{
  color: #fff;
  position: relative;
  min-height: 61px;
}

.prLogoLoginContainer{
  height: 30px;
  width: 69px!important;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  position: relative;
  top: 20px;
  left: 30px;
}

.prLogoImg{
  display: block;
  height: 100%!important;
  width: 100%!important;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}

.centerContainer{
  text-align: center;
  height: 100%;
}

.loginContainer{
  padding: 60px 85px;
  max-width: 518px;
  display: inline-block;
}

.loginContainer h1 {
  line-height: 1em;
}
@media only screen and (max-width: 320px) {
  .loginContainer{
    padding: 2rem;
  }
}
@media only screen and (min-width: 321px) and (max-width: 400px) {
  .loginContainer{
    padding: 3rem;
  }
}
@media only screen and (min-width: 400px) and (max-width: 500px) {
  .loginContainer{
    padding: 3rem 4rem;
  }
}

.header-descriptor{
  color: #595959;
  font-size: 0.85rem;
  margin-bottom: 1.5rem;
  text-align: left;
  font-family: Lato;
}

.descriptor.dob{
  float: left;
  width: 100%;
}

.descriptor.no-href,
.descriptor.text-disabled{
  color: #cfcccc;
}

.descriptor.prompt{
  color: #4e4ed6;
  height: 1.5rem;
  font-weight: 600;
  font-size: 0.8rem;
}

.descriptor.prompt.error{
  color: red;
}
.descriptor.prompt.error.verifyForm{
  margin-top: -2.5rem;
  /* margin-bottom: 1.5rem; */
}
.descriptor.prompt.error.verifyForm.otherOption{
  width: 14rem;
}

.descriptor.prompt.error.noEduEmailForm{
  margin-top: -1rem;
  margin-bottom: 1.5rem;
}

.descriptor.prompt.error.eduForm{
  margin-top: -1.5rem;
}

.descriptor.no-href:hover,
.descriptor.no-href:focus{
  color: #a3a3a3;
}

.descriptor.subheader{
  opacity: 0.8;
  margin-top: 3rem;
}

.checkmark.error{
  background-color: rgba(255,153,153,.54)!important;
  border: 1px solid red;
}

.container.error{
  color: red;
}

.inlineForm{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
}

.form-control-std,
.form-control-dob,
.form-control-pwd{
  width: 100%;
  font-size: 1.14rem;
  font-family: inherit;
  line-height: normal;
  padding: 10px 15px;
  border: 1px solid #d9d9d9;
  border-radius: .25rem;
  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  -ms-border-radius: .25rem;
  -o-border-radius: .25rem;
  -webkit-appearance: none;
  outline: 0;
  color: #351c75;
  width: 100%;
  max-width: 100%;
  margin: 0 0 1.5rem;
  transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
  -webkit-transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
  -moz-transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
  -ms-transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
  -o-transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
  box-shadow: none;
  height: auto;
  cursor: text;
}

.form-control-std.verifyForm{
  margin-bottom: 2.5rem;
}



.form-control-std.prompt,
.form-control-dob.prompt,
.form-control-pwd.prompt{
  margin-bottom: 0;
}

.form-group.eduName{
  margin: 0 0 1.5rem;
  display: block;
  height: 1rem;
}

.form-group.inlineLeft{
  margin-right: 7px;
}

.form-group.inlineMiddle{
  margin-right: 7px;
  margin-left: 7px;
}

.form-group.inlineRight{
  margin-left: 7px;
}


.form-group.inlineLeft.dob,
.form-group.inlineMiddle.dob
{
  flex-basis: 110px;
  -webkit-flex-basis: 110px;
  -moz-flex-basis: 110px;
}

.form-group.inlineRight.dob{
  flex-basis: 180px;
  -webkit-flex-basis: 180px;
  -moz-flex-basis: 180px;
}

.form-control-std:hover,
.form-control-dob:hover,
.form-control-pwd:hover{
  border-color: #c6c6c6;
}

.form-control-std:focus,
.form-control-dob:focus,
.form-control-pwd:focus{
  box-shadow: 0 0 0 1.2px #4e4ed6;
  border: 3px solid rgba(122,80,199,.1);
  padding: 8px 13px;
}

.eqWrap{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.reqs{
  width: 50%;
  margin-bottom: 2%;
  text-align: left;
  font-size: 0.65rem;
  font-family: Lato;
}

.crl{
  margin-right: 2%;
  font-size: .75rem;
}

.btnDescriptor{
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}
.descListItem{
  padding-bottom: .5rem;
}
.Submit-btn.emailVerif,
.Submit-btn.resendCode{
  width: 100%;
  margin-bottom: 1rem;
}
.btn-general{
  width: 100%;
  color: #fff;
  font-weight: 600;
  background: #6fc3b3;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  cursor: pointer;
  outline: none;
  border: none;
  height: 45px;
  min-width: 180px;
  text-align: center;
  padding: 0;
  margin: 0.8rem 0;
  transition: background .15s ease-out;
  -webkit-transition: background .15s ease-out;
  -moz-transition: background .15s ease-out;
  -ms-transition: background .15s ease-out;
  -o-transition: background .15s ease-out;
  text-decoration: none;
  opacity: 1;
}

.btn-general:hover,
.btn-general:focus{
  box-shadow: 0 1px 4px rgba(29,28,29,.3);
}

.btn-general:active{
  background: #60a89a;
  box-shadow: none;
}

.btn-general:disabled{
  background: #d9d9d9;
  box-shadow: none;
  color: #3f3f3f;
  cursor: initial;
}

.btn-general.error{
  background: #d9d9d9;
  box-shadow: none;
  color: #3f3f3f;
  cursor: initial;
}

.buttonContainer{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.hiddenRadio{
  display: none;
}

.legalSection{
  margin-top: 1rem;
  color: #cacaca!important;
  font-size: 0.7rem;
}

.login-pic{
  height: 100%;
  position: relative;
}

.login-picContainer{
  max-width: 360px;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  float: right;
  margin-right: -10px;
  position: relative;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  top: 50%;
}

.prPlatformImg{
  display: block;
  height: 100%!important;
  width: 100%!important;
  max-width: 100%;
  border: 0;
}

.login-error-msg{
  margin-top: .8rem;
  color: red;
  font-size: 0.85rem;
  text-align: left;
}
