/* Dex last merged this code on 10th August 2019 */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  background: #fff;
  font-size: 100%;
  font-family: Roboto, Signika, Raleway, Lato, Arial, Helvetica, sans-serif;
  display: block;
  margin: 0px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Roboto, Signika, Raleway, Lato, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1rem;
  height: 100%;
  background: #fff;
  padding: 0;
  overflow-x: hidden;
  user-select: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  right: 12px;
  top:0;
  bottom:0;
}

::-webkit-scrollbar-thumb {
  background: rgb(63,63,63,0.45);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(63,63,635,0.45);
}

.mainContainer{
  height: 100%;
  display: flex;
  flex-direction: column;
  /* overflow-y: scroll;*/
  overflow-x: hidden;
}

.button-unstyled {
  background: none;
  border: 0;
  outline: none;
  color: inherit;
  font: inherit;
  margin: 0;
  line-height: inherit;
  overflow: inherit;
  padding: 0;
  text-align: initial;
  vertical-align: initial;
  cursor: pointer;
}

input[type=text]:disabled{
  background: #dddddd;
}

.contactInput{
  width: 55%!important;
}

.form-control-std.error,
.form-control-dob.error,
.form-control-pwd.error {
  border-bottom: 2px solid red;
}

.form-control-std.error:valid {
  border: 1px solid #d9d9d9;
}

.form-control-std:hover:valid:not(:focus){
  border-color: #c6c6c6;
}

.form-control-std.error:focus:valid {
  box-shadow: 0 0 0 1.2px #4e4ed6;
  border: 3px solid rgba(122,80,199,.1);
  padding: 8px 13px;
}

.form-control-std.dob{
  -webkit-appearance: none;
  -moz-appearance: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #d9d9d9;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #d9d9d9;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #d9d9d9;
}

.row{
  height: 100%;
  display: flex;
}

.row::after {
  content: "";
  clear: both;
  display: table;
  height: 100%;
}

.prLogoArea{
  color: #fff;
  position: relative;
  min-height: 61px;
}

.prLogoLoginContainer{
  height: 30px;
  width: 69px!important;
  flex-shrink: 0;
  position: relative;
  top: 20px;
  left: 30px;
}

.prLogoImg{
  display: block;
  height: 100%!important;
  width: 100%!important;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}

.centerContainer{
  text-align: center;
  height: 100%;
}

.loginContainer{
  padding: 60px 85px;
  max-width: 518px;
  display: inline-block;
}

.header-descriptor{
  color: #595959;
  font-size: 0.85rem;
  margin-bottom: 1.5rem;
  text-align: left;
  font-family: Lato;
}

/*
.btnDescriptor{
  color: #595959;
  font-size: 0.85rem;
  text-align: left;
  font-family: Lato;
  margin-bottom: 1rem;
  margin-top: .5rem;
  width: 100%;
}

.btnDescriptor:hover{
  opacity: 0.8;
}

.btnDescriptor:active,
.btnDescriptor:focus{
  opacity: 0.8;
}
*/

.descriptor.dob{
  float: left;
  width: 100%;
}

.descriptor.no-href,
.descriptor.text-disabled{
  color: #cfcccc;
}

.descriptor.prompt{
  color: #4e4ed6;
  height: 1.5rem;
  font-weight: 600;
  font-size: 0.8rem;
}

.descriptor.no-href:hover{
  color: #a3a3a3;
}

.descriptor.subheader{
  opacity: 0.8;
}

.checkbox-container-login{
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: .25rem;
  margin-top: .75rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #a3a3a3;
  font-size: 0.75rem;
  text-align: left;
  font-family: Lato;
}
.checkbox-container-login.error{
  color: #f9b1b1ba!important;
}
/*
.container:hover input ~ .checkmark {
  background-color: #4e4ed64a;
}

.container input:checked ~ .checkmark {
  background-color: #4e4ed6c9;
  border:none;
}
*/
.checkmark.error{
  background-color: #ff99998a!important;
  border: 1px solid red;
}
/*
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container input:checked  {
  color: #a3a3a3!important;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
*/
.container.error{
  color: red;
}
/*
.checkmark {
  position: absolute;
  top: 0;
  left: 10%;
  height: 25px;
  width: 25px;
  background-color: #4e4ed61c;
}
*/

.inlineForm{
  display: flex;
  width: 100%;
}

.form-control-std,
.form-control-dob,
.form-control-pwd{
  width: 100%;
  font-size: 1.15rem;
  font-family: inherit;
  line-height: normal;
  padding: 10px 15px;
  border: 1px solid #d9d9d9;
  border-radius: .25rem;
  -webkit-appearance: none;
  outline: 0;
  color: #351c75;
  width: 100%;
  max-width: 100%;
  margin: 0 0 1.5rem;
  transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
  box-shadow: none;
  height: auto;
}

.form-control-std.prompt,
.form-control-dob.prompt,
.form-control-pwd.prompt{
  margin-bottom: 0;
}

.form-group.inlineLeft{
  margin-right: 7px;
}

.form-group.inlineMiddle{
  margin-right: 7px;
  margin-left: 7px;
}

.form-group.inlineRight{
  margin-left: 7px;
}


.form-group.inlineLeft.dob,
.form-group.inlineMiddle.dob
{
  flex-basis: 110px;
}

.form-group.inlineRight.dob{
  flex-basis: 180px;
}

.form-control-std:hover,
.form-control-dob:hover,
.form-control-pwd:hover{
  border-color: #c6c6c6;
}

.form-control-std:focus,
.form-control-dob:focus,
.form-control-pwd:focus{
  box-shadow: 0 0 0 1.2px #4e4ed6;
  border: 3px solid rgba(122,80,199,.1);
  padding: 8px 13px;
}

.eqWrap{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.reqs{
  width: 50%;
  margin-bottom: 2%;
  text-align: left;
  font-size: 0.65rem;
  font-family: Lato;
}

.crl{
  margin-right: 2%;
  font-size: .75rem;
}

.btn-general{
  width: 100%;
  color: #fff;
  font-weight: 600;
  background: #6fc3b3;
  border-radius: .5rem;
  cursor: pointer;
  outline: none;
  border: none;
  height: 45px;
  min-width: 180px;
  text-align: center;
  padding: 0;
  margin: 0.8rem 0;
  transition: background .15s ease-out;
  text-decoration: none;
  opacity: 1;
}

.btn-general:hover{
  box-shadow: 0 1px 4px rgba(29,28,29,.3);
}

.btn-general:active{
  background: #60a89a;
  box-shadow: none;
}

.btn-general:disabled{
  background: #d9d9d9;
  box-shadow: none;
  color: #3f3f3f;
  cursor: initial;
}

.btn-general.error{
  background: #d9d9d9;
  box-shadow: none;
  color: #3f3f3f;
  cursor: initial;
}

.buttonContainer{
  display: flex;
}

.hiddenRadio{
  display: none;
}

.legalSection{
  margin-top: 1rem;
  color: #cacaca!important;
  font-size: 0.7rem;
}

.login-pic{
  height: 100%;
  position: relative;
}

.login-picContainer{
  max-width: 360px;
  flex-shrink: 0;
  float: right;
  margin-right: -10px;
  position: relative;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  top: 50%;
}

.prPlatformImg{
  display: block;
  height: 100%!important;
  width: 100%!important;
  max-width: 100%;
  border: 0;
}

.login-error-msg{
  margin-top: .8rem;
  color: red;
  font-size: 0.85rem;
  text-align: left;
}
