.overflow-ellipsis{
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mainMenuItem {
  height: 50px;
  padding: 1.2rem 1.7rem 1rem 1.7rem;
  color: #d8d7f5;
  text-decoration: none;
  font-size: 16px;
}

.mainMenuItem:hover {
  background-color: #9f9ee7;
  color: #fff;
}

.mainMenuItem:focus {
  background-color: #ffebb3;
  color: #d8a40f;
}
