/* Dex last merged this code on 5th mar 2021 */

.tabWindow{
  padding: 10px 20px 10px 20px;
  height: 100%;
  background-color: #f2f2f2;
}
.loadingPotentialMatches{
  text-align: center;
  padding-top: 25px;
}
.searchBar{
  width: 320px;
}
.searchBar.searchByText,
.searchBar.searchByName{
  position: absolute;
  right: 30px;
  width: 400px;
}
.searchBar.searchByText{
  top: 0;
}
.searchBar.searchByName{
  top: -45px;
  line-height: normal;
}

.filterSection{
  padding-right: 20px;
  margin-bottom: 10px;
  line-height: 13px;
}
.checkboxText.filters {
  margin-left: 20px;
  font-size: 14px;
  margin-right: 12px;
  margin-top: 1.5px;
}
.filterSelectBox{
  width: 250px;
}
.filterSelectBox #selectBox-selectStatus{
  margin-bottom: 0;
  padding: 5px 5px;
}
.filterSelectBox #selectBox-selectStatus #selectArrow {
  top: 1px;
}
.Submit-btn.refreshTobeMatched{
  position: absolute;
  right: 0;
  margin-top: -45px;
  margin-right: 20px;
  min-width: 140px;
  height: 35px;
}
.Submit-btn.importPotentialMatches{
  min-width: 100px;
  position: absolute;
  right: 0;
  height: 35px;
}
.form-control-std.searchUserByText{
  width: 290px;
  margin-right: 0;
  height: 35px;
  font-size: 14px;
}
#autocompleteBox-searchByNamePotentialMatch {
  height: 35px;
  font-size: 14px;
}
.toBeMatched-container{
  border: 1px solid #b7b7b7;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: #fff;
  color: #bdbdbd;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 15px;
}
.table-container{
  overflow-x: auto;
}
#tobeMatched-table,
#pendingMatches-table{
  width: 100%;
}
#tobeMatched-table tbody,
#pendingMatches-table tbody {
  font-size: 14px;
}
#tobeMatched-table th,
#pendingMatches-table th {
  color: #3f3f3f;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  vertical-align: top;
}
th.userToMatch-match{
  width: 80px;
}
th.userToMatch-name{
  min-width: 120px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}
th.userToMatch-safeguarding{
  width: 120px;
}
th.userToMatch-dates{
  min-width: 100px;
}
.userToMatch-changeStatus{
  margin-top: -5px;
}
.userToMatch-changeStatus.matchUser{
  position: absolute;
  right: 10px;
  top: 15px;
}
.userToMatch-changeStatus.modal{
  display: inline-block;
  position: absolute;
  right: 80px;
}
.userToMatch-changeStatus .select{
  padding: 2px 2px;
  width: 170px;
  margin-bottom: 0;
}
.userToMatch-changeStatus .select .select-placeholder,
.userToMatch-changeStatus .select .selectContainer .value {
  font-size: 14px;
}
.userToMatch-changeStatus.H .select{
  background-color: #ffd1d1;
  border: 1px solid #f9b3b1;
}
.userToMatch-changeStatus.M .select{
  background-color: #fbe9cf;
  border: 1px solid #fdcc81;
}
.userToMatch-changeStatus.L .select{
  background-color: #feffd0;
  border: 1px solid #e7ea97;
}
.userToMatch-changeStatus.H .select .select-placeholder,
.userToMatch-changeStatus.H .select .selectContainer .value,
.userToMatch-changeStatus.H .select .arrow{
  color: #e03766;
}
.userToMatch-changeStatus.M .select .select-placeholder,
.userToMatch-changeStatus.M .select .selectContainer .value,
.userToMatch-changeStatus.M .select .arrow{
  color: #d8a42a;
}
.userToMatch-changeStatus.L .select .select-placeholder,
.userToMatch-changeStatus.L .select .selectContainer .value,
.userToMatch-changeStatus.L .select .arrow{
  color: #d0d428;
}
.userToMatch-changeStatus.H .select.form-control-std:focus{
  box-shadow: unset;
  -webkit-box-shadow: unset;
  -moz-box-shadow: unset;
}
.userToMatch-changeStatus.M .select.form-control-std:focus{
  box-shadow: unset;
  -webkit-box-shadow: unset;
  -moz-box-shadow: unset;
}
.userToMatch-changeStatus.L .select.form-control-std:focus{
  box-shadow: unset;
  -webkit-box-shadow: unset;
  -moz-box-shadow: unset;
}

.userToMatch-changeStatus .select .arrow {
  top: 0;
}
.userToMatch-changeStatus .select .option {
  font-size: 14px;
}
th.userToMatch-roles{
  min-width: 170px;
}
th.userToMatch-activerole{
  min-width: 90px;
}
th.userToMatch-chats{
  min-width: 70px;
}
th.userToMatch-dateSignedup{
  min-width: 140px;
}
.userToMatch-dateSignedupText{
  font-size: 14px;
}
th.userToMatch-safeguarding{
  min-width: 115px;
}
.userToMatch-sgStatus{
  font-size: 12px;
}
.userToMatch-sgStatus svg{
  display: inline-block;
}
th.userToMatch-notes{
  min-width: 180px;
}
.editableText-userNotes{
  display: inline-block;
  padding-right: 5px;
}
.editableText-userNotes.editing{
  outline: none;
  border: 1px solid #4e4ed6;
  -webkit-box-shadow: 0px 0px 5px #4e4ed6;
  box-shadow: 0px 0px 5px #4e4ed6;
}
.userToMatch-updateNotesBtn{
  padding-left: 5px;
  padding-right: 5px;
  color: #4e4ed6;
  font-weight: 600;
}
.userToMatch-editNotesBtn{
  visibility: hidden;
}

#tobeMatched-table td,
#pendingMatches-table td {
  padding-bottom: 12px;
  padding-right: 10px;
  vertical-align: top;
}
#tobeMatched-table td.alignCenter,
#pendingMatches-table td.alignCenter {
  padding-right: 0;
}
#toBeMatched-table td:hover{
  background-color: #f6f6ff;
}
td.userToMatch-editingNotes{
  width: 55px;
}

.ModalOpenBtn.ModalOpenBtn-matchingUsers,
.ModalOpenBtn.ModalOpenBtn-matchingUsers-fromModal{
  padding: 7px 15px;
  margin-top: -5px;
}
.ModalOpenBtn.ModalOpenBtn-matchingUsers-fromModal{
  right: 0;
  display: inline-block;
  position: absolute;
}
.rolebadge-mentee{
  border: 1px solid #78becd;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: #5ce8ff38;
  color: #78beca;
  margin-left: 5px;
  margin-right: 5px;
}
.rolebadge-mentor{
  border: 1px solid #7c7cfd;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: #dcdcf9;
  color: #7c7cfd;
  margin-left: 5px;
  margin-right: 5px;
}
.statusContainer-modal{
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: left;
  position: relative;
  margin-right: 1rem;
}
.setStatusContainer-modal{
  margin-bottom: 20px;
}
.setStatusContainer-modal:first-of-type{
  margin-top: 20px;
}
.setStatusContainer-modal:last-of-type{
  margin-bottom: 40px;
}
.userGroupRole-modal{
  display: inline-block;
}
.fullpage-modal-container.matchingUsers,
.fullpage-modal-container.matchingUsers-fromModal{
  background-color: #f2f2f2;
}
.userToMatch-card{
  margin-top: 10px;
  background-color: #fff;
  margin-bottom: 10px;
  min-height: 250px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.08);
  -webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,.08);
  -moz-box-shadow: 0 3px 5px 0 rgba(0,0,0,.08);
  color: #3f3f3f;
  position: relative;
}
.userToMatch-card .user-card-header {
  background-color: #9f9ee7;
  height: 15px;
}
.userToMatch-card.notes{
  border: 1.5px dashed #dcdcdc;
  margin-bottom: 10px;
  background-color: unset;
  min-height: unset;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.08);
  -webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,.08);
  -moz-box-shadow: 0 3px 5px 0 rgba(0,0,0,.08);
  color: #3f3f3f;
}
.userToMatch-card.notes.isPotentialMatch{
  margin-top: -10px;
}
.userToMatch-seeMore{
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  color: lightgrey;
}
.userToMatch-safeguardingText{
  font-size: 14px;
  margin-left: 10px;
  position: absolute;
  right: 10px;
  top: 40px;
}
.userToMatch-safeguardingText.isPotentialMatch{
  top: 42px;
}
.userToMatch-safeguardingText svg {
  display: inline-block;
}
.userToReview-detail.main.matchUser{
  padding-bottom: unset;
}
.userToReview-detail.small{
  font-size: 14px;
  color: grey;
}
.matchUser-header{
  font-size: 14px;
  color: grey;
}
.Submit-btn.messageUser{
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: #f2f2f2;
  border: 1px solid #d0d0d0;
  color: #d0d0d0;
  min-width: 100px;
  font-size: 14px;
  height: 30px;
}
.Submit-btn.messageUser.reserveUser{
  right: 120px;
  min-width: 30px;
  border: none;
}
.Submit-btn.messageUser.reserveUser .tooltiptext{
   margin-left: -90px;
}
.Submit-btn.messageUser.reserveUser.reserved{
  background-color: #6d6767;
  color: #f2f2f2;
}
.ModalOpenBtn-sendMatch{
  position: absolute;
  top: 11px;
  right: 10px;
  min-width: 160px;
  height: 30px;
  font-size: 14px;
  z-index: 3;
}
.form-control-std.sendMatch{
 margin-bottom: 5px;
}
.input-accompanyText{
  text-align: left;
  padding-bottom: 5px;
}
.input-accompanyText.above{
  margin-top: 20px;
}
.input-accompanyText.below{
  margin-bottom: 25px;
}
.historyItemNote{
  display: inline-block;
  padding-left: 20px;
}
.potentialMatchStatus{
/*  top: 11px;
  right: 10px;
  position: absolute;*/
  font-size: 13px;
}
