/* Dex last merged this code on 25th june 2020 */

/* SCREEN SIZING ADJUSTMENTS */
@media screen and (max-width: 1178px) {
  .cards-container {
    justify-content: flex-start!important;
    -webkit-justify-content: flex-start!important;
    -moz-justify-content: flex-start!important;
  }
}

.landingCTA-container{
  width: 100%;
  background-color: #f5f4ff;
  padding: 0 1rem 0 1rem;
}

.exclamation-icon-container{
  position: relative;
  margin-bottom: 5px;
  color: #4e4ed6;
  font-size: 20px;
}

.choose-match-title-container{
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  width: 100%;
}

.choose-match-title{
  color: #4e4ed6;
  font-weight: 600;
  margin-bottom: 5px;
}

.choose-match-detail{
  color: #9f9ee7;
  font-weight: 400;
  font-size: 0.9rem;
}

.cards-container{
  width: 100%;
  margin-bottom: 40px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
/*  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;*/
}

.recd-match{
  color: #7f7ebf;
  font-size: 10px;
  font-weight: 600;
  margin-top: -16px;
}

.UserCardContainer {
  background-color: #ffffff;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  display: inline-block;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-shadow: 0 1px 10px 0 rgba(0,0,0,.08);
  -webkit-box-shadow: 0 1px 10px 0 rgba(0,0,0,.08);
  -moz-box-shadow: 0 1px 10px 0 rgba(0,0,0,.08);
  height: 450px;
  min-width: 248px;
  max-width: 248px;
  margin-right: 30px;
  vertical-align: top;
  text-align: left;
}
@media screen and (min-width: 350px) {
  .UserCardContainer:nth-of-type(1) {
    margin-left: 20px;
  }
  .UserCardContainer {
    min-width: 280px;
    max-width: 280px;
  }
}

.user-card-header{
  height: 30px;
  background-color: #f2f2f2;
  border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  margin-bottom: 35px;
}

/* CSS for top match only */
.user-card-header-t{
  background-color: rgba(78,78,214,.79);
}

.match-time-left{
  text-align: right;
  padding-top: 35px;
  padding-right: 10px;
  font-size: 12px;
  color: #22bd91;
}

.match-avatar-container{
  text-align: center;
  margin-top: -35px;
}

.match-thumb {
  width:2.5rem;
  height:2.5rem;
  border-style:none;
  background-size: cover;
}

.UserCardName{
  text-align: center;
  font-weight: 800;
  font-size: 16px;
  color: #3f3f3f;
}

.UserCardRole{
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  color: #3f3f3f;
}

.how-mtchd-container{
  padding: 20px 25px 10px 25px;
  height: 83px;
}

.match-reason-li{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  font-size: 12px;
  margin-top: -3px;
}

.tickIconContainer{
  float: left;
  margin-left: 0;
  margin-right: 4px;
  width: 15px;
  height: 1.3125rem;
  text-align: left;
  color: #22bd91;
  font-size: 13px;
  opacity: 0.95;
  left: 0;
}

.match-reason{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
}

.pr-match-msg-container{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  font-size: 12px;
  padding: 10px 25px 0 25px;
}

.msgIconContainer{
  float: left;
  margin-left: 0;
  margin-right: 4px;
  width: 15px;
  height: 1.3125rem;
  text-align: left;
  color: #7f7ebf;
  font-size: 13px;
  opacity: 0.95;
  left: 0;
}

.pr-match-msg-title{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  font-weight: 600;
  color: #4e4ed6;
}

.pr-match-reason{
  padding: 0 25px 10px 25px;
  color: #4e4ed6;
  margin-top: -3px;
  font-size: 13px;
  min-height: 80px;
  height: 80px;
  overflow-y: hidden;
  margin-bottom: 24px;
}

@media screen and (min-width: 350px) {
  .pr-match-reason{
    padding: 0 40px 10px 40px;
  }
  .pr-match-msg-container{
    padding: 10px 40px 0 40px;
  }
  .how-mtchd-container{
    padding: 20px 40px 10px 40px;
  }
}

.ModalButtons{
  text-align: center;
}

.MentorCard-waiting{
  z-index: 1000;
  background-color: #3f3f3f;
  opacity: 0.2;
}
