/* Dex last merged this code on 12th oct 2020 */

.modalDesc.safeguarding{
  font-size: 0.8rem;
  color: #b5b4b4;
}

.divLi.img.uploadSelfieID{
  background-image: url(https://files-and-media.ams3.digitaloceanspaces.com/images/PhotoID_110.png);
}
.divLi.img.tickIcon{
  background-image: url(https://files-and-media.ams3.digitaloceanspaces.com/images/Tick%20Icon_50.png);
}
.divLi.img.cvIcon{
  background-image: url(https://files-and-media.ams3.digitaloceanspaces.com/images/CVIcon.png);
  background-position: center;
}
@media screen and (min-width: 758px) {
  .divLi.img.uploadSelfieID{
    background-image: url(https://files-and-media.ams3.digitaloceanspaces.com/images/PhotoID.png);
  }
  .divLi.img.tickIcon{
    background-image: url(https://files-and-media.ams3.digitaloceanspaces.com/images/Tick%20Icon.png);
  }
}
.ModalOpenBtn-mentorFullSU,
.ModalOpenBtn-mentorFullSU-u18{
  width: 120px;
  margin-right: .5rem;
  margin-left: .5rem;
}
@media only screen and (max-width: 425px) {
  .ModalOpenBtn-mentorFullSU,
  .ModalOpenBtn-mentorFullSU-u18{
    width: 110px;
    padding: .5em 1em;
  }
}
