/* Dex last merged this code on 27th Aug 2019 */

.menuModal-container {
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 1000;
  display: inline-block;
  vertical-align: top;
  width: 300px;
  max-height: calc(100vh - 99px);
  color: #3f3f3f;
  background-color: #FFFFFF;
  border-radius: 6px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.08), 0 4px 12px 0 rgba(0,0,0,.12);
  /* overflow: hidden;*/
  top: 80px;
  left: 20px;
  cursor: default;
  -webkit-overflow-scrolling: touch;
}

.menuModal-scrollArea{
  position: relative;
  outline: none;
  transform: translateZ(0);
  height: 100%;
  width: 100%;
  // display: flex;
  // flex-direction: column;
}

.userMenu {
  font-size: 1.25rem;
  font-weight: 900;
  font-family: Roboto;
  padding: 1.75rem 2rem 1rem 2rem;
  color: #fff;
  position: relative;
  flex-basis: 61px;
  flex-shrink: 0;
  margin-bottom: -2px;
  margin-top: 2.3rem!important;
  line-height: 1.075rem;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

.userMenu:hover .badgeName {
  color: #ffdf85;
}

.userMenu:hover .down-arrow-icon {
  color: #fff;
}

.userMenu:active {
  background-color: #111111; /* #ffebb3 is orange / #9f9ee7 is purple */
}

.userMenu:active .badgeName {
  color: #ffdf85;
}

.userMenu:active .down-arrow-icon {
  color: #fff;
}

.userMenu:focus .badgeName {
  color: #ffdf85;
}

.userMenu:focus .down-arrow-icon {
  color: #fff;
}

.userContainer {
  display: flex;
}

.userName{
  order: 1;
  max-width: 9.12rem;
}

.userBadgesContainer{
  position: relative;
  margin-top: -4px;
  color: #d0a800;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
}

.badgeName{
  font-size: .7rem;
  padding-top: 8px;
  font-family: Roboto;
  text-align: left;
}

.menuModal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* @media screen and (min-width: 500px) {
  .modal-container {
    left: 50%;
    top: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    max-width: 30em;
    max-height: calc(100% - 1em);
  }
}
*/

.menuModal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: .5em;
  line-height: 1;
  border: 0;
  background-color: #fff;
  box-shadow: 0;
  outline: none;
}

.menuModal-close-icon {
  width: 25px;
  height: 25px;
  fill: transparent;
  stroke: black;
  stroke-linecap: round;
  stroke-width: 2;
}
