/* Dex last merged this code on 12th jan 2021  */

.emojiReactions-container{
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
}

.addReaction,
.emojiReaction{
  display: inline-block;
  background: #f2f2f2;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  border: .0625rem solid #f2f2f2;
  height: 25px;
  margin-top: 5px;
  margin-right: 6px;
}

.emojiReaction{
  width: 50px;
}

.addReaction{
  width: 38px;
}

.addReaction:hover,
.emojiReaction:hover{
  border-color: #c7c7c7;
  background-color: #fff;
}

.emojiReaction.userClicked{
  border-color: #4e4ed6;
  background-color: #f2f2fb;
}

.emojiReaction.userClicked:hover{
  border-color: #4e4ed6;
  background-color: #ebebfb;
}

.msgActions-container{
  display: none;
  position: absolute;
  top: -10px;
  right: 20px;
  background: #fff;
  border: .0625rem solid #f2f2f2;
  -webkit-border-radius: .375em;
  -moz-border-radius: .375em;
  -ms-border-radius: .375em;
  -o-border-radius: .375em;
  border-radius: .375em;
  height: 28px;
}

.msgActions-container,
.emojiReaction{
  -webkit-transition: all 50ms ease-in;
  -moz-transition: all 50ms ease-in;
  -ms-transition: all 50ms ease-in;
  -o-transition: all 50ms ease-in;
  transition: all 50ms ease-in;
  -webkit-transition-property: border-color,box-shadow;
  -moz-transition-property: border-color,box-shadow;
  -o-transition-property: border-color,box-shadow;
  transition-property: border-color,box-shadow;
  /*z-index: 2;*/
}

.emojiReaction:first-of-type{
  margin-left: 0;
}

.emojiReaction:last-of-type{

}

.msgActions-container .msgActions-btn:first-of-type{
  border-top-left-radius: .375em;
  border-bottom-left-radius: .375em;
}

.msgActions-container .msgActions-btn:last-of-type{
  border-right: none;
  border-top-right-radius: .375em;
  border-bottom-right-radius: .375em;
}

.emojiReaction-btn{
  padding: 1px 7px;
  color: #ababab;
}
.emojiReaction-btn.userClicked{
  color: #4e4ed6;
}
.msgActions-btn{
  border-right: 1px solid #f2f2f2;
  padding: 3px 7px;
  color: #3f3f3f;
}
.msgActions-btn,
.emojiReaction-btn{
  border: none;
  -webkit-transition: all 50ms ease-in;
  -moz-transition: all 50ms ease-in;
  -ms-transition: all 50ms ease-in;
  -o-transition: all 50ms ease-in;
  transition: all 50ms ease-in;
  -webkit-transition-property: background,border,opacity;
  -moz-transition-property: background,border,opacity;
  -o-transition-property: background,border,opacity;
  transition-property: background,border,opacity;
  background: none;
  font: inherit;
  margin: 0;
  line-height: inherit;
  overflow: initial;
  text-align: initial;
  vertical-align: initial;
  cursor: pointer;
  outline: none;
}
.msgActions-btn:hover{
  color: rgba(18,100,163);
  outline: none;
}
.msgActions-btn:active{
  background: rgba(248,248,248);
}

.reactionCount{
  padding: 0 1px 0 3px;
  display: inline-block;
}
.emojiIconTooltip-Container{
  background-color: white;
  height: 30px;
  width: 30px;
  margin-bottom: 4px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}
.addReaction-icon,
.msgAction-icon{
  position: relative;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 20px;
  height: 20px;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.emojiReaction-icon{
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 20px;
  height: 20px;
  -webkit-align-items: center;
  align-items: center;
}
.addReaction:hover,
.addReaction-icon:hover,
.msgAction-icon:hover{
  color: #4e4ed6;
}
.addReaction-icon:before,
.msgAction-icon:before{
  display: inline-block;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}

.addReaction:focus .addReaction-icon,
.addReaction:hover .addReaction-icon {
  color: #f2c744;
}

.addReaction .showOnHover{
  display: none;
}

.addReaction:hover .showOnHover{
  display: block;
  background: black;
  width: 13px;
  height: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.addReaction:hover .hideOnHover{
  display: none;
}

.plusSign.addEmoji-bar,
.plusSign.addEmoji-msgActions{
  position: absolute;
  margin-top: -18px;
  right: 5px;
  font-size: 8px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.plusSign.addEmoji-bar{
  border: #f2f2f2 solid 1px;
  background: #f2f2f2;
}
.plusSign.addEmoji-msgActions{
  border: #fff solid 1px;
  background: #fff;
}
.addReaction:hover .plusSign.addEmoji-bar{
  border: #fff solid 1px;
  background: #fff;
}

#msgAction-star.clicked{
  color: #ffd004;
}

.moreActionsContainer{
  position: absolute;
  right: 0;
  height: auto;
  background: red;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 250px;
  min-height: 30px;
  max-height: -webkit-calc(100vh - 99px);
  max-height: -moz-calc(100vh - 99px);
  max-height: calc(100vh - 99px);
  color: #3f3f3f;
  background-color: #FFFFFF;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.08), 0 4px 12px 0 rgba(0,0,0,.12);
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.08), 0 4px 12px 0 rgba(0,0,0,.12);
  -moz-box-shadow: 0 0 0 1px rgba(0,0,0,.08), 0 4px 12px 0 rgba(0,0,0,.12);
  cursor: default;
  display: none;
}

.moreActionsContainer.active{
  display: block;
}

.moreActions-scrollArea{
  position: relative;
  outline: none;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  height: 100%;
  width: 100%;
}

.moreActionsList{
  visibility: visible;
  overflow: visible;
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  padding: 0;
  margin: 0;
}

.moreActionsListItem{
  margin: 0;
  cursor: pointer;
  line-height: 0;
}

.moreActionsLabel{
  position: relative;
  top: 0px;
  line-height: 32px;
}
