/* // Dex last merged this code on 10th Aug 2019 */

.ModalOpenBtn {
  padding: .5em 1.5em;
  color: #fff;
  background: #58d2bb;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
  outline: none;
  transition: background .15s ease-out;
  font-family: Roboto, Signika, Raleway, Lato, Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-align: center;
  height: 30px;
}

.ModalOpenBtn:hover {
  background: #06bf9c;
  color: #fff;
  /*box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);*/
}

.ModalOpenBtn:disabled{
  color: #9f9fa0;
  background: #e0e1e2;
  cursor: default;
  box-shadow: none;
}

.ModalOpenBtn:active{
  background: #58d2bb;
}

.ModalOpenBtn:focus {
  outline: 0;
  /*box-shadow: 0 0 4px currentColor;*/
}

.ModalOpenBtn-RequestChat {
  color: #58d2bb;
  font-weight: 600;
  font-family: Roboto, Signika, Raleway, Lato, Arial, Helvetica, sans-serif;
  background: #d8f4efab;
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: none;
  height: 40px;
  min-width: 180px;
  padding: 0;
}

.ModalOpenBtn-RequestChat:hover {
  color: #fff;
  background: #58d2bb;
}

.ModalOpenBtn-RequestChat:focus {
  outline: 0;
  box-shadow: none;
}

.ModalOpenBtn-FullSignUp {
  color: #e85151;
  background: #efb3b3;
  border: 2px solid #c48585;
  font-family: Roboto, Signika, Raleway, Lato, Arial, Helvetica, sans-serif;
}

.ModalOpenBtn-PassBtn {
  background: none;
  border: none;
  color: #c7c7c7;
  text-align: center;
  text-decoration: none;
  font-size: 11px;
  width: 100px;
  height: 40px;
  font-family: Roboto, Signika, Raleway, Lato, Arial, Helvetica, sans-serif;
}

.ModalOpenBtn-PassBtn:hover {
  background: none;
  color: #3f3f3fb3;
}

.ModalOpenBtn-PassBtn:focus {
  outline: 0;
  box-shadow: none;
}

.ModalOpenBtn-msgExtras-accept{
  min-width: 150px;
}
.ModalOpenBtn-msgExtras-accept:hover{
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
}
.ModalOpenBtn-msgExtras-accept:active{
  background: #58d2bb;
}

.ModalOpenBtn-msgExtras-pass{
  background: none;
  color: #b7b7b7;
  text-align: center;
  font-size: 11px;
}
.ModalOpenBtn-msgExtras-pass:hover{
  color: #3f3f3fb3;
  background: none;
}
.ModalOpenBtn-msgExtras-pass:active{
  outline: 0;
  box-shadow: none;
  background: none;
}

.ModalOpenBtn-attachmentContainer {
  margin-left: 10px;
  margin-right: 10px;
  width: 30px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #3f3f3f;
  font-size: 20px;
  opacity: 0.95;
  padding: 0;
  top: auto;
  right: 54px;
  bottom: 28px;
  position: absolute;
  cursor: pointer;
  background: none;
  border: 0;
  outline: none!important;
  box-shadow: none!important;
  display: inline-block;
  font-family: Roboto, Signika, Raleway, Lato, Arial, Helvetica, sans-serif;
}

.ModalOpenBtn-attachmentContainer:hover{
  background: none!important;
}

.ModalOpenBtn-picContainer {
  margin-left: 10px;
  width: 30px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #3f3f3f;
  font-size: 20px;
  opacity: 0.95;
  padding: 0;
  top: auto;
  right: 5px;
  bottom: 0px;
  position: absolute;
  cursor: pointer;
  background: none;
  border: 0;
  outline: none!important;
  box-shadow: none!important;
  display: inline-block;
  font-family: Roboto, Signika, Raleway, Lato, Arial, Helvetica, sans-serif;
}

.ModalOpenBtn-picContainer:hover{
  background: none!important;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  transform: translateZ(0);
  background-color: rgba(0,0,0,0.4);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: .5rem;
  padding: 2.5em 1.5em 1.5em 1.5em;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  cursor: default;
  -webkit-overflow-scrolling: touch;
}
.fullpage-modal-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 4.5em 0 1.5em 0;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  cursor: default;
  -webkit-overflow-scrolling: touch;
}
/* SCREEN SIZING ADJUSTMENTS */
@media screen and (min-width: 500px) {
  .modal-container {
    left: 50%;
    top: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    max-width: 30em;
    max-height: calc(100% - 1em);
  }
}

.modal-title{
  font-size: 24px;
  line-height: 1.36363636;
  color: #2c2d30;
  font-weight: 900;
  margin: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
}
.modal-preTitle{
  font-size: 16px;
  line-height: 1.36363636;
  color: #2c2d30;
  font-weight: 900;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}
.modal-subtitle{
  font-size: 22px;
  color: #4e4ed6;
  font-weight: 400;
  margin-bottom: 2.5rem;
  width: 100%;
  text-align: center;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: .5em;
  line-height: 1;
  background: #f6f6f7;
  border: 0;
  box-shadow: 0;
  outline: none;
  cursor: pointer;
}
.modal-close.fullPage {
  left: 0!important;
  color: #9a9a9a;
  background: none;
  padding: 2rem 2rem;
  font-family:  Roboto, Signika, Raleway, Lato, Arial, Helvetica, sans-serif;
}
.modal-close.fullPage:hover {
  color: #000!important;
}
.modal-close-icon {
  width: 25px;
  height: 25px;
  fill: transparent;
  stroke: black;
  stroke-linecap: round;
  stroke-width: 2;
}

.modal-content {
  padding-top: 1.5em;
}
