/* Dex last merged this code on 8th feb 2022 */

.ModalOpenBtn {
  padding: .5em 1.5em;
  color: #fff;
  background: #58d2bb;
  border: none;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  cursor: pointer;
  outline: none;
  user-select: none;
  transition: background .15s ease-out;
  -webkit-transition: background .15s ease-out;
  -moz-transition: background .15s ease-out;
  -ms-transition: background .15s ease-out;
  -o-transition: background .15s ease-out;
  font-family: Roboto, Signika, Raleway, Lato, Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-align: center;
  height: 30px;
}

.ModalOpenBtn:hover {
  background: #06bf9c;
  color: #fff;
}

.ModalOpenBtn:disabled{
  color: #9f9fa0;
  background: #e0e1e2;
  cursor: default;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.ModalOpenBtn:active{
  background: #58d2bb;
}

.ModalOpenBtn:focus {
  outline: 0;
}

/* button unstyled */
.ModalOpenBtn-mentee-profile-prModAuto,
.ModalOpenBtn-mentor-profile-prModAuto,
.ModalOpenBtn-mentee-profile-userName,
.ModalOpenBtn-mentor-profile-userName,
.ModalOpenBtn-deleteContent,
.ModalOpenBtn-deleteQ{
  background: none;
  border: 0;
  outline: none;
  color: inherit;
  font: inherit;
  margin: 0;
  line-height: inherit;
  overflow: inherit;
  padding: 0;
  text-align: initial;
  vertical-align: initial;
  cursor: pointer;
  height: auto;
}
.ModalOpenBtn-mentee-profile-prModAuto:hover,
.ModalOpenBtn-mentor-profile-prModAuto:hover,
.ModalOpenBtn-mentee-profile-userName:hover,
.ModalOpenBtn-mentor-profile-userName:hover,
.ModalOpenBtn-deleteContent:hover,
.ModalOpenBtn-deleteQ:hover{
  background: none!important;
  color: inherit!important;
}
.ModalOpenBtn-mentee-profile-prModAuto:active,
.ModalOpenBtn-mentor-profile-prModAuto:active,
.ModalOpenBtn-mentee-profile-userName:active,
.ModalOpenBtn-mentor-profile-userName:active,
.ModalOpenBtn-deleteContent:active,
.ModalOpenBtn-deleteQ:active{
  background: none;
}
.ModalOpenBtn-deleteContent{
  width: 100%;
}
.ModalOpenBtn-mentee-profile-userName,
.ModalOpenBtn-mentor-profile-userName{
  position: absolute;
  bottom: 0;
  margin-bottom: 5px;
}
.ModalOpenBtn-addPicBtn,
.ModalOpenBtn-mentor-msgBtn-profile,
.ModalOpenBtn-mentee-msgBtn-profile,
.ModalOpenBtn-mentee-usrName-profile,
.ModalOpenBtn-mentor-usrName-profile{
  width: inherit;
  height: inherit;
  color: #fff;
  font-size: 35px;
  background:rgba(6,191,156,0.6);;
  opacity: 0;
  padding: 0;
  border: none;
  outline: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: inherit;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  -ms-border-radius: inherit;
  -o-border-radius: inherit;
}
.ModalOpenBtn-addPicBtn.userMenuPlus{
  font-size: 20px;
  background: unset;
}
.ModalOpenBtn-addPicBtn.msg-thumb,
.ModalOpenBtn-mentor-msgBtn-profile,
.ModalOpenBtn-mentee-msgBtn-profile,
.ModalOpenBtn-mentee-usrName-profile,
.ModalOpenBtn-mentor-usrName-profile{
  font-size: 25px;
  top: unset;
  left: unset;
  position: relative;
}
.ModalOpenBtn-addPicBtn.msg-thumb{
  font-size: 20px;
}
.ModalOpenBtn-addPicBtn.msg-thumb.isGroupFlex{
  width: 31px;
  height: 31px;
}
.ModalOpenBtn-addPicBtn.msg-thumb.isGroupFlex i{
  margin-top: 7px;
}
.ModalOpenBtn-addPicBtn.msg-thumb.isGroupFlex.smallIdle{
  width: 15px;
  height: 15px;
  margin-bottom: -3px;
}
.ModalOpenBtn-addPicBtn.msg-thumb.isGroupFlex.smallIdle i{
  margin-top: 2px;
  font-size: 11px;
}

.ModalOpenBtn-addPicBtn:hover,
.ModalOpenBtn-addPicBtn:focus{
  background:rgba(0,0,0,0.2);
  color: #fff;
}
.ModalOpenBtn-mentor-msgBtn-profile:hover,
.ModalOpenBtn-mentee-msgBtn-profile:hover,
.ModalOpenBtn-mentor-msgBtn-profile:active,
.ModalOpenBtn-mentee-msgBtn-profile:active{
  background:rgba(6,191,156,0.6);
  color: #fff;
}
.ModalOpenBtn-mentee-usrName-profile,
.ModalOpenBtn-mentor-usrName-profile{
  font-size: inherit;
  color: #3f3f3f;
  opacity: 1;
  background: none;
}
.ModalOpenBtn-mentee-prauto-profile{
  background: none;
  padding: 0;
}
.ModalOpenBtn-mentee-prauto-profile:hover,
.ModalOpenBtn-mentee-prauto-profile:active,
.ModalOpenBtn-mentee-usrName-profile:hover,
.ModalOpenBtn-mentor-usrName-profile:hover,
.ModalOpenBtn-mentee-usrName-profile:active,
.ModalOpenBtn-mentor-usrName-profile:active{
  background: none;
  cursor: pointer;
  color: unset;
}

.ModalOpenBtn-addHighlight,
.ModalOpenBtn-addHighlightQApage,
.ModalOpenBtn-addAnswerQApage,
.ModalOpenBtn-addHighlightDashboard,
.ModalOpenBtn-addHighlightSml,
.ModalOpenBtn-addHighlightMenuSml{
  position: fixed;
  visibility: hidden;
  bottom: 25px;
  right: 25px;
/*   padding: 1em 1.5em;*/
  height: 50px;
  box-shadow: 0 1px 13px 0 rgb(0 0 0 / 18%);
  -webkit-box-shadow: 0 1px 13px 0 rgb(0 0 0 / 18%);
  -moz-box-shadow: 0 1px 13px 0 rgb(0 0 0 / 18%);
  z-index: 100;
  background-color: #4e4ed6;
  font-size: 16px;
}
.ModalOpenBtn-addHighlightQApage,
.ModalOpenBtn-addAnswerQApage{
  position: unset;
  visibility: visible;
  font-size: 14px;
  height: 40px;
}
@media screen and (max-width: 600px) {
  .ModalOpenBtn-addHighlightQApage,
  .ModalOpenBtn-addAnswerQApage{
    margin-top: 10px;
    margin-bottom: 15px;
  }
}
.ModalOpenBtn-addHighlightDashboard{
  visibility: visible;
  position: unset;
}
.ModalOpenBtn-askQuestionDashboard{
  background-color: #4e4ed6;
}

.ModalOpenBtn-addHighlightGroup{
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 40px;
  padding: .5em 1.5em;
}

.ModalOpenBtn-addHighlightSml,
.ModalOpenBtn-addHighlightMenuSml{
  visibility: visible;
  padding: 1em 1em;
  width: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.ModalOpenBtn-addHighlightMenuSml{
  position: absolute;
  top: 59px;
  right: 16px;
  width: 40px;
  height: 40px;
  padding: .5em;
  font-size: 15px;
  border: 1px solid rgb(255 255 255 / 30%);
}

.ModalOpenBtn-addHighlight:hover,
.ModalOpenBtn-addHighlightQApage:hover,
.ModalOpenBtn-addAnswerQApage:hover,
.ModalOpenBtn-addHighlightDashboard:hover,
.ModalOpenBtn-addHighlightSml:hover,
.ModalOpenBtn-askQuestionDashboard:hover,
.ModalOpenBtn-addHighlight:active,
.ModalOpenBtn-addHighlightQApage:active,
.ModalOpenBtn-addAnswerQApage:active,
.ModalOpenBtn-addHighlightDashboard:active,
.ModalOpenBtn-addHighlightSml:active,
.ModalOpenBtn-askQuestionDashboard:active{
  background: #351c75;
}

.ModalOpenBtn-addHighlightMenuSml:hover,
.ModalOpenBtn-addHighlightMenuSml:active{
  background: #adabff;
}

@media screen and (min-width: 758px) {
  .ModalOpenBtn-addHighlightSml{
    visibility: hidden;
  }
  .ModalOpenBtn-addHighlight{
    visibility: visible;
  }
}

.ModalOpenBtn-joinProgLrg{
  background-color: #351c75;
  min-width: 210px;
  margin-left: .5rem;
  font-size: 16px;
  padding: 0;
  height: 40px;
}
.ModalOpenBtn-joinProgLrg:hover{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.08);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.08);
  -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.08);
  background-color: #351c75;
}
.ModalOpenBtn-viewMoreFeedback{
  background-color: #351c75;
}

.ModalOpenBtn-card-mentor-profile{
  text-align: center;
  font-weight: 800;
  font-size: 14px;
  color: #4e4ed6;
  margin-top: 18px;
  background: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.ModalOpenBtn-card-mentor-profile:hover{
  color: #3c3cca;
  background: none;
  cursor: pointer;
}
.ModalOpenBtn-card-mentor-profile:active{
  background: none;
}

.ModalOpenBtn-mentee-profile,
.ModalOpenBtn-mentor-profile{
  height: 50px;
  padding: 1.2rem 1.7rem 1rem 1.7rem;
  color: rgba(255,255,255,.8)!important;
  text-decoration: none;
  font-size: 16px;
  background: none;
  font-weight: 400;
  width: 100%;
  text-align: left;
}

.ModalOpenBtn-mentee-profile:hover,
.ModalOpenBtn-mentor-profile:hover {
  background-color: #111111!important;
  color: #fff!important;
}

.ModalOpenBtn-mentee-profile.is-active,
.ModalOpenBtn-mentor-profile.is-active{
  background-color: #9f9ee7!important;
  color: #fff!important;
  text-decoration: none;
  outline: none;
}

.ModalOpenBtn-ReportMsg,
.ModalOpenBtn-menu-mentee-profile,
.ModalOpenBtn-menu-mentor-profile{
  line-height: 32px;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  display: block;
  padding: 0 24px;
  margin: 0;
  white-space: nowrap;
  outline: 0;
  background: 0 0;
  color: #3f3f3f!important;
  cursor: pointer;
  font-weight: 400;
  position: relative;
  top: -1px;
  width: 100%;
  text-align: left;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.ModalOpenBtn-ReportMsg{
  top: 0px;
  height: 32px;
}
.ModalOpenBtn-ReportMsg:hover,
.ModalOpenBtn-menu-mentee-profile:hover,
.ModalOpenBtn-menu-mentor-profile:hover,
.ModalOpenBtn-menu-mentee-profile:focus,
.ModalOpenBtn-menu-mentor-profile:focus{
  background-color: #e0f2f0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.ModalOpenBtn-ReportMsg:hover div,
.ModalOpenBtn-menu-mentee-profile:hover div,
.ModalOpenBtn-menu-mentor-profile:hover div,
.ModalOpenBtn-menu-mentee-profile:focus div,
.ModalOpenBtn-menu-mentor-profile:focus div {
  color: #1dba86;
}
.ModalOpenBtn-joinProg,
.ModalOpenBtn-joinProgSml,
.ModalOpenBtn-addPrDM,
.ModalOpenBtn-editSection{
  background: none;
  font-weight: 400;
  padding: 0;
}
.ModalOpenBtn-joinProgSml,
.ModalOpenBtn-addPrDM,
.ModalOpenBtn-editSection{
  height: 16px;
}
.ModalOpenBtn-addPrDM .addContainer{
  margin-top: -1.3rem;
  right: unset;
  margin-left: 10px;
}
.ModalOpenBtn-joinProg:hover,
.ModalOpenBtn-joinProgSml:hover,
.ModalOpenBtn-addPrDM:hover,
.ModalOpenBtn-editSection:hover{
  background: none;
}
.ModalOpenBtn-joinProgSmlHome{
  font: inherit;
  font-weight: 600;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  outline: none;
  height: 30px;
  min-width: 30px;
  text-align: center;
  padding: 0;
  margin-right: 5px;
  color: #919191!important;
  background: rgba(0,0,0,.07)!important;
  border: 1px solid #dcdcdc!important;
  top: 0;
  position: absolute;
}

.ModalOpenBtn-joinProgSmlHome:hover,
.ModalOpenBtn-joinProgSmlHome:focus {
  background-color: rgba(212,212,212,.2095)!important;
}

.ModalOpenBtn-signupToReview-accept,
.ModalOpenBtn-signupToReview-reject{
  position: absolute;
  top: 10px;
  width: 20px;
  padding-left: 10px;
  padding-right: 22px;
}
.ModalOpenBtn-signupToReview-accept{
  right: 55px;
  color: #33b133;
  background-color: #d6f1d6;
}
.ModalOpenBtn-signupToReview-accept:hover,
.ModalOpenBtn-signupToReview-accept:focus,
.ModalOpenBtn-signupToReview-accept:active{
  background-color: #33b133;
  color: #fff;
}
.ModalOpenBtn-signupToReview-reject{
  right: 15px;
  color: #cc2020;
  background-color: #fdd2da;
}
.ModalOpenBtn-signupToReview-reject:hover,
.ModalOpenBtn-signupToReview-reject:focus,
.ModalOpenBtn-signupToReview-reject:active{
  background-color: #cc2020;
  color: #fff;
}
.menuCTAContainer{
  display: inline-block;
}
.ModalOpenBtn-manageFeedbackFromUserMenu,
.ModalOpenBtn-settings{
  background: none!important;
  color: #3f3f3f!important;
  padding: 0 24px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
}
.ModalOpenBtn-manageFeedbackFromUserMenu:hover .mngFeedback-Btn-txt,
.ModalOpenBtn-manageFeedbackFromUserMenu:focus .mngFeedback-Btn-txt,
.ModalOpenBtn-settings:hover .settings-Btn-txt,
.ModalOpenBtn-settings:focus .settings-Btn-txt{
  color: #1dba86;
}
.ModalOpenBtn.ModalOpenBtn-manageFeedbackFromUserMenu:focus .userMenu-list-item,
.ModalOpenBtn.ModalOpenBtn-settings:focus .userMenu-list-item {
  background-color: #e0f2f0;
}

.ModalOpenBtn-RequestChat {
  min-width: 140px;
  height: 40px;
  display: block;
  margin: auto;
}

.ModalOpenBtn-RequestChat:focus {
  outline: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.ModalOpenBtn-FullSignUp {
  color: #e85151;
  background: #efb3b3;
  border: 2px solid #c48585;
  font-family: Roboto, Signika, Raleway, Lato, Arial, Helvetica, sans-serif;
}

.ModalOpenBtn-PassBtn {
  background: none;
  border: none;
  color: #c7c7c7;
  text-align: center;
  text-decoration: none;
  font-size: 11px;
  font-weight: 400;
  display: block;
  margin: auto;
  width: 100px;
  height: 40px;
  font-family: Roboto, Signika, Raleway, Lato, Arial, Helvetica, sans-serif;
}
.ModalOpenBtn-addEditRole,
.ModalOpenBtn-addRoleDesc,
.ModalOpenBtn-deleteRole,
.ModalOpenBtn-editIndRoles,
.ModalOpenBtn-addEditSkills,
.ModalOpenBtn-editHobbies,
.ModalOpenBtn-addEditWhyHelp,
.ModalOpenBtn-editSubjects,
.ModalOpenBtn-editUni,
.ModalOpenBtn-addEditUni,
.ModalOpenBtn-addEditTraining,
.ModalOpenBtn-addEditHeadline,
.ModalOpenBtn-editSch,
.ModalOpenBtn-addSchDesc,
.ModalOpenBtn-addUniDesc{
  background: none;
  padding: 0;
  border: none;
  color: #c7c7c7;
  text-align: center;
  text-decoration: none;
  font-size: 11px;
  font-weight: 400;
  display: block;
  font-family: Roboto, Signika, Raleway, Lato, Arial, Helvetica, sans-serif;
}
.ModalOpenBtn-deleteRole{
  margin: auto;
  margin-top: 10px;
}
.ModalOpenBtn-addSchDesc,
.ModalOpenBtn-addUniDesc{
  margin-bottom: 20px;
  margin-top: -10px;
}

.ModalOpenBtn-noSuggestionsCTABtn,
.ModalOpenBtn-eduFreeTextBtn,
.ModalOpenBtn-noEduEmailBtn {
  background: none!important;
  border: none;
  color: #c7c7c7;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  display: block;
  margin: auto;
  width: 250px;
  height: 40px;
  font-family: Roboto, Signika, Raleway, Lato, Arial, Helvetica, sans-serif;
}

.ModalOpenBtn-noSuggestionsCTABtn{
  color: #8f8fe5;
}

.ModalOpenBtn-eduFreeTextBtn,
.ModalOpenBtn-noEduEmailBtn {
  width: auto;
  float: right;
  text-align: right;
  height: auto;
  padding: 0;
  margin-right: 0;
}
.ModalOpenBtn-eduFreeTextBtn{
  margin-top: .2rem;
}

.ModalOpenBtn-noEduEmailBtn{
  margin-top: -2.4rem;
  color: #4e4ed6;
}

.ModalOpenBtn-PassBtn:hover,
.ModalOpenBtn-noSuggestionsCTABtn:hover,
.ModalOpenBtn-eduFreeTextBtn:hover,
.ModalOpenBtn-noEduEmailBtn:hover,
.ModalOpenBtn-addRoleDesc:hover,
.ModalOpenBtn-addEditRole:hover,
.ModalOpenBtn-deleteRole:hover,
.ModalOpenBtn-editIndRoles:hover,
.ModalOpenBtn-addEditSkills:hover,
.ModalOpenBtn-editHobbies:hover,
.ModalOpenBtn-addEditWhyHelp:hover,
.ModalOpenBtn-editSubjects:hover,
.ModalOpenBtn-editUni:hover,
.ModalOpenBtn-addEditUni:hover,
.ModalOpenBtn-addEditTraining:hover,
.ModalOpenBtn-addEditHeadline:hover,
.ModalOpenBtn-editSch:hover,
.ModalOpenBtn-addSchDesc:hover,
.ModalOpenBtn-addUniDesc:hover {
  background: none;
  color: rgba(63,63,63,.7);
}

.ModalOpenBtn-noSuggestionsCTABtn:hover{
  color: #4e4ed6;
}

.ModalOpenBtn-PassBtn:focus,
.ModalOpenBtn-noSuggestionsCTABtn:focus,
.ModalOpenBtn-eduFreeTextBtn:focus,
.ModalOpenBtn-noEduEmailBtn:focus,
.ModalOpenBtn-addRoleDesc:focus,
.ModalOpenBtn-addEditRole:focus,
.ModalOpenBtn-deleteRole:focus,
.ModalOpenBtn-editIndRoles:focus,
.ModalOpenBtn-addEditSkills:focus,
.ModalOpenBtn-editHobbies:focus,
.ModalOpenBtn-addEditWhyHelp:focus,
.ModalOpenBtn-editSubjects:focus,
.ModalOpenBtn-editUni:focus,
.ModalOpenBtn-addEditUni:focus,
.ModalOpenBtn-addEditTraining:focus,
.ModalOpenBtn-addEditHeadline:focus,
.ModalOpenBtn-editSch:focus,
.ModalOpenBtn-addSchDesc:focus,
.ModalOpenBtn-addUniDesc:focus {
  outline: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  color: rgba(63,63,63,.7);
}

.ModalOpenBtn-msgExtras-accept{
  min-width: 150px;
}
.ModalOpenBtn-msgExtras-accept:hover{
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
  -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
}
.ModalOpenBtn-msgExtras-accept:active{
  background: #58d2bb;
}

.ModalOpenBtn-msgExtras-pass{
  background: none;
  color: #b7b7b7;
  text-align: center;
  font-size: 11px;
}
.ModalOpenBtn-msgExtras-pass:hover{
  color: rgba(63,63,63,.7);
  background: none;
}
.ModalOpenBtn-msgExtras-pass:active{
  outline: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  background: none;
}

.ModalOpenBtn-attachmentContainer,
.ModalOpenBtn-picContainer,
.ModalOpenBtn-highlightPicContainer,
.ModalOpenBtn-highlightAttachmentContainer,
.sendMsgContainer {
  margin-left: 10px;
  margin-right: 10px;
  width: 30px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #3f3f3f;
  font-size: 20px;
  opacity: 0.95;
  padding: 0;
  top: auto;
  bottom: 28px;
  position: absolute;
  cursor: pointer;
  background: none;
  border: 0;
  outline: none!important;
  box-shadow: none!important;
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  display: inline-block;
  font-family: Roboto, Signika, Raleway, Lato, Arial, Helvetica, sans-serif;
}

.ModalOpenBtn-highlightPicContainer,
.ModalOpenBtn-highlightAttachmentContainer{
  margin-left: unset;
  position: unset;
}

.ModalOpenBtn-attachmentContainer:hover,
.ModalOpenBtn-highlightAttachmentContainer:hover{
  background: none!important;
}

.ModalOpenBtn-attachmentContainer,
.ModalOpenBtn-highlightAttachmentContainer {
  right: 88px;
}

.ModalOpenBtn-picContainer,
.ModalOpenBtn-highlightPicContainer {
  right: 54px;
}

.ModalOpenBtn-picContainer:hover,
.ModalOpenBtn-highlightPicContainer:hover{
  background: none!important;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  background-color: rgba(0,0,0,.4);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  padding: 1em 0.75em 1em 0.75em;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0,.1);
  -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0,.1);
  -moz-box-shadow: 0 0 10px 3px rgba(0, 0, 0,.1);
  overflow-y: auto;
  cursor: default;
  -webkit-overflow-scrolling: touch;
}
.modal-container.removeOverflowY{
  overflow-y: visible;
  overflow-y: unset;
}
.fullpage-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 4.5em 0 1.5em 0;
  background-color: #fff;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0,.1);
  -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0,.1);
  -moz-box-shadow: 0 0 10px 3px rgba(0, 0, 0,.1);
  overflow-y: auto;
  cursor: default;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.fullpage-modal-container.mentee-usrName-profile,
.fullpage-modal-container.mentor-usrName-profile,
.fullpage-modal-container.mentor-msgBtn-profile,
.fullpage-modal-container.mentee-msgBtn-profile,
.fullpage-modal-container.card-mentor-profile,
.fullpage-modal-container.menu-mentee-profile,
.fullpage-modal-container.menu-mentor-profile,
.fullpage-modal-container.mentee-prauto-profile,
.fullpage-modal-container.mentee-profile,
.fullpage-modal-container.mentor-profile,
.fullpage-modal-container.mentee-profile-prModAuto,
.fullpage-modal-container.mentor-profile-prModAuto,
.fullpage-modal-container.mentee-profile-userName,
.fullpage-modal-container.mentor-profile-userName{
  background-color: #f9f9f9;
  padding-bottom: 0;
  padding: 0 0 0 0;
  z-index: 0;
}

.fullpage-modal-container.slideUp{
  animation: .5s slideup;
  margin-top: 0%;
}

@keyframes slideup {
  from {
    margin-top: 12%;
    height: 300%;
  }

  to {
    margin-top: 0%;
    height: 100%;
  }
}

/* SCREEN SIZING ADJUSTMENTS */
@media screen and (min-width: 500px) {
  .modal-container {
    left: 50%;
    top: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    max-width: 30em;
    max-height: -webkit-calc(100% - 1em);
    max-height: -moz-calc(100% - 1em);
    max-height: calc(100% - 1em);
    padding: 2.5em 1.5em 1.5em 1.5em;
  }
  .modal-container.wider {
    max-width: 40em;
  }
}
@media screen and (max-width: 759px) {
  .fullpage-modal-container{
    overflow-x: hidden;
  }
}

.modal-title{
  font-size: 24px;
  line-height: 1.36363636;
  color: #2c2d30;
  font-weight: 900;
  margin: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
}

.modal-preTitle{
  font-size: 16px;
  line-height: 1.36363636;
  color: #2c2d30;
  font-weight: 900;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}
.modal-subtitle{
  font-size: 22px;
  color: #4e4ed6;
  font-weight: 400;
  margin-bottom: 2.5rem;
  width: 100%;
  text-align: center;
  line-height: 20px;
}
.modal-subtitleSml{
  color: #4e4ed6;
  margin-top: -10px;
  margin-bottom: 20px;
}
.modal-subtitle-colour{
  text-align: center;
  color: rgba(60,60,202,.87);
  max-width: 70%;
  margin: auto;
  margin-top: 2rem;
  font-size: 14px;
}
.modalDesc{
  padding-left: 2rem;
  padding-right: 2rem;
  color: #676767;
}
.modal-section{
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
}
.modal-sectionTitle{
  font-size: 20px;
  color: #4e4ed6;
  font-weight: 400;
  padding-bottom: 20px;
  width: 100%;
  text-align: left;
  margin-top: 30px;
}
@media only screen and (max-width: 425px) {
  .modalDesc{
    padding-left: 0;
    padding-right: 0;
  }
}

.modalCTAText{
  color: #676767;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: .5em;
  line-height: 1;
  background: #f6f6f7;
  border: 0;
  box-shadow: 0;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  outline: none;
  cursor: pointer;
}
.modal-close.fullPage {
  left: 0!important;
  right: auto;
  color: #9a9a9a;
  background: none;
  padding: 2rem 2rem;
  font-family:  Roboto, Signika, Raleway, Lato, Arial, Helvetica, sans-serif;
}
.modal-close.fullPage.bkArrow {
  font-size: 25px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: fixed;
  padding: .5em;
  margin-left: 3rem;
  top: 40px;
  max-width: 50px;
  cursor: pointer;
  z-index: 1000;
  background: #f6f6f7;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.18);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.18);
  -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.18);
}
.modal-close.fullPage.bkArrow.safari {
  position: -webkit-sticky;
  position: sticky;
}
.modal-close.fullPage.bkArrow:hover {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.18);
}
@media only screen and (max-width: 425px) {
  .modal-close.fullPage.bkArrow {
    font-size: 20px;
    margin-left: 2rem;
    top: 25px;
  }
}
.modal-close.fullPage:hover {
  color: #000!important;
}
.modal-close-icon {
  width: 25px;
  height: 25px;
  fill: transparent;
  stroke: black;
  stroke-linecap: round;
  stroke-width: 2;
}

.modal-content {
  padding-top: 1.5em;
  margin-bottom: 1rem;
  text-align: center
}
.fpModal-content{
  padding-top: 1.5em;
  height: 100%;
}
.fpModal-content.isDevice{
  padding-top: 0;
}
.success-container{
  width: 60%;
  margin: auto;
}
.modal-header .modalTitle{
  margin-left: 7rem;
  font-size: 20px;
  font-weight: 600;
  color: grey;
  margin-top: -10px;
}
.modal-header.safari{
  padding-top: 20px;
}
