/* Dex last merged this code on 28th oct 2022  */

.myContentMoreActionsContainer {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 250px;
  min-height: 30px;
  max-height: -webkit-calc(100vh - 99px);
  max-height: -moz-calc(100vh - 99px);
  max-height: calc(100vh - 99px);
  color: #3f3f3f;
  background-color: #FFFFFF;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.08), 0 4px 12px 0 rgba(0,0,0,.12);
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.08), 0 4px 12px 0 rgba(0,0,0,.12);
  -moz-box-shadow: 0 0 0 1px rgba(0,0,0,.08), 0 4px 12px 0 rgba(0,0,0,.12);
  cursor: default;
}
.postContainer{
  display: flex;
}
@media screen and (max-width: 600px) {
  .postContainer{
    flex-direction: column;
  }
  .postDetail{
    align-items: center;
    width: auto;
    display: inline-flex;
  }
  .postDetail .numAnswers{
    margin-bottom: 0!important;
  }
  .postDetail div{
    margin-right: 10px;
  }
  .postDetail div:last-of-type{
    margin-right: 0px;
  }
  .postDetail .followBtn{
    margin-bottom: 5px!important;
  }
}
.contentTypeLabel{
  width: 80px;
  height: 25px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  padding-top: 5px;
  font-size: 13px;
  border-top-right-radius: 0.25rem;
  -webkit-border-top-right-radius: 0.25rem;
  -moz-border-top-right-radius: .25rem;
  -ms-border-top-right-radius: .25rem;
  -o-border-top-right-radius: .25rem;
  background: #e1e1e1;
  color: #a9a9a9;
}
.contentTypeLabel.question{
  background: #d8d8ff;
  color: #9b8fe9;
}
.contentTypeLabel.answer{
  background: #d9fdf6;
  color: #58d2bb;
}
.contentTypeLabel.custom{
  background: #000;
  color: #fff;
}
