/* Dex last merged this code on 16th May 2019 */

.pass-form{
  margin-top: 20px;
}

.pass-btn-container{
  display: flex;
  width: 100%;
  justify-content: center;
}

.passDescriptor{
  margin-top: 2rem!important;
}
