.PassMenteeSubmit-btn{
  padding: .1em .5em;
  color: #4285f4;
  background: #e2edff;
  border: 2px solid #bad2fa;
  border-radius: 1em;
  cursor: pointer;
  outline: none;
  text-align: center;
  transition: background .15s ease-out;
}

.PassMenteeSubmit-btn:disabled{
  padding: .1em .5em;
  color: #9f9fa0;
  background: #e0e1e2;
  border: 2px solid #c2c4c6;
  border-radius: 1em;
  cursor: none;
  outline: none;
  transition: background .15s ease-out;
}

.PassReasonMessage-Form{
  display: block;
  width: 100%;
  padding: 0 .75rem;
  margin: 0.25rem 0 2rem;
  border: 1px solid #C5C5C5;
  border-radius: .25rem;
  height: 75px;
  line-height: 40px;
  vertical-align: top;
  resize: none;
  outline: none;
}
