/* Dex last merged this code on 28th Oct 2019 */

.photoOutput{
  text-align: center;
  margin: 10px 0;
  display: none;
}

.photoOutput.isProfPic{
  margin: auto;
  display: block;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.photoOutput.isProfPic img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
