/* Dex last merged this code on 14th mar 2021 */

.msg-thumb-container {
  width: 40px;
  height:100%;
  padding-right: 10px;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
}
.msg-thumb-container.isGroupFlex{
  display: inline-block;
  width: 31px;
  height: 31px;
  margin-right: 4px;
}

.msg-thumb-container.smallIdle{
  width: 15px;
  padding-right: 2px;
  height: 15px;
}

.title-emoji-container {
  margin-left: 0;
  margin-right: 10px;
  float: left;
  font-size: 13px;
  width: auto;
  height: 1.3125rem;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.msg-thumb {
  Width:40px;
  Margin-right:10px;
  Height:40px;
  Border-style:none;
  background-size: cover;
}
.msg-thumb.isGroupFlex{
  width: 31px;
  height: 31px;
  display: inline-grid;
}
.msg-thumb.smallIdle{
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: 3px;
}

.msg-thumb.hasPic {
  background-size: cover;
  background-position: center center;
}

.msg-thumb.noPic{
  font-size: 20px;
  text-align: center;
  color: #fff;
}
.msg-thumb.noPic.isMe{
  background-color: #e6ddfd;
}
.msg-thumb.noPic.isntMe{
  background-color: rgb(53,28,117);
  background-color: rgba(53,28,117,.5);
}
.msg-thumb.noPic.isntMe.isProspela{
  background-color: #4e4ed6!important;
}

.block-container {
  display:block;
}

.block-container.keepHover,
.block-container:hover {
  background-color: rgba(242, 242, 242,.5);
}
.block-container.keepHover .msgActions-container,
.block-container:hover .msgActions-container{
  display:block;
}
/*
.block-container:hover .moreActionsContainer{
  display:none;
}
*/
#newMsgs {
/*  padding-top: 12rem;
  margin-top: -12rem;*/
}
:root {
  /*--default-padding: 8px;*/
  --header-height: 39px;
  --sticky-pos: 8px;
}
.stickyDateHeader {
  position: -webkit-sticky;
  position: sticky;

  /*padding: 0 var(--default-padding); WORKED WITH THIS ON */
}
.sticky_sentinel {
  /*background: yellow;*/
  position: absolute;
  left: 0;
  right: 0; /* needs dimensions */
  visibility: hidden;
}
.sticky_sentinel--top {
  /* Adjust the height and top values based on your on your sticky top position.
  e.g. make the height bigger and adjust the top so observeHeaders()'s
  IntersectionObserver fires as soon as the bottom of the sentinel crosses the
  top of the intersection container. */
  height: 10px; /* 15px */
  /*background-color: yellow;*/
  margin-top: 10px; /* top: -17px */
}
.sticky_sentinel--bottom {
  /* Height should match the top of the header when it's at the bottom of the
  intersection container. */
  height: calc(var(--header-height) + 8px); /* Same as StickyDateHeaders top WORKED WITH DIDNT INCLUDE THE 8PX*/
  background-color: red;
/*  bottom: 0;*/
}
.sticky_sentinel.sticky_sentinel--bottom:first-of-type{
  display: none;
}
.block-container.dateHeader{
  z-index: 1;
  top: -8px; /* Sentinels adjust based on this position. WORKED WITH THIS OFF */
  height: var(--header-height);
  /*top: -26px;*/
  /*top: -8px;*/
}
.block-container.dateHeader:hover,
#newMsgs:hover,
.block-container.go2NewMsgs:hover{
  background-color: transparent;
}
.block-container.dateHeader.isPinned{
  /*background-color: blue;*/
}
.block-container.dateHeader.isPinned hr{
  visibility: hidden
}
.block-container.dateHeader.shadow .separator__text {
  box-shadow: 0 3px 10px 0 rgba(0,0,0,.03);
  -webkit-box-shadow: 0 3px 10px 0 rgba(0,0,0,.03);
  -moz-box-shadow: 0 3px 10px 0 rgba(0,0,0,.03);
}
.block-container.go2NewMsgs{
  position: -webkit-sticky;
  position: sticky;
  z-index: 101;
  top: -15px;
}

.message-container {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 15px;
  vertical-align: top;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  height:auto;
  position: relative;
}
/*@media only screen and (max-width: 425px) {
  .message-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}*/
.message-container.adjacent{
  margin-top: -5px;
}
.message-container.adjacent:hover .msg-sent-time.adjacent{
  opacity: 1;
}
.message-content-box {
  /*overflow: hidden;*/
  width: 100%;
  text-align: left;
}

.msg-title-container{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 30px;
}

.msgText-link{
  word-break: break-word;
}

.msg-extras-btns{
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-align: left;
}

.prAutoMsgTitle{
  color: #4e4ed6;
  font-size: 16px;
  font-weight: 600;
  margin-right: 15px;
}

.sender-name {
  font-weight: 700;
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  font-size: 15px;
  vertical-align: bottom;
  line-height: 15px;
  display: inline-block;
  cursor: pointer;
}

.sender-name.isProspela {
  color: #4e4ed6;
}
.sender-name.isFounder {
  color: #8f8fe5;
}
.sender-name.isPM {
  color: #1fbfa1;
}

.sender-name.smallIdle{
  font-size: 13px;
  font-weight: unset;
  vertical-align: unset;
}

.messageGutter{
  margin-right: 10px;
  margin-left: -10px;
  text-align: right;
  width: 50px;
}

.msg-sent-time {
  font-size: .75rem;
  color: #b8c2cc;
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  margin-left: 4px;
}
.msg-sent-time.adjacent{
  opacity: 0;
  line-height: 1.3;
  margin-top: 8px;
  width: 52px;
  transition: opacity .15s ease-in-out;
  -webkit-transition: opacity .15s ease-in-out;
  -moz-transition: opacity .15s ease-in-out;
  -ms-transition: opacity .15s ease-in-out;
  -o-transition: opacity .15s ease-in-out;
}
.message-content {
  color:#3f3f3f;
  line-height: 1.3;
  margin:6px 0 -4px;
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  display: inline-block;
  width: 100%;
  word-break: break-word;
  font-size: 15px;
  letter-spacing: 0.275px;
}

.message-content p {
  margin: 0;
}

.msgStatus{
  font-size: 0.8rem;
  text-align: right;
  margin-top: .25rem;
}

.msgStatus.read{
  color: #b9b9b9;
}
.msgStatus.error{
  color: #d82f2f;
  clear: both;
}

.prauto-msg-container{
  width: 100%;
  background-color: #eeedfb;
  text-align: center;
  min-height: 30px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: .6rem;
}
.prauto-start-msg-container{
  width: 100%;
  text-align: center;
  min-height: 10px;
  padding-top: .4rem;
  padding-bottom: .4rem;
}
.prauto-final-msg-container{
  width: 100%;
  background-color: #fff;
  text-align: center;
  min-height: 30px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.extra-content-container{
  line-height: 1.46668;
  font-size: 15px;
  font-weight: 400;
}

.message-extras-container{
  padding-left: 1.7rem;
  padding-right: 1.5rem;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: left;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.msg-extras{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 100%;
}

.msg-extras-ctaTxt{
  font-size: 0.8rem;
  color: #4e4ed6;
  font-weight: 600;
  padding-top: 1rem;
  padding-bottom: 0rem;
  cursor: pointer;
}
.msg-extras-ctaTxt:hover{
  color: #0303f5;
}
.message-extras-border{
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  width: 6px;
  background-color: #4e4ed6;
  margin-right: 10px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.date-separator{
  height: 2em;
  margin: 0;
  padding-top: 10px;
  position: relative;
  text-align: center;
  z-index: 0;
}
.unread-separator{
  height: 2em;
  margin: 1rem 0 0;
  position: relative;
  text-align: right;
  z-index: 0;
}
.separator__hr{
  border-color: #cccccc;
  margin: 0;
  position: relative;
  top: 1em;
  z-index: 5;
}
.unreadSeparator__hr{
  border-color: #e22e48;
  margin: 0;
  position: relative;
  top: 1em;
  z-index: 5;
}
.separator__text{
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  background: #ffffff;
  color: #555555;
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
  line-height: 2em;
  padding: 0 1em;
  position: relative;
  z-index: 1000;
  width: 200px;
  border: 1px solid #cccccc;
/*  box-shadow: 0 3px 10px 0 rgba(0,0,0,.03);
  -webkit-box-shadow: 0 3px 10px 0 rgba(0,0,0,.03);
  -moz-box-shadow: 0 3px 10px 0 rgba(0,0,0,.03);*/
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.separator__text.go2NewMsgs {
  background-color: #e22e48;
  color: #fff;
  border: 1px solid #a92639;
  cursor: pointer;
  width: 210px;
}
.separator__text.go2NewMsgs i{
  padding-right: 8px;
}
.unreadSeparator__text{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #dcdcdc;
  background: #ffffff;
  color: #e22e48;
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
  line-height: 2em;
  padding: 0 1em;
  margin-right: .5rem;
  position: relative;
  z-index: 5;
}
.messageCTA{
  padding-top: 15px;
  padding-bottom: 15px;
}
.timeoutText{
  color: #58d2bb;
  margin-top: 10px;
  font-size: 13px;
}
.messageCTA .positiveReply,
.messageCTA .negativeReply {
  margin-top: 10px;
}
.positiveReply svg,
.negativeReply svg {
  display: inline-block;
}
.messageCTABtns{
  display: inline-block;
  margin-top: 15px;
}
.messageCTABtns .ModalOpenBtn-RequestChat{
  width: 120px;
  min-width: unset;
  display: unset;
}
.messageCTABtns .ModalOpenBtn-RequestChat .RequestChatBtnContainer{
  min-width: unset;
}
.messageCTABtns .ModalOpenBtn-PassBtn{
  display: unset;
  width: 60px;
}
.potentialMatch-menteeIntroMsg{
  padding-top: 15px;
  padding-bottom: 6px;
  text-align: left;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.potentialMatch-menteeIntroMsg .highlight-titleText{
  margin-bottom: 7px;
  display: inline-block;
}
.potentialMatch-profileCard{
  box-shadow: 0 1px 7px 1.2px rgba(78,78,214,.22);
  -webkit-box-shadow: 0 1px 7px 1.2px rgba(78,78,214,.22);
  -moz-box-shadow: 0 1px 7px 1.2px rgba(78,78,214,.22);
  border: 3px solid #4e4ed6!important;
  width: 280px;
  height: 350px;
  text-align: unset;
  padding: 0;
  background-color: #2b2b2b;
  position: relative;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.potentialMatch-profileCard .userDetail-txt{
  height: 104px;
}
.userDetail-profileCard{
  font-size: .8rem;
  color: #b1b1b1;
  margin: 10px;
}
.userDetail-scrollSection{
  overflow-y: auto;
  height: 220px;
}
.userDetail-scrollSection::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,.41);
}
.userDetail-scrollSection .SpinnerWrapper{
  color: white;
  font-size: 30px;
}
