/* Dex last merged this code on 22nd mar 2023 */

.qTitle.qaPage{
  font-size: 22px;
  margin-top: unset;
  margin-right: 180px;
}
.qDetailContainer{
  line-height: 1.5;
  word-wrap: break-word;
}
.qActionsContainer{
  display: flex;
  align-items: flex-start!important;
  -webkit-align-items: flex-start!important;
}
@media only screen and (max-width: 425px) {
  .qActionsContainer{
    display: block;
  }
}
.qActionsBox{
  width: 96px!important;
  flex: 1 auto!important;
  -webkit-flex: 1 auto!important;
  -moz-flex: 1 auto!important;
  -ms-flex: 1 auto!important;
  flex-wrap: wrap!important;
  -webkit-flex-wrap: wrap!important;
  -moz-flex-wrap: wrap!important;
  flex-wrap: wrap!important;
}
#qaCloseBtn:hover{
  color: #3f3f3f;
}
#qaCloseBtn:focus,
#qaCloseBtn:focus-within,
#qaCloseBtn:active{
  color: #7e7ec9;
  background: #f6f6f6;
}
.credentialSuperContainer{
  width: 250px;
}

.highlighted-post{
  animation: highlighted-post-fade 3s;
  -webkit-animation: highlighted-post-fade 3s;
  -moz-animation: highlighted-post-fade 3s;
  -ms-animation: highlighted-post-fade 3s;
  -o-animation: highlighted-post-fade 3s;
  animation-timing-function: ease-out;
  -webkit-animation-function: ease-out;
  -moz-animation-function: ease-out;
  -ms-animation-function: ease-out;
  -o-animation-function: ease-out;
}

.commentActions{
  display: grid;
  width: auto;
  grid-template-columns: repeat(2, max-content);
  align-content: flex-start;
  padding-top: 6px;
  padding-right: 8px;
}
.commentText{
  padding: 6px 0;
}
.onFeedOriginalAuthor{
  margin-left: -7px;
  padding-left: 7px;
  padding-right: 7px!important;
}
.commentScore{
  width: auto;
  display: inline-block;
  padding-right: 4px;
  min-width: 16px;
}
.commentVoting{
  float: right;
  width: 20px;
  margin-top: -2px;
}
.commentFlagging{
  grid-column: 2;
  float: right;
  width: 20px;
}
.commentFlagging:hover{
  color: #e22e48!important;
}
.commentFlaggingBtns {
  font-size: 14px;
  display: inline-block;
}

@-webkit-keyframes highlighted-post-fade {
  0% {
    background-color: rgb(207 207 255 / 45%);
  }
  100% {
    background-color: rgba(0,0,0,0);
  }
}
@-moz-keyframes highlighted-post-fade {
  0% {
    background-color: rgb(207 207 255 / 45%);
  }
  100% {
    background-color: rgba(0,0,0,0);
  }
}
@-o-keyframes highlighted-post-fade {
  0% {
    background-color: rgb(207 207 255 / 45%);
  }
  100% {
    background-color: rgba(0,0,0,0);
  }
}
@keyframes highlighted-post-fade {
  0% {
    background-color: rgb(207 207 255 / 45%);
  }
  100% {
    background-color: rgba(0,0,0,0);
  }
}
