/* Dex last merged this code on 28th jan 2023 */

.qTitle.qaPage{
  font-size: 22px;
  margin-top: unset;
  margin-right: 180px;
}
.qDetailContainer{
  line-height: 1.5;
  word-wrap: break-word;
}
.qActionsContainer{
  display: flex;
  align-items: flex-start!important;
  -webkit-align-items: flex-start!important;
}
@media only screen and (max-width: 425px) {
  .qActionsContainer{
    display: block;
  }
}
.qActionsBox{
  width: 96px!important;
  flex: 1 auto!important;
  -webkit-flex: 1 auto!important;
  -moz-flex: 1 auto!important;
  -ms-flex: 1 auto!important;
  flex-wrap: wrap!important;
  -webkit-flex-wrap: wrap!important;
  -moz-flex-wrap: wrap!important;
  flex-wrap: wrap!important;
}
#qaCloseBtn:hover{
  color: #3f3f3f;
}
#qaCloseBtn:focus,
#qaCloseBtn:focus-within,
#qaCloseBtn:active{
  color: #7e7ec9;
  background: #f6f6f6;
}
.credentialSuperContainer{
  width: 250px;
}

.highlighted-post{
  animation: highlighted-post-fade 3s;
  -webkit-animation: highlighted-post-fade 3s;
  -moz-animation: highlighted-post-fade 3s;
  -ms-animation: highlighted-post-fade 3s;
  -o-animation: highlighted-post-fade 3s;
  animation-timing-function: ease-out;
  -webkit-animation-function: ease-out;
  -moz-animation-function: ease-out;
  -ms-animation-function: ease-out;
  -o-animation-function: ease-out;
}

.commentActions{
  display: grid;
  width: auto;
  grid-template-columns: repeat(2, max-content);
  align-content: flex-start;
  padding-top: 6px;
  padding-right: 8px;
}
.commentText{
  padding: 6px 0;
}
.onFeedOriginalAuthor{
  margin-left: -7px;
  padding-left: 7px;
  padding-right: 7px!important;
}
.commentScore{
  width: auto;
  display: inline-block;
  padding-right: 4px;
  min-width: 16px;
}
.commentVoting{
  float: right;
  width: 20px;
  margin-top: -2px;
}
.commentFlagging{
  grid-column: 2;
  float: right;
  width: 20px;
}
.commentFlagging:hover{
  color: #e22e48!important;
}
.commentFlaggingBtns {
  font-size: 14px;
  display: inline-block;
}

.signUpPromptBanner{
  position: sticky;
  height: 350px; /* 40vh on mobile */
  width: 100%;
  z-index: 1000;
  bottom: 0;
  box-shadow: rgb(0 0 0 / 25%) 1px -17px 20px;
  -webkit-box-shadow: rgb(0 0 0 / 25%) 1px -17px 20px;
  -moz-box-shadow: rgb(0 0 0 / 25%) 1px -17px 20px;
  border-top: 1px solid #4e4ed6;
  background-image: url(https://files.prospela.com/images%2FSignUpPromptBanner.pptx.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #9f9ee7;
  -webkit-animation: slide-in--up 420ms cubic-bezier(.165,.84,.44,1);
  -moz-animation: slide-in--up 420ms cubic-bezier(.165,.84,.44,1);
  -ms-animation: slide-in--up 420ms cubic-bezier(.165,.84,.44,1);
  -o-animation: slide-in--up 420ms cubic-bezier(.165,.84,.44,1);
  animation: slide-in--up 420ms cubic-bezier(.165,.84,.44,1);
  animation-duration: 1s;
}
.signUpPromptBanner.isSticky{
  box-shadow: unset;
  -webkit-box-shadow: unset;
  -moz-box-shadow: unset;
}
.bannerTextContainer{
  width: 50%;
  margin-left: 50px;
  margin-top: 25px;
}
.prBannerLogoContainer{
  height: 45px;
  width: 103.5px;
}
.signUpPromptTitle{
  line-height: 1.75rem;
}
@media screen and (min-width: 1554px) {
   .signUpPromptBanner{
     height: 500px;
   }
}
@media screen and (min-width: 1271px) and (max-width: 1553px) {
   .signUpPromptBanner{
     height: 450px;
   }
}
@media screen and (min-width: 608px) and (max-width: 1270px) {
   .signUpPromptBanner{
     height: 370px;
   }
}
/*@media screen and (min-width: 608px) and (max-width: 1270px) {
   .signUpPromptBanner {
      height: 300px;
   }
}*/
@media screen and (min-width: 401px) and (max-width: 607px) {
   .signUpPromptBanner{
     height: 400px;
   }
}
@media screen and (max-width: 400px) {
   .signUpPromptBanner{
     height: 300px;
      background-position: -285px center;
      position: sticky;
      width: 101vw;
      margin-left: -37px;
   }
   .signUpPromptTitle{
     font-size: 22px;
     line-height: 1.5rem;
   }
   .prBannerLogoContainers{
     height: 30px;
     width: 69px;
   }
   .signUpBannerTopText{
     display: none;
   }
}
@media screen and (max-width: 485px) {
  .signUpBannerExtraText{
    display: none;
  }
  .signUpBannerTopText{
    margin-bottom: 20px;
  }
  .signUpPromptTitle{
    margin-top: 0;
  }
  .bannerTextContainer{
    width: 53%;
  }
}
@media screen and (min-width: 486px) {
  .signUpBannerTopText{
    position: absolute;
    margin-bottom: 0;
  }
  .signUpPromptTitle{
    margin-top: 55px;
  }
}
@media screen and (max-width: 1047px) {
   .signUpPromptTitle{
     font-size: 28px;
   }
}
@media screen and (max-width: 786px) {
   .signUpPromptTitle{
     font-size: 26px;
   }
}

@-webkit-keyframes highlighted-post-fade {
  0% {
    background-color: rgb(207 207 255 / 45%);
  }
  100% {
    background-color: rgba(0,0,0,0);
  }
}
@-moz-keyframes highlighted-post-fade {
  0% {
    background-color: rgb(207 207 255 / 45%);
  }
  100% {
    background-color: rgba(0,0,0,0);
  }
}
@-o-keyframes highlighted-post-fade {
  0% {
    background-color: rgb(207 207 255 / 45%);
  }
  100% {
    background-color: rgba(0,0,0,0);
  }
}
@keyframes highlighted-post-fade {
  0% {
    background-color: rgb(207 207 255 / 45%);
  }
  100% {
    background-color: rgba(0,0,0,0);
  }
}
