/* Dex last merged this code on 16th May 2019 */

.modal-title{
  font-size: 20px;
  line-height: 1.36363636;
  color: #2c2d30;
  font-weight: 900;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

.request-mentor-name{
  font-size: 20px;
  line-height: 1.36363636;
  color: #4e4ed6c9;
  font-weight: normal;
  margin: 0;
  width: 100%;
}

.request-btn-container{
  display: flex;
  width: 100%;
  justify-content: center;
}

.RequestChat-btn{
  color: #fff;
  font-weight: 600;
  background: #58d2bb;
  border-radius: .5rem;
  cursor: pointer;
  outline: none;
  border: none;
  height: 40px;
  min-width: 180px;
  text-align: center;
  padding: 0;
  transition: background .15s ease-out;
}

.RequestChat-btn:hover{
  background: #58d2bbd9;
  color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
}

.RequestChat-btn:disabled{
  color: #9f9fa0;
  background: #e0e1e2;
  cursor: default;
  box-shadow: none;
}

.RequestChat-btn:active{
  background: #58d2bb;
}

.requestChatMessage-Form{
  display: block;
  width: 100%;
  padding: 0 .75rem;
  margin: 0.25rem 0 2rem;
  border: 1px solid #C5C5C5;
  border-radius: .25rem;
  height: 75px;
  line-height: 40px;
  vertical-align: top;
  resize: none;
  outline: none;
}

.requestChatMessage-Form:focus{
  border: 2px solid #3f3f3f;
}

.need-ideas-container{
  margin-top: 20px;
  margin-bottom: 30px;
}

.ideas-icon-container{
  position: relative;
  margin-bottom: 5px;
  color: #4e4ed6c9;
  font-size: 25px;
  text-align: center;
}

.ideas-Title{
  text-align: center;
  font-weight: 600;
  color: #3c3ccade;
}

.ideas-list{
  list-style: none;
  padding-left: 40px;
  padding-right: 40px;
}

.ideas-list-item{
  margin-bottom: 15px;
}

.wave-emoji-icon{
  float: left;
  width: 30px;
  height: 30px;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
  background-image: url("https://unpkg.com/emoji-datasource-emojione@4.0.4/img/emojione/sheets-256/64.png");
  background-size: 5200% 5200%;
  background-position: 27.451% 72.549%;
}

.heart-emoji-icon{
  float: left;
  width: 30px;
  height: 30px;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
  background-image: url(https://unpkg.com/emoji-datasource-emojione@4.0.4/img/emojione/sheets-256/64.png);
  background-size: 5200% 5200%;
  background-position: 49.0196% 3.92157%;
}

.sunglasses-emoji-icon{
  float: left;
  width: 30px;
  height: 30px;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
  background-image: url(https://unpkg.com/emoji-datasource-emojione@4.0.4/img/emojione/sheets-256/64.png);
  background-size: 5200% 5200%;
  background-position: 58.8235% 74.5098%;
}

.idea-item-text{
  color: #3f3f3f;
  font-size: 15px;
}
