/* Dex last merged this code on 12th Dec 2019 */

.custom-select{
  position: relative;
  display: block;
  cursor: pointer;
  width: 200px;
}

.custom-select select {
  display: none;
}

.select-selected{
  user-select: none;
  padding: 10px;
  cursor: pointer;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

.select-item,
.select-active {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.select-item:hover {
  background-color: #e9e9e9;
}
.select-active {
  background-color: #351c75 !important;
  color: #ffffff;
  cursor: pointer;
}
