/* Dex last merged this code on 26th April 2020 */

svg {
  display: block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.select {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.selectContainer{
  line-height: 14px;
}

.select-placeholder{
  color: #d9d9d9;
  text-align: left;
  line-height: 14px;
  padding: 5px 10px;
}
.arrow {
  position: absolute;
  top: 5px;
  right: 5px;
  display: block;
  padding: 10px;
  font-size: 12px;
  color: #3f3f3f;
}
.options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: solid #d4d4d4;
  border-width: 0 1px;
  background: #fff;
  z-index: 99;
  box-shadow: 0 10px 8px 1px rgba(29,28,29,.3);
  border-bottom-left-radius: 2%;
  -webkit-border-bottom-left-radius: 2%;
  -moz-border-bottom-left-radius: 2%;
  -ms-border-bottom-left-radius: 2%;
  -o-border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
  -webkit-border-bottom-right-radius: 2%;
  -moz-border-bottom-right-radius: 2%;
  -ms-border-bottom-right-radius: 2%;
  -o-border-bottom-right-radius: 2%;

  border-top: none;
  overflow-y: auto;
  overflow-x: hidden;
}

.options.showDetail{
  max-height: calc(5 * 50px);
}
.options.noDetail{
  max-height: calc(5 * 40px);
}
.options::-webkit-scrollbar-track {
  background-color: #fff!important;
}

.option {
  padding: 10px 15px;
  border-bottom: 1px solid #d4d4d4;
  cursor: pointer;
}
.option.showDetail {
  height: 50px;
  padding-top: 6px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 6px;
  text-align: left;
}
.option.showDetail.extraTop {
  padding-top: 13px;
}
.option.noDetail{
  padding: 10px;
  height: 40px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.option.showIcon{
  display: flex;
  flex-direction: row;
  padding-left: 60px;
  position: relative;
}
.option-iconContainer{
  position: absolute;
  left: 15px;
  top: 0;
  display: inline-block;
}
.option-iconContainer.showDetail{
  height: 50px;
  width: 50px;
  padding: 5px;
}
.option-iconContainer.noDetail{
  height: 40px;
  width: 40px;
  padding: 5px;
}
.option-iconContainer img {
  max-width: 100%;
  max-height: 100%;
}
.option-detail{
  color: #a0a0a0;
  text-align: left;
  background-color: inherit;
  font-size: 0.8em;
  padding-top: 3px;
  margin-top: -.3rem;
}
.option.lastItem {
  border-bottom: none;
}

.option:hover {
  background-color: #e9e9e9;
}
.option.selected {
  margin: -1px -1px 0;
  background: #351c75 !important;
  color: #fff;
  cursor: pointer;
}
.option.selectedMultiple {
  display: none
}
.option.focused {
  background: #e9e9e9;
}

.value {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
}

.multiple {
  padding-right: 30px;
  margin-right: 5px;
  background: #f1f1ff;
  color: #8f8fe5;
  font-size: 0.8em;
  margin-bottom: 4px;
  border-radius: .25rem;
  -webkit-border-radius: .25rem;
}

.multiple.value:focus {
  border: 1px solid #d8d7f5;
  color: #4e4ed6;
  outline: none;
}

.delete {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  padding: 8px;
  font-size: 10px;
  cursor: pointer;
}

.checkbox {
  content: '';
  vertical-align: top;
  display: inline-block;
  width: 16px;
  height: 16px;
  padding: 2px;
  border: 1px solid $grey-border;
  border-radius: 2px;
  margin: 2px 12px 0 0;
  color: #fff;
  font-size: 10px;

  .selected & {
    border-color: $main-dark;
    background: $main;
  }
}
