/* Dex last merged this code on 10th Sept 2019 */

.typeformContainer{
  padding: 100px 85px;
  max-width: 518px;
  display: inline-block;
}

@media only screen and (max-width: 320px) {
  .typeformContainer{
    padding: 5rem 2rem;
  }
}
@media only screen and (min-width: 321px) and (max-width: 400px) {
  .typeformContainer{
    padding: 5rem 1.55rem;
  }
}
@media only screen and (min-width: 400px) and (max-width: 500px) {
  .typeformContainer{
    padding: 6rem 4rem;
  }
}
.typeformContainer h1 {
  line-height: 1em;
}
.typeformContainer.fullWidth{
  max-width: 918px;
}
.typeform-content{
  padding-bottom: 40px;
}

.embedded-typeform{
  height: 500px;
  width: 100%;
}
