/* Dex last merged this code on 25th June 2020  */

.typeformContainer{
  padding: 100px 85px;
  max-width: 518px;
  width: 518px;
/*  min-width: 488px; */
  display: inline-block;
  height: 100%;
}

@media only screen and (max-width: 320px) {
  .typeformContainer{
    padding: 5rem 1.5rem;
    width: 100%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 425px) {
  .typeformContainer{
    padding: 5rem 2.9rem;
    width: 100%;
  }
}
@media only screen and (min-width: 425px) and (max-width: 500px) {
  .typeformContainer{
    padding: 5rem 4rem;
    width: 100%;
  }
}
@media only screen and (min-width: 759px) and (max-width: 850px) {
  .typeformContainer{
    padding: 5rem 5rem;
    width: 100%;
  }
}
@media only screen and (min-width: 850px) {
  .typeformContainer{
    width: 518px;
  }
}

.typeformContainer h1 {
  line-height: 1em;
}
@media only screen and (max-width: 320px) {
  .typeformContainer h1 {
    font-size: 1.8rem;
  }
}
.typeformContainer.fullWidth{
  max-width: 918px;
}
.typeform-content{
  padding-bottom: 40px;
}

.embedded-typeform{
  min-height: 500px;
  width: 100%;
}
