/* Dex last merged this code on 24th sept 2020 */

/* SCREEN SIZING ADJUSTMENTS */
/* For Extra small devices (phones, 600px and down): */
[class*="col-"] {
  width: 100%;
}
[class*="col-"] {
  float: left;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
/* Medium devices (landscape tablets, 759px and up) */
@media only screen and (min-width: 759px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  height: 100%;
  background: #fff;
  font-size: 100%;
  font-family: Lato, Arial, Helvetica, sans-serif!important;
  display: block;
  margin: 0px;
  color: #3f3f3f;
}

body {
  margin: 0;
  font-family: Lato, Arial, Helvetica, sans-serif!important;
  font-size: 16px;
  line-height: normal;
  min-height: 100vh;
  max-width: 100%;
  height: auto!important;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll!important;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
}

h1{
  font-family: Lato, Arial, Helvetica, sans-serif!important;
}
h2{
  font-family: Lato, Arial, Helvetica, sans-serif!important;
  line-height: 1.1;
  font-size: 34px;
  font-weight: normal;
  margin-block-end: unset;
  margin-block-start: unset;
}
header{
  background-color: #58c5ec;
}
header, nav, article, section, aside, footer {
  display: block;
}
p{
  line-height: normal;
  margin-block-start: unset;
  margin-block-end: unset;
}
li {
  line-height: normal;
}
.single_post{
  padding: 0!important; /* required adjustment for wordpress formatting */
}
.center {
  width: 100%!important; /* required adjustment for wordpress formatting *//* required adjustment for wordpress formatting */
}
#content {
  margin-top: 0px!important; /* required adjustment for wordpress formatting */
}
/*i[class*='fa-'] {
  font-weight: 900!important;
  font-family: "Font Awesome 5 Free";
}*/
.alignCenter{
  margin: auto;
}
.alignRight{
  float: right!important;
}
.blackBackground{
  background-color: #3f3f3f;
}
.blackText{
  color: #3f3f3f;
}
.iconCircle,
.numberCircle{
  border-radius: 50%;
  background-color: rgb(0 204 255 / 13%);
  color: #00ccff;
  font-weight: 600;
  text-align: center;
  padding: 5px;
  margin-bottom: 20px;
}
.iconCircle{
  width: 80px;
  height: 80px;
  font-size: 30px;
  padding-top: 26px;
}
.numberCircle{
  width: 40px;
  height: 40px;
  font-size: 16px;
  padding-top: 10px;
}
.column{
  float: left;
  width: 50%;
  padding: 10px;
}
@media screen and (max-width: 600px) {
  .column:first-of-type{
    padding-bottom: 0;
  }
  .column {
    width: 100%;
    padding-top: 0;
  }
}
.columnBox{
  padding: 15px;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  margin-right: 10px;
  font-size: 16px;
}
@media screen and (max-width: 600px) {
  .columnBox{
    margin-bottom: 10px;
    margin-right: 0px;
  }
}

.columnItemText{
  margin-left: 35px;
  margin-top: -22px;
  font-weight: normal;
  line-height: normal;
}
.columnRow:after {
  content: "";
  display: table;
  clear: both;
}
.displayBlock{
  display: block;;
}
.fontSize10{
  font-size: 10px;
}
.fontSize16{
  font-size: 16px;
}
.fontSize18{
  font-size: 18px;
}
.fontSize20{
  font-size: 20px;
}
.fontSize21{
  font-size: 21px;
}
.fontSize28{
  font-size: 28px
}
.greyText{
  color: #b5b4b4;
}
.height200{
  height: 200px!important;
}
.lineNormal{
  line-height: normal;
}
.marginBottom20{
  margin-bottom: 20px;
}
.marginBottom30{
  margin-bottom: 30px;
}
.marginLeft35{
  margin-left: 35px;
}
.marginRight10{
  margin-right: 10px;
}
.marginTop0{
  margin-top: 0px!important;
}
.marginTop2{
  margin-top: 2px;
}
.marginTop5{
  margin-top: 5px;
}
.marginTop20{
  margin-top: 20px;
}
.marginTop40{
  margin-top: 40px;
}
.maxHeight250{
  max-height: 250px;
}
.maxHeight350{
  max-height: 350px;
}
.maxWidth80pc{
  max-width: 80%;
}
@media screen and (max-width: 600px) {
  .maxWidth80pc {
    max-width: unset;
  }
}
.maxWidth100pc{
  max-width: 100%;
}
.maxWidth180{
  max-width: 180px!important;
}
.maxWidth500{
  max-width: 500px;
}
.maxWidth650{
  max-width: 650px;
}
.maxWidth1000{
  max-width: 1000px;
}
.noBold{
  font-weight: normal;
}
.padding20{
  padding: 20px;
}
.paddingBottom0{
  padding-bottom: 0px!important;
}
.paddingBottom5{
  padding-bottom: 5px!important;
}
.paddingBottom15{
  padding-bottom: 15px!important;
}
.paddingTop0{
  padding-top: 0!important;
}
.row{
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.row::after {
  content: "";
  clear: both;
  display: table;
  height: 100%;
}
.sandBackground{
  background-color: #f2f2f2;
}
.textCenter{
  text-align: center;
}
.tseBlue{
  color: #00ccff!important;
}
.tseBlueBackground{
  background-color: #00ccff;
}
.tseLightBlueBackground{
  background-color: rgb(0 204 255 / 23%);
}
.whiteText{
  color: #fff!important;
}
.width35{
  width: 35px;
}
.width230{
  width: 230px;
}

.pwdByMain{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 51vh;
  overflow:hidden;
  position: relative;
  background-image: url(https://theswiftexit.com/wp-content/uploads/2017/09/FreeResourcesPlaceholder.png);
  background-image: -webkit-linear-gradient(90deg,#58c5ec,rgb(88 197 236 / 0%)),url(https://theswiftexit.com/wp-content/uploads/2017/09/FreeResourcesPlaceholder.png);
}
@media only screen and (max-height: 650px) {
  .pwdByMain{
    min-height: 650px;
    max-height: 1100px;
  }
}
@media only screen and (max-width: 320px) {
  .pwdByMain{
    min-height: 1100px;
    max-height: 1100px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 400px) {
  .pwdByMain{
    min-height: 1000px;
    max-height: 1100px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 600px) {
  .pwdByMain{
    min-height: 900px;
    max-height: 1100px;
  }
}

.sectionMain{
  position: absolute;
  display: inline-block;
  margin-bottom: 15px;
  top: 22%;
}
.sectionMainContainer{
  padding: 0 15rem;
  margin: 0 auto;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
}
@media only screen and (min-width: 763px) and (max-width: 1028px){
  .sectionMainContainer{
    padding: 0 7.5rem;
  }
}
@media only screen and (min-width: 600px) and (max-width: 762px){
  .sectionMainContainer{
    padding: 0 5rem;
  }
}
@media only screen and (max-width: 599px){
  .sectionMainContainer{
    padding: 0 2.5rem;
  }
}

#typeform_launch_button{
  background-color: #3f3f3f;
  border: none;
  border-color: #3f3f3f;
  color: #f2f2f2;
  display: inline-block;
  width: 230px;
  line-height: 50px;
  font-family: Lato;
  text-align: center;
  border-radius: 12px;
  font-size: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#typeform_launch_button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#typeform_launch_button:active{
  background-color: #3f3f3f;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transform: translateY(4px);
}
#typeform_launch_button_blue{
  background-color: #75E6FF;
  border: none;
  border-color: #75E6FF;
  color: #3f3f3f;
  display: inline-block;
  width: 230px;
  line-height: 50px;
  font-family: Lato;
  text-align: center;
  border-radius: 12px;
  font-size: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  text-decoration: none;
}
#typeform_launch_button_blue:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#typeform_launch_button_blue:active{
  background-color: #3f3f3f;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transform: translateY(4px);
}
.initiativeHeader{
  font-weight: 700;
  line-height: 1.1875;
  letter-spacing: -.8px;
  margin-top: 1.5rem;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #3f3f3f;
  max-width: 550px;
}
.initiativeSubHeader{
  font-weight: 400;
  line-height: 1.44444444;
  letter-spacing: normal;
  color: #3f3f3f;
  max-width: 85vw;
  font-size: 18px;
}
.initiative-inline-link{
  text-decoration: underline;
  color: #00ccff;
  cursor: pointer;
}
.initiative-inline-link:hover {
  text-decoration: underline;
  color: #00a4cd;
  outline: 0;
  cursor: pointer;
}

.mainContentContainer{
  padding: 3rem 5rem;
  font-size: 30px;
  align-items: center;
  line-height: normal;
}

.logoItem{
  padding: 15px;
  max-width: 100px;
  display: flex;
  align-items: center;
}

.mainHeaders{
  font-size: 2.53rem;
  line-height: 1.1;
  font-weight: 900;
  max-width: 85vw;
}
.mainSubTxt{
  font-size: 1.3rem;
  line-height: 1.5;
  max-width: 85vw;
}
.img-responsive{
  display: block;
  width: 100%;
  max-width: 90vw;
  height: auto;
}

.mainContent{
  padding: 2.5rem 2rem;
  display: block!important;
  max-width: 1200px;
}
@media only screen and (max-width: 600px) {
  .mainContent:not(.internalBox){
    padding: 5rem 0rem;
  }
}

.whyJoinContainer{
  margin-right: auto;
  margin-left: auto;
  margin-top: 3rem;
  padding: 0 5rem;
  max-width: 1200px;
}
@media only screen and (max-width: 600px) {
  .whyJoinContainer{
    padding: 0 2.5rem;
  }
  .mainContentContainer{
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}

.whyJoinImg{
  max-height: 300px;
}

@media only screen and (max-width: 759px) {
  .courseImg{
    margin-left: 0px;
    margin-top: 40px;
  }
}

#stepsTitle{
  color: #fff;
}
.stepsLists{
  margin-bottom: 20px;
}
.stepsLists>.stepsList{
  display: none;
}
.stepsLists>.active{
  display: block;
}
.stepsList{
  padding-left: 30px;
}
li.ignoreList{
  list-style-type: disc;
}
#joinSteps ul.stepsList li:not(.ignoreList) {
  border-left: 2px dotted #00ccff;
  list-style-type: none;
  padding-left: 4rem;
  min-height: 8.5rem;
  position: relative;
  font-size: 16px;
  line-height: 26px;
  padding-bottom: 50px;
  color: #00ccff;
}
#joinSteps ul.stepsList li:not(.ignoreList):hover{
  border-left: 2px solid #00ccff;
}
.stepCrcl{
  position: absolute;
  top: 0;
  left: -30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 2px solid #00ccff;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  font-size: 24px;
  font-weight: 700;
  color: #00ccff;
  background-color: #fff;
}
.stepCrcl.full{
  color: #fff;
  background-color: #00ccff;
}
#joinSteps ul.stepsList li:hover .stepCrcl{
  color: #fff;
  background-color: #00ccff;
}
.stepTitle{
  font-size: 20px;
  margin: 5px 0 10px;
  font-weight: 700;
}
.stepDetail{
  font-size: 15px;
}
@media only screen and (max-width: 479px) {
  .stepsLists>.active{
    margin-top: 2rem;
  }
  #joinSteps ul.stepsList li:not(.ignoreList) {
    padding-left: 2rem;
  }
  .stepCrcl{
    left: -22px;
    width: 40px;
    height: 40px;
  }
}
