/* Dex last merged this code on 16th May 2019 */

.typeformContainer{
  padding: 100px 85px;
  max-width: 618px;
  display: inline-block;
}

.typeform-content{
  padding-bottom: 40px;
}

.embedded-typeform{
  height: 400px;
  width: 100%;
}
