/* Dex last merged this code on 10th August 2019 */

/* Removing Typeform default scrollbar formatting */
.css-w5pcnp.e12baen61{
  overflow: hidden;
  width: 100%;
  height: 100%;
}
iframe{
  border: 0px;
  width: 103.7%;
  overflow: scroll;
}
