/* Dex last merged this code on 16th May 2019 */

/* Removing Typeform default scrollbar formatting
.brWDeN
.ayhXL

.sc-jzJRlG.ayhXL::-webkit-scrollbar {
  width: 8px;
}
.sc-jzJRlG.ayhXL::-webkit-scrollbar-track {
  right: 12px;
  top:0;
  bottom:0;
}
.sc-jzJRlG.ayhXL::-webkit-scrollbar-thumb {
  background: rgb(63,63,63,0.45);
  border-radius: 8px;
}
.sc-jzJRlG.ayhXL::-webkit-scrollbar-thumb:hover {
  background: rgb(63,63,635, 0.45);
}
*/
