.menuModal-scrollArea{
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  outline: none;
  transform: translateZ(0);
  height: 100%;
  width: 100%;
  // display: flex;
  // flex-direction: column;
  visibility: hidden;
}

.menuModalscrollArea:hover{
  visibility: visible;
  // overflow-y: visible;
}

.userMenuContainer{
  visibility: visible;
  overflow: visible;
  height: 100%;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  right: 12px;
  top:0;
  bottom:0;
}

::-webkit-scrollbar-thumb {
  background: rgb(255,255,255,0.45);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(216, 215, 245, 0.45);
}
