/* Dex last merged this code on 7th sept 2020 */

.userMenuContainer{
  visibility: visible;
  overflow: visible;
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
}

.userMenu-you{
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
  clear: both;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0;
  width: 100%;
  display: block;
}

.userMenu-header{
  height: 40px;
  margin: 16px 24px 8px;
}

.userMenu-thumb{
  float: left;
  margin-right: 10px;
  width: 36px;
  height: 36px;
  border-radius: .2rem;
  -webkit-border-radius: .2rem;
  -moz-border-radius: .2rem;
  -ms-border-radius: .2rem;
  -o-border-radius: .2rem;
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  background-size: cover;
  background-position: center center;
}
.userMenu-thumb.noPic{
  font-size: 20px;
  text-align: center;
  color: #fff;
}
.userMenu-thumb.noPic.isMe{
  background-color: #e6ddfd;
}
.userMenu-thumb.noPic.isntMe{
  background-color: rgb(53,28,117);
  background-color: rgba(53,28,117,.5);
}
.userMenu-name{
  font-size: 1.125rem;
  line-height: 1.5rem;
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  transform: translateY(-.1875rem);
  -webkit-transform: translateY(-.1875rem);
  -moz-transform: translateY(-.1875rem);
  -ms-transform: translateY(-.1875rem);
  -o-transform: translateY(-.1875rem);
  cursor: text;
}

.userMenu-preferred-name{
  font-size: .9375rem;
  line-height: 1.125rem;
  color: #868686;
  font-weight: 500;
  user-select: auto;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  transform: translateY(-.3125rem);
  -webkit-transform: translateY(-.3125rem);
  -moz-transform: translateY(-.3125rem);
  -ms-transform: translateY(-.3125rem);
  -o-transform: translateY(-.3125rem);
  cursor: text;
}

.userMenu-list{
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  list-style-type: none;
}

.userMenu-list-item{
  line-height: 32px;
  margin: 0;
  cursor: pointer;
}

.userMenu-list-item:hover,
.userMenu-link:focus,
.userMenu-list-item:focus-within,
.ModalOpenBtn.ModalOpenBtn-settings:focus .userMenu-list-item {
  background-color: #e0f2f0;
}

.userMenu-list-item:hover .userMenuLabel,
.userMenu-list-item:hover .settings-Btn-txt,
.userMenu-link:focus .userMenuLabel,
.userMenu-link:focus .settings-Btn-txt,
.ModalOpenBtn.ModalOpenBtn-settings:focus .settings-Btn-txt {
  color: #1dba86;
}

.userMenu-list-item-nohover{
  line-height: 32px;
  margin: 0;
}

.userMenu-link{
  text-decoration: none;
  font-size: 15px;
  display: block;
  padding: 0 24px;
  margin: 0;
  white-space: nowrap;
  outline: 0;
  background: 0 0;
  color: #3f3f3f!important;
  cursor: pointer;
}

.userMenuLabel{
  position: relative;
  top: -1px;
}

.userMenu-eduInst{
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
  clear: both;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0;
  width: 100%;
  display: block;
  border-top: 1px solid rgba(0,0,0,.05);
  opacity: .9;
}

.userMenu-eduInstThumb{
  background-image: url(https://prospela.com/wp-content/uploads/2019/03/Lock-Icon.png);
  float: left;
  margin-right: 10px;
  width: 26px;
  height: 36px;
  border-radius: .2rem;
  -webkit-border-radius: .2rem;
  -moz-border-radius: .2rem;
  -ms-border-radius: .2rem;
  -o-border-radius: .2rem;
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
}

.userMenu-eduInstDetail{
  padding: 8px 24px;
  white-space: normal;
  position: relative;
  font-size: 15px;
  line-height: 22px;
  margin: 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  display: inline-block;
}

.userMenu-settings{
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
  clear: both;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0;
  width: 100%;
  display: block;
  border-top: 1px solid rgba(0,0,0,.05);
}
