<!-- merged this code on 15th Sept 2019 -->

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- force IE8+ into standards mode -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8" />
  <meta name="description" content="Prospela.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon preload" href="https://prospela.com/wp-content/uploads/2018/04/Prospela_Favicon_vLatest.png">
  <link rel="icon preload" href="https://prospela.com/wp-content/uploads/2018/04/Prospela_Favicon_vLatest.png" sizes="32x32">
  <link rel="icon preload" href="https://prospela.com/wp-content/uploads/2018/04/Prospela_Favicon_vLatest.png" sizes="192x192">
  <link rel="apple-touch-icon-precomposed preload" href="https://prospela.com/wp-content/uploads/2018/04/Prospela_Favicon_vLatest.png">
  <meta name="msapplication-TileImage" content="https://prospela.com/wp-content/uploads/2018/04/Prospela_Favicon_vLatest.png">
  <link rel="preload stylesheet" href="./css/App.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='preload stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Signika' rel='preload stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='preload stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='preload stylesheet'>
  <link rel="preload stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-96909912-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-96909912-2');
  </script>
  <title>Prospela Dashboard</title>
</head>

<body>
  <div id="root"></div>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <script src="bundle.js"></script>
</body>

</html>
